2019-2023/Lib/selection_ArduinoAndTelemetrySimulation_v4_MIN.json
[{"id":"efd0fbcf.9fb978","type":"subflow","name":"Telemetry and RC (min, sim)","info":"# Connect via USB-Telemetry Radio to Pixhawk 4 with Telemetry Radio\n\nMAVlink telemetry information is received automatically\n\nAdditional control messages (RC) can be transmitted via message input\n\n**This is a simulation node, working together with a Boat simulator (arduino and telemetry)-node under Arduino-nodes.**","category":"Pixhawk","in":[{"x":120,"y":440,"wires":[{"id":"acac1678.55f4b8"}]}],"out":[{"x":940,"y":140,"wires":[{"id":"98b79554.4331a8","port":1}]},{"x":940,"y":240,"wires":[{"id":"98b79554.4331a8","port":2}]},{"x":940,"y":340,"wires":[{"id":"98b79554.4331a8","port":3}]}],"env":[],"color":"#C0DEED","inputLabels":["Send msg/RC-msg"],"outputLabels":["VFR_HUD","GLOBAL_POSITION_INT","CONTROL"],"icon":"node-red/bridge.svg","status":{"x":800,"y":520,"wires":[{"id":"eba4c4e7.48cf78","port":0}]}},{"id":"8349d779.c892d8","type":"udp in","z":"efd0fbcf.9fb978","name":"","iface":"","port":"8088","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":120,"wires":[["ad088a5c.f3a808","59fd95a6.c99c5c"]]},{"id":"1144c4.0d24bb3d","type":"udp out","z":"efd0fbcf.9fb978","name":"","addr":"","iface":"","port":"8880","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":620,"y":440,"wires":[]},{"id":"ad088a5c.f3a808","type":"function","z":"efd0fbcf.9fb978","name":"Remove Port","func":"msg.fromip = msg.fromip.substring(0, msg.fromip.search(\":\"));\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["b6ed0438.324b08"]]},{"id":"b6ed0438.324b08","type":"change","z":"efd0fbcf.9fb978","name":"Client IP","rules":[{"t":"set","p":"clientip","pt":"flow","to":"fromip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[[]]},{"id":"26400a7c.24d386","type":"change","z":"efd0fbcf.9fb978","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["1144c4.0d24bb3d"]]},{"id":"acac1678.55f4b8","type":"function","z":"efd0fbcf.9fb978","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["26400a7c.24d386"]]},{"id":"59fd95a6.c99c5c","type":"function","z":"efd0fbcf.9fb978","name":"string to object and selection","func":"msg = JSON.parse(msg.payload);\nif (typeof(msg) == \"object\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["98b79554.4331a8"]]},{"id":"42c00f6f.e12c","type":"inject","z":"efd0fbcf.9fb978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["dafebd83.ab56c"]]},{"id":"dafebd83.ab56c","type":"function","z":"efd0fbcf.9fb978","name":"Simulate status","func":"msg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Search for serial devices and starting MAVlink...\"};\nmsg.delay = 0;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"ring\",text:'Pixhawk/telemetry-device found (simulation)'};\nmsg.delay = 500;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'Serial Port is ready'};\nmsg.delay = 1000;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'Serial Port is open'};\nmsg.delay = 1500;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"ring\",text:'Mavlink is ready'};\nmsg.delay = 1800;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'connected'};\nmsg.delay = 2500;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["eba4c4e7.48cf78"]]},{"id":"eba4c4e7.48cf78","type":"delay","z":"efd0fbcf.9fb978","name":"delay messages","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":520,"wires":[[]]},{"id":"98b79554.4331a8","type":"switch","z":"efd0fbcf.9fb978","name":"Sort after msg-type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ATTITUDE","vt":"str"},{"t":"eq","v":"VFR_HUD","vt":"str"},{"t":"eq","v":"GLOBAL_POSITION_INT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":120,"wires":[[],[],[],[]],"outputLabels":["ATTITUDE","VFR_HUD","GLOBAL_POSITION_INT","NAMED_VALUE_FLOAT"]},{"id":"42bd2ef.6d4a0d","type":"change","z":"efd0fbcf.9fb978","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[[]]},{"id":"3560c154.c4307e","type":"debug","z":"efd0fbcf.9fb978","name":"ATTITUDE","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":80,"wires":[]},{"id":"2e58e43e.f9856c","type":"debug","z":"efd0fbcf.9fb978","name":"VFR_HUD","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":160,"wires":[]},{"id":"ab62ed61.0a284","type":"debug","z":"efd0fbcf.9fb978","name":"NAMED_VALUE_FLOAT","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":360,"wires":[]},{"id":"d2a846af.517238","type":"debug","z":"efd0fbcf.9fb978","name":"GLOBAL_POSITION_INT","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":260,"wires":[]},{"id":"cc5ad43.4463a28","type":"subflow","name":"Boat simulator (arduino and telemetry)","info":"This is the simulator. Use it if you use Arduino (sim) nodes (possibly with telemetry (sim) nodes).\n\nManual overwrite allows for setting battery to 'full' (msg.battery = 'full'), and for setting GPS start-point (msg.topic = 'posistion' with msg.lat, msg.lon and msg.heading in same input-msg).","category":"Arduino","in":[{"x":150,"y":500,"wires":[{"id":"70a65652.9390b8"},{"id":"97a253dc.0109b"}]}],"out":[],"env":[{"name":"maxspeed","type":"num","value":"5.14","ui":{"icon":"font-awesome/fa-sliders","label":{"en-US":"Max speed [m/s]"},"type":"input","opts":{"types":["num"]}}},{"name":"maxturning","type":"num","value":"10","ui":{"icon":"font-awesome/fa-sliders","label":{"en-US":"Max rate of turn [degrees/s]"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"debugmode","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-exclamation-circle","label":{"en-US":"Enable debug mode?"},"type":"checkbox","opts":{}}}],"color":"#C0C0C0","icon":"node-red/arduino.png"},{"id":"8801ce1d.c0f64","type":"udp in","z":"cc5ad43.4463a28","name":"","iface":"","port":"6583","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":180,"wires":[["e0ebc0b.08b694","7547f182.015d1"]]},{"id":"e0e76f94.b35e6","type":"debug","z":"cc5ad43.4463a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":140,"wires":[]},{"id":"551b967c.a4ebd8","type":"debug","z":"cc5ad43.4463a28","name":"Client IP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"fromip","targetType":"msg","x":780,"y":40,"wires":[]},{"id":"7547f182.015d1","type":"function","z":"cc5ad43.4463a28","name":"Remove Port","func":"msg.fromip = msg.fromip.substring(0, msg.fromip.search(\":\"));\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["7f7aac5a.e602c4","57f7abb1.5e4d74"]]},{"id":"7e422abc.be78b4","type":"switch","z":"cc5ad43.4463a28","name":"pin empty?","property":"pin","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":140,"wires":[["693d2233.79dc1c"]]},{"id":"e0ebc0b.08b694","type":"function","z":"cc5ad43.4463a28","name":"string to object and selection","func":"msg = JSON.parse(msg.payload);\nif (typeof(msg) == \"object\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["f1bdc92d.2b0b58","c1e67ecf.eb9a6"]]},{"id":"693d2233.79dc1c","type":"switch","z":"cc5ad43.4463a28","name":"type empty?","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":140,"wires":[["e0e76f94.b35e6"]]},{"id":"f1bdc92d.2b0b58","type":"switch","z":"cc5ad43.4463a28","name":"servo type?","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"servo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":280,"wires":[["6ba26f0f.2c9da"]]},{"id":"d8642e81.f0af9","type":"switch","z":"cc5ad43.4463a28","name":"Which motor?","property":"pin","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":940,"y":280,"wires":[["7eaee2b2.cb0bcc"],["fee061e0.948b4"],["3fe6f580.10856a"],["72fed8d.4b03428"],["b774f31f.c47a2"]]},{"id":"64fc660.261a89c","type":"change","z":"cc5ad43.4463a28","name":"Left motor","rules":[{"t":"set","p":"leftmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":240,"wires":[[]]},{"id":"6da7f167.ab456","type":"change","z":"cc5ad43.4463a28","name":"Right motor","rules":[{"t":"set","p":"rightmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":200,"wires":[[]]},{"id":"3fefcaa8.cfa126","type":"change","z":"cc5ad43.4463a28","name":"Main motor","rules":[{"t":"set","p":"mainmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":280,"wires":[[]]},{"id":"7f7aac5a.e602c4","type":"change","z":"cc5ad43.4463a28","name":"Client IP","rules":[{"t":"set","p":"clientip","pt":"flow","to":"fromip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[[]]},{"id":"54b38c28.f8e184","type":"udp out","z":"cc5ad43.4463a28","name":"Send to simulation","addr":"","iface":"","port":"8365","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1270,"y":1380,"wires":[]},{"id":"43b6d0d1.bc13d","type":"change","z":"cc5ad43.4463a28","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1380,"wires":[["54b38c28.f8e184"]]},{"id":"1fe6b812.a7f838","type":"inject","z":"cc5ad43.4463a28","name":"Update battery","topic":"","payload":"8.4","payloadType":"num","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1300,"wires":[["7b2e7d50.cfb634"]]},{"id":"624da07c.d97f8","type":"change","z":"cc5ad43.4463a28","name":"Battery Type & Pin","rules":[{"t":"set","p":"pin","pt":"msg","to":"A0","tot":"str"},{"t":"set","p":"type","pt":"msg","to":"analogue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1380,"wires":[["c166b379.d9c5"]]},{"id":"c166b379.d9c5","type":"function","z":"cc5ad43.4463a28","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1380,"wires":[["43b6d0d1.bc13d"]]},{"id":"7cf76d1c.d05694","type":"function","z":"cc5ad43.4463a28","name":"Scale with voltage devider to 5V output","func":"//Forventer spenningsdeler 1kOhm av 1+2.2 = 3.2 kOhm\nmsg.payload = msg.payload/(3.2*5)*1023;\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1380,"wires":[["624da07c.d97f8"]]},{"id":"70a65652.9390b8","type":"switch","z":"cc5ad43.4463a28","name":"Manual battery input?","property":"payload.battery","propertyType":"msg","rules":[{"t":"eq","v":"full","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":460,"wires":[["cd0c1582.ed45d8"]]},{"id":"cd0c1582.ed45d8","type":"change","z":"cc5ad43.4463a28","name":"battery to max Wh","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"38","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[[]]},{"id":"19b46149.23448f","type":"comment","z":"cc5ad43.4463a28","name":"Maintain ClientIP","info":"","x":120,"y":40,"wires":[]},{"id":"d7932206.7ee6","type":"comment","z":"cc5ad43.4463a28","name":"Get motor readings","info":"","x":130,"y":140,"wires":[]},{"id":"adfd1ac8.068038","type":"comment","z":"cc5ad43.4463a28","name":"Get manual override (battery & placement)","info":"","x":200,"y":420,"wires":[]},{"id":"97a253dc.0109b","type":"switch","z":"cc5ad43.4463a28","name":"Manual position input?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"posistion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":540,"wires":[["6800bd0e.e250b4"]]},{"id":"95cfb35f.8bfee","type":"comment","z":"cc5ad43.4463a28","name":"Estimate current power consumption and calculate remaining power","info":"","x":300,"y":1040,"wires":[]},{"id":"bcee037d.4ad7d","type":"inject","z":"cc5ad43.4463a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1100,"wires":[["38578623.b3edea"]]},{"id":"38578623.b3edea","type":"change","z":"cc5ad43.4463a28","name":"Get current motor state","rules":[{"t":"set","p":"leftmotor","pt":"msg","to":"leftmotor","tot":"flow"},{"t":"set","p":"rightmotor","pt":"msg","to":"rightmotor","tot":"flow"},{"t":"set","p":"mainmotor","pt":"msg","to":"mainmotor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1100,"wires":[["e92a34db.3ebd68"]]},{"id":"e92a34db.3ebd68","type":"function","z":"cc5ad43.4463a28","name":"Sum up to total power use","func":"var minuse = 0.68; //W\nvar leftuse = (Math.abs(msg.leftmotor - 90)/90.0)*100; //% usage\nleftuse = 0.11*leftuse; //W\nvar rightuse = (Math.abs(msg.rightmotor - 90)/90.0)*100; //% usage\nrightuse = 0.11*rightuse; //W\nvar mainuse = (Math.abs(msg.mainmotor - 90)/90.0)*100; //% usage\nmainuse = 0.11*mainuse; //W\nmsg.totaluse = minuse + leftuse + rightuse + mainuse;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1100,"wires":[["bb7752d4.599a"]]},{"id":"bb7752d4.599a","type":"change","z":"cc5ad43.4463a28","name":"Update current power usage","rules":[{"t":"set","p":"totalPowerUsage","pt":"flow","to":"totaluse","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["96b9828d.6d21c"]]},{"id":"ae0d5df8.f2188","type":"comment","z":"cc5ad43.4463a28","name":"Battery feedback over pin A0","info":"","x":200,"y":1260,"wires":[]},{"id":"7e355ad7.208974","type":"function","z":"cc5ad43.4463a28","name":"Calculate new remaining battery capacity","func":"var lasttime = context.get('lasttime')||Date.now();\nvar timenow = Date.now();\ncontext.set('lasttime',timenow);\nmsg.timeperiodeInHours = (timenow-lasttime)/(1000*60*60);\nif (typeof(msg.batteryCapacity) != 'number' || isNaN(msg.batteryCapacity)) {\n    msg.batteryCapacity = 38;   //full at default\n}\nmsg.batteryCapacity = Math.max(0.0, (msg.batteryCapacity - msg.totaluse*msg.timeperiodeInHours));\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1180,"wires":[["b6dbe0bc.f7bd2"]]},{"id":"96b9828d.6d21c","type":"change","z":"cc5ad43.4463a28","name":"Get current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"msg","to":"batteryCapacity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["7e355ad7.208974"]]},{"id":"b6dbe0bc.f7bd2","type":"change","z":"cc5ad43.4463a28","name":"Save current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"batteryCapacity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1180,"wires":[[]]},{"id":"b4a6457.44e28b8","type":"inject","z":"cc5ad43.4463a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":700,"wires":[["84c60202.41fa","f508d9fd.4e2bf8","98b61be3.eb4498","9c7f0bdb.c752e8","8bdfaba3.9d3aa8","375521ae.c6321e","921dec9b.5b65","d882df36.d7df6"]]},{"id":"8f6f4466.6dcd38","type":"comment","z":"cc5ad43.4463a28","name":"Set default values if not set","info":"","x":170,"y":640,"wires":[]},{"id":"84c60202.41fa","type":"switch","z":"cc5ad43.4463a28","name":"Left motor","property":"leftmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":640,"wires":[["1d0c5a34.6d8436"]]},{"id":"f508d9fd.4e2bf8","type":"switch","z":"cc5ad43.4463a28","name":"Right motor","property":"rightmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":680,"wires":[["6298bfce.e2e0c"]]},{"id":"9c7f0bdb.c752e8","type":"switch","z":"cc5ad43.4463a28","name":"Remaining Battery Capacity","property":"batteryCapacity","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":880,"wires":[["f0e9f342.02c23"]]},{"id":"98b61be3.eb4498","type":"switch","z":"cc5ad43.4463a28","name":"Main motor","property":"mainmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":720,"wires":[["3288b29b.0648ae"]]},{"id":"1d0c5a34.6d8436","type":"change","z":"cc5ad43.4463a28","name":"Left motor","rules":[{"t":"set","p":"leftmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":640,"wires":[[]]},{"id":"6298bfce.e2e0c","type":"change","z":"cc5ad43.4463a28","name":"Right motor","rules":[{"t":"set","p":"rightmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":680,"wires":[[]]},{"id":"3288b29b.0648ae","type":"change","z":"cc5ad43.4463a28","name":"Main motor","rules":[{"t":"set","p":"mainmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":720,"wires":[[]]},{"id":"f0e9f342.02c23","type":"change","z":"cc5ad43.4463a28","name":"Rem. Battery Capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"38","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":880,"wires":[[]]},{"id":"23e295c3.e3878a","type":"function","z":"cc5ad43.4463a28","name":"Battery model - voltage vs remaining capacity","func":"var level = msg.batteryCapacity/38.0;\n///////////////////////////////////\n/////Model constants /////////////\n///////////////////////////////////\n//Linear drop from 8.3 to 8.5 over 65% of capacity\nvar alin = 0.2/0.65;\n//Logarithmic drop for less then 20%\nvar alog = alin*Math.log(10)*0.2; \n// Exponential curve for more then 85%, between 8.5 and 9V\nvar c = 24.58403; //Linear solution for alin*e^0.15*c - alin = deltay*c with deltay = 0.5\nvar b = 8.5-alin/c;\nvar aexp = alin/(c*Math.exp(0.85*c));\n//////////////////////////////////\n\nif (level === 0) {\n    //Empty\n    msg.payload = 0;\n} else if (level < 0.20) {\n    //Log-phase\n    msg.payload = Math.log((level/0.2))*alog/Math.LN10+8.3;\n} else if (level < 0.85) {\n    //Linear phase\n    msg.payload = alin*(level-0.2)+8.3;\n} else if (level <= 1) {\n    //Exponential phase\n    msg.payload = aexp*Math.exp(c*level)+b;\n}\n\n///////////////////////////////////\n///// Temporary drop due to power consumption\n///////////////////////////////////\nvar aPowerDrop = -0.0475; // Volt per Watt\nmsg.payload = msg.payload + aPowerDrop*msg.totalPowerUsage;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1300,"wires":[["7cf76d1c.d05694"]]},{"id":"7b2e7d50.cfb634","type":"change","z":"cc5ad43.4463a28","name":"Get current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"msg","to":"batteryCapacity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1300,"wires":[["216576f4.31feba"]]},{"id":"216576f4.31feba","type":"change","z":"cc5ad43.4463a28","name":"Get current power usage","rules":[{"t":"set","p":"totalPowerUsage","pt":"msg","to":"totalPowerUsage","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1300,"wires":[["23e295c3.e3878a"]]},{"id":"8bdfaba3.9d3aa8","type":"change","z":"cc5ad43.4463a28","name":"Max speed","rules":[{"t":"set","p":"maxspeed","pt":"flow","to":"maxspeed","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[[]]},{"id":"64fa499d.1c8918","type":"change","z":"cc5ad43.4463a28","name":"position to manual position","rules":[{"t":"set","p":"lon","pt":"flow","to":"lon","tot":"msg"},{"t":"set","p":"lat","pt":"flow","to":"lat","tot":"msg"},{"t":"set","p":"heading","pt":"flow","to":"heading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":540,"wires":[[]]},{"id":"6800bd0e.e250b4","type":"switch","z":"cc5ad43.4463a28","name":"msg.lon set?","property":"lon","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":540,"wires":[["9438b131.f04ed"]]},{"id":"9438b131.f04ed","type":"switch","z":"cc5ad43.4463a28","name":"msg.lat set?","property":"lat","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":540,"wires":[["8c738ee1.0b863"]]},{"id":"8c738ee1.0b863","type":"switch","z":"cc5ad43.4463a28","name":"msg.heading set?","property":"heading","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":540,"wires":[["64fa499d.1c8918"]]},{"id":"7e6b88cc.c30aa8","type":"function","z":"cc5ad43.4463a28","name":"Update Lat/Lon via speed & bearing","func":"//Update flow-variables heading, lon, lat and time\n//Depends on vales for\n// Selv maintained:\n// - heading\n// - lat\n// - lon\n// Have to be set via other nodes/functions:\n// - rateOfTurn\n// - speed\n//\nNumber.prototype.toRadians = function() { return this * Math.PI / 180; };\nNumber.prototype.toDegrees = function() { return this * 180 / Math.PI; };\n\nvar φ1 = flow.get(\"lat\")||60.394195;\nvar λ1 = flow.get(\"lon\")||5.262922;\nvar T1 = context.get(\"lastupdatespeed\")||Date.now();\nvar T2 = Date.now();\ncontext.set(\"lastupdatespeed\", T2);\n\n//var brng = 180;\n//var speed = 4;                         //meter/seconds\nvar elapsedtime = (T2-T1)/(1000.0);     //seconds\n\nvar brngchange = flow.get(\"rateOfTurn\")||0;  //degrees/second\n//var brngchange = flow.get(\"bearingchange\")||0;  //degrees/second\n\nvar brng = flow.get(\"heading\")||0;\n//var brng = flow.get(\"bearing\")||0;\nbrng += brngchange*elapsedtime;\nif (brng < 0) {\n    brng = 360 + brng;\n}\nif (brng > 360) {\n    brng = brng - 360;\n}\nflow.set(\"heading\",brng);\n//flow.set(\"bearing\",brng);\n\nvar speed = flow.get(\"speed\")||0;\n\nvar d = speed * elapsedtime;            //meters\n//node.status({text: \"distance: \"+d+\", time: \"+elapsedtime})\n\nvar R = 6371e3; // metres\nφ1 = φ1.toRadians();\nλ1 = λ1.toRadians();\nbrng = brng.toRadians();\n\nvar φ2 = Math.asin( Math.sin(φ1)*Math.cos(d/R) +\n                    Math.cos(φ1)*Math.sin(d/R)*Math.cos(brng) );\nvar λ2 = λ1 + Math.atan2(Math.sin(brng)*Math.sin(d/R)*Math.cos(φ1),\n                         Math.cos(d/R)-Math.sin(φ1)*Math.sin(φ2));\n\nφ2 = φ2.toDegrees();\nλ2 = λ2.toDegrees();\n\nflow.set(\"lat\",φ2);\nflow.set(\"lon\",λ2);\nflow.set(\"time\",T2);\n","outputs":1,"noerr":0,"x":520,"y":1860,"wires":[[]]},{"id":"f1c74607.ccab28","type":"inject","z":"cc5ad43.4463a28","name":"Update GPS & heading","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1860,"wires":[["7e6b88cc.c30aa8"]]},{"id":"57f7abb1.5e4d74","type":"switch","z":"cc5ad43.4463a28","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":40,"wires":[["551b967c.a4ebd8"]]},{"id":"c1e67ecf.eb9a6","type":"switch","z":"cc5ad43.4463a28","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":140,"wires":[["7e422abc.be78b4"]]},{"id":"deaf6291.9f4a4","type":"change","z":"cc5ad43.4463a28","name":"Side rudders","rules":[{"t":"set","p":"siderudders","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":340,"wires":[[]]},{"id":"3f04f041.5cc22","type":"change","z":"cc5ad43.4463a28","name":"Main rudder","rules":[{"t":"set","p":"mainrudder","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":380,"wires":[[]]},{"id":"375521ae.c6321e","type":"switch","z":"cc5ad43.4463a28","name":"Side rudders","property":"siderudders","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":780,"wires":[["e83e63c0.f72db"]]},{"id":"e83e63c0.f72db","type":"change","z":"cc5ad43.4463a28","name":"Side rudders","rules":[{"t":"set","p":"siderudders","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":780,"wires":[[]]},{"id":"921dec9b.5b65","type":"switch","z":"cc5ad43.4463a28","name":"Main rudder","property":"mainrudder","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":820,"wires":[["d1c72357.f75b5"]]},{"id":"d1c72357.f75b5","type":"change","z":"cc5ad43.4463a28","name":"Main rudder","rules":[{"t":"set","p":"mainrudder","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":820,"wires":[[]]},{"id":"d882df36.d7df6","type":"change","z":"cc5ad43.4463a28","name":"Max turn rate","rules":[{"t":"set","p":"maxturning","pt":"flow","to":"maxturning","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[[]]},{"id":"39567e60.edb6a2","type":"comment","z":"cc5ad43.4463a28","name":"Calculate current speed and turning rate","info":"","x":230,"y":1520,"wires":[]},{"id":"504ec563.e3dadc","type":"comment","z":"cc5ad43.4463a28","name":"Update GPS-position and heading","info":"","x":220,"y":1800,"wires":[]},{"id":"b86d23a3.32eb5","type":"function","z":"cc5ad43.4463a28","name":"Calculate effective forward speed (with delay)","func":"var lastspeed = flow.get(\"speed\")||0.0;\nif (typeof(lastspeed) != \"number\") {\n    lastspeed = 0.0;\n}\n//\nmsg.leftmotorspeed = flow.get(\"leftmotor\");\nmsg.rightmotorspeed = flow.get(\"rightmotor\");\nmsg.mainmotorspeed = flow.get(\"mainmotor\");\n// \nmsg.maxspeed = env.get(\"maxspeed\")||5.14;\nmsg.maxturning = env.get(\"maxturning\")||10.0;\n//\n//Calculate delta-speed of side-motors:\n//negativ value is turning left, positiv value is turning right\n//Valuerange is -180 to +180 (0 for same direction)\nmsg.deltaSpeed = msg.leftmotorspeed - msg.rightmotorspeed;\n//Speed is sum of all motors:\nmsg.speed = msg.leftmotorspeed + msg.rightmotorspeed + msg.mainmotorspeed - 3.0*90.0;\n//Scale speed:\nmsg.speed = (msg.speed/(3*90.0))*msg.maxspeed;\n//Delay slowdown: 3:1 priority on new speed\nmsg.speed = ((lastspeed + 3*msg.speed)/4.0);//.toFixed(8);\nmsg.speed = Math.round(msg.speed*1E8)*1E-8;\nflow.set(\"speed\",msg.speed);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1580,"wires":[["18ba71e2.1b0bbe"]]},{"id":"18ba71e2.1b0bbe","type":"range","z":"cc5ad43.4463a28","minin":"-180","maxin":"180","minout":"-1","maxout":"1","action":"scale","round":false,"property":"deltaSpeed","name":"Scale deltaSpeed","x":870,"y":1580,"wires":[["eaae456c.92b468"]]},{"id":"f45448a9.1240b8","type":"inject","z":"cc5ad43.4463a28","name":"Update speed and turning-rate","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1580,"wires":[["b86d23a3.32eb5"]]},{"id":"6ba26f0f.2c9da","type":"function","z":"cc5ad43.4463a28","name":"string to number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["d8642e81.f0af9"]]},{"id":"c1845ebd.22e99","type":"debug","z":"cc5ad43.4463a28","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"speed","targetType":"msg","x":1310,"y":1640,"wires":[]},{"id":"578d1dfb.ff65b4","type":"debug","z":"cc5ad43.4463a28","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"deltaSpeed","targetType":"msg","x":1320,"y":1680,"wires":[]},{"id":"700731cc.ac6c","type":"switch","z":"cc5ad43.4463a28","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1720,"wires":[["c1845ebd.22e99","578d1dfb.ff65b4","8eefd95b.786b88","16678dcb.77ba42"]]},{"id":"7eaee2b2.cb0bcc","type":"range","z":"cc5ad43.4463a28","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":200,"wires":[["6da7f167.ab456"]]},{"id":"fee061e0.948b4","type":"range","z":"cc5ad43.4463a28","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":240,"wires":[["64fc660.261a89c"]]},{"id":"3fe6f580.10856a","type":"range","z":"cc5ad43.4463a28","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":280,"wires":[["3fefcaa8.cfa126"]]},{"id":"72fed8d.4b03428","type":"range","z":"cc5ad43.4463a28","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":340,"wires":[["deaf6291.9f4a4"]]},{"id":"b774f31f.c47a2","type":"range","z":"cc5ad43.4463a28","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":380,"wires":[["3f04f041.5cc22"]]},{"id":"a9e35233.c645f","type":"comment","z":"cc5ad43.4463a28","name":"Setting speed:","info":"","x":650,"y":1540,"wires":[]},{"id":"3b7ff44c.95340c","type":"comment","z":"cc5ad43.4463a28","name":"Setting rateOfTurn:","info":"","x":890,"y":1680,"wires":[]},{"id":"18139116.06e8bf","type":"function","z":"cc5ad43.4463a28","name":"Calculate effective Rate of Turn","func":"// expecting msg.rudder\n// also expecting to have msg.speed and msg.deltaSpeed available (both normalized)\n// also msg.maxturning and msg.maxspeed is expected (from env.get in first function of thread)\n//\n//Normalize rudder to (-1..+1) :\n//      msg.rudder = (msg.rudder-90.0)/90.0;\n//Turn-rate due to rudder:\n//mainrudder > 90 -> turn to left, mainrudder < 90 -> turn to right\n//In reverse, the heading is turning the other way, but this should be included due to speed-inclusion\nif (msg.speed < 0) {\n    //Reverse: turning is less efficient\n    msg.rateOfTurnRudder = -0.5*(msg.speed/msg.maxspeed)*msg.rudder*0.5*msg.maxturning;\n} else {\n    //Forward:\n    msg.rateOfTurnRudder = -1.0*(msg.speed/msg.maxspeed)*msg.rudder*0.5*msg.maxturning;\n}\n//Turn-rate due to deltaSpeed of side-motors:\nmsg.rateOfTurnDeltaSpeed = 1.0*msg.deltaSpeed*0.5*msg.maxturning;\n\nmsg.rateOfTurn = msg.rateOfTurnRudder + msg.rateOfTurnDeltaSpeed;\n\nflow.set(\"rateOfTurn\",msg.rateOfTurn);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1720,"wires":[["700731cc.ac6c"]]},{"id":"8eefd95b.786b88","type":"debug","z":"cc5ad43.4463a28","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"rateOfTurn","targetType":"msg","x":1320,"y":1720,"wires":[]},{"id":"32966f49.a2424","type":"range","z":"cc5ad43.4463a28","minin":"50","maxin":"130","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"rudder","name":"","x":590,"y":1720,"wires":[["18139116.06e8bf"]]},{"id":"eaae456c.92b468","type":"change","z":"cc5ad43.4463a28","name":"","rules":[{"t":"set","p":"rudder","pt":"msg","to":"mainrudder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1720,"wires":[["32966f49.a2424"]]},{"id":"16678dcb.77ba42","type":"debug","z":"cc5ad43.4463a28","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":1760,"wires":[]},{"id":"6e36d726.908ce8","type":"function","z":"cc5ad43.4463a28","name":"Calculate effective forward speed (no delay)","func":"msg.leftmotorspeed = flow.get(\"leftmotor\");\nmsg.rightmotorspeed = flow.get(\"rightmotor\");\nmsg.mainmotorspeed = flow.get(\"mainmotor\");\n// \nmsg.maxspeed = env.get(\"maxspeed\")||5.14;\nmsg.maxturning = env.get(\"maxturning\")||10.0;\n//\n//Calculate delta-speed of side-motors:\n//negativ value is turning left, positiv value is turning right\n//Valuerange is -180 to +180 (0 for same direction)\nmsg.deltaSpeed = msg.leftmotorspeed - msg.rightmotorspeed;\n//Speed is sum of all motors:\nmsg.speed = msg.leftmotorspeed + msg.rightmotorspeed + msg.mainmotorspeed - 3.0*90.0;\n//Scale speed:\nmsg.speed = (msg.speed/(3*90.0))*msg.maxspeed;\nflow.set(\"speed\",msg.speed);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1620,"wires":[[]]},{"id":"680f7a21.542a74","type":"comment","z":"cc5ad43.4463a28","name":"Telemetry interaction","info":"","x":150,"y":2020,"wires":[]},{"id":"58637cbd.5d41f4","type":"udp out","z":"cc5ad43.4463a28","name":"Send to Pixhawk-simulation","addr":"","iface":"","port":"8088","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1240,"y":2180,"wires":[]},{"id":"7831070.d69a8f8","type":"udp in","z":"cc5ad43.4463a28","name":"","iface":"","port":"8880","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":2320,"wires":[["ab64b5e9.5e88d8"]]},{"id":"ab64b5e9.5e88d8","type":"change","z":"cc5ad43.4463a28","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":2180,"wires":[["58637cbd.5d41f4"]]},{"id":"ef5b2a87.8a5788","type":"function","z":"cc5ad43.4463a28","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":2180,"wires":[["ab64b5e9.5e88d8"]]},{"id":"cfe4e517.e6cbc8","type":"comment","z":"cc5ad43.4463a28","name":"Loop input messages","info":"","x":220,"y":2280,"wires":[]},{"id":"9630fd6d.88142","type":"comment","z":"cc5ad43.4463a28","name":"Prepare and send updated sensor-data","info":"","x":270,"y":2080,"wires":[]},{"id":"144c3c9c.1bc413","type":"function","z":"cc5ad43.4463a28","name":"GLOBAL_POSITION_INT","func":"var firsttime = context.get(\"firsttime\")||0;\nif (firsttime === 0) {\n    firsttime = Date.now();\n    context.set(\"firsttime\",firsttime);\n}\n//\nmsg = {};\nmsg.payload = {};\nmsg.topic = \"GLOBAL_POSITION_INT\";\nmsg.payload.time_boot_ms = Date.now() - firsttime;\nmsg.payload.lat = flow.get(\"lat\")||0; msg.payload.lat = Math.round(msg.payload.lat*1E7);\nmsg.payload.lon = flow.get(\"lon\")||0; msg.payload.lon = Math.round(msg.payload.lon*1E7);\nmsg.payload.alt = flow.get(\"alt\")||0.00003;\nmsg.payload.relative_alt = flow.get(\"relative_alt\")||0.00002935;\nmsg.payload.vx = flow.get(\"vx\")||0;\nmsg.payload.vy = flow.get(\"vy\")||0;\nmsg.payload.vz = flow.get(\"vz\")||0;\nmsg.payload.hdg = flow.get(\"heading\")||0; msg.payload.hdg = Math.round(msg.payload.hdg*1E2)*1E-2;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2180,"wires":[["ef5b2a87.8a5788"]]},{"id":"dd321ebe.c00ac","type":"function","z":"cc5ad43.4463a28","name":"VFR_HUD","func":"msg = {};\nmsg.payload = {};\nmsg.topic = \"VFR_HUD\";\nmsg.payload.airspeed = flow.get(\"speed\")||0;\nmsg.payload.groundspeed = flow.get(\"speed\")||0;\nmsg.payload.heading = flow.get(\"heading\")||0; msg.payload.heading = Math.round(msg.payload.heading*1E2)*1E-2;\nmsg.payload.throttle = flow.get(\"throttle\")||0;\nmsg.payload.alt = flow.get(\"alt\")||0;\nmsg.payload.climb = flow.get(\"climb\")||0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2120,"wires":[["ef5b2a87.8a5788"]]},{"id":"e2de3857.5e1fb8","type":"inject","z":"cc5ad43.4463a28","name":"Send Telemetry data","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2140,"wires":[["dd321ebe.c00ac","144c3c9c.1bc413"]]},{"id":"a5f17e66.0aed7","type":"subflow","name":"arduino in (sim)","info":"Arduino input node (simulated). This node is simulating an Arduino input node (as used with Firmata), possibly simulated on an other device in the network. Enter the IP-address of the simulating device if used.","category":"Arduino","in":[],"out":[{"x":860,"y":100,"wires":[{"id":"80f84c69.e03ea","port":0}]}],"env":[{"name":"ip","type":"str","value":"127.0.0.1","ui":{"icon":"font-awesome/fa-tasks","label":{"en-US":"Arduino"},"type":"input","opts":{"types":["str"]}}},{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-wrench","label":{"en-US":"Type"},"type":"select","opts":{"opts":[{"l":{"en-US":"Digital (0/1)"},"v":"digital"},{"l":{"en-US":"Analogue (0-255)"},"v":"analogue"},{"l":{"en-US":"Servo (0-180)"},"v":"servo"},{"l":{"en-US":"String"},"v":"string"}]}}},{"name":"pin","type":"str","value":"","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"Pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/arduino.png","status":{"x":780,"y":260,"wires":[{"id":"39de10b8.13f23","port":0}]}},{"id":"3c50508b.f93ed","type":"udp in","z":"a5f17e66.0aed7","name":"Receive simulating data","iface":"","port":"8365","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":100,"wires":[["e28085e3.fdbe38"]]},{"id":"c2f3b458.54b658","type":"udp out","z":"a5f17e66.0aed7","name":"Send to simulator","addr":"","iface":"","port":"6583","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":710,"y":180,"wires":[]},{"id":"655ad338.8d362c","type":"inject","z":"a5f17e66.0aed7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":260,"wires":[["45b89bc4.dda624"]]},{"id":"45b89bc4.dda624","type":"function","z":"a5f17e66.0aed7","name":"Simulate status","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"connecting...\"};\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:\"connected\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["39de10b8.13f23"]]},{"id":"56c808ec.fdd8e8","type":"change","z":"a5f17e66.0aed7","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["c2f3b458.54b658"]]},{"id":"e28085e3.fdbe38","type":"change","z":"a5f17e66.0aed7","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["80f84c69.e03ea"]]},{"id":"80f84c69.e03ea","type":"function","z":"a5f17e66.0aed7","name":"string to msg and selection","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.pin == msg.pin && msg.payload.type == msg.type) {\n    msg.payload = msg.payload.payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"39de10b8.13f23","type":"delay","z":"a5f17e66.0aed7","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":260,"wires":[[]]},{"id":"555f61d9.9d63d","type":"inject","z":"a5f17e66.0aed7","name":"Inform simulator about the IP of this device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":180,"wires":[["56c808ec.fdd8e8"]]},{"id":"8eae9d6d.ac7be","type":"subflow","name":"arduino out (sim)","info":"Arduino output node (simulated). This node is simulating an Arduino output node (as used with Firmata), possibly simulated on an other device in the network. Enter the IP-address of the simulating device if used.","category":"Arduino","in":[{"x":60,"y":100,"wires":[{"id":"30fe8b6.133e974"}]}],"out":[],"env":[{"name":"ip","type":"str","value":"127.0.0.1","ui":{"icon":"font-awesome/fa-tasks","label":{"en-US":"Arduino"},"type":"input","opts":{"types":["str"]}}},{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-wrench","label":{"en-US":"Type"},"type":"select","opts":{"opts":[{"l":{"en-US":"Digital (0/1)"},"v":"digital"},{"l":{"en-US":"Analogue (0-255)"},"v":"analogue"},{"l":{"en-US":"Servo (0-180)"},"v":"servo"},{"l":{"en-US":"String"},"v":"string"}]}}},{"name":"pin","type":"str","value":"","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"Pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/arduino.png","status":{"x":720,"y":180,"wires":[{"id":"b865fd7e.592d1","port":0}]}},{"id":"7852ac2a.2f8374","type":"udp out","z":"8eae9d6d.ac7be","name":"Send to simulator","addr":"","iface":"","port":"6583","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":870,"y":100,"wires":[]},{"id":"2ae25e10.b42862","type":"inject","z":"8eae9d6d.ac7be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["a76a23ec.0e871"]]},{"id":"a76a23ec.0e871","type":"function","z":"8eae9d6d.ac7be","name":"Simulate status","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"connecting...\"};\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:\"connected\"};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["b865fd7e.592d1"]]},{"id":"feeec0e6.cf091","type":"change","z":"8eae9d6d.ac7be","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":100,"wires":[["7852ac2a.2f8374"]]},{"id":"30fe8b6.133e974","type":"change","z":"8eae9d6d.ac7be","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["462dff4.02afc"]]},{"id":"462dff4.02afc","type":"function","z":"8eae9d6d.ac7be","name":"msg to string","func":"msg.payload = msg.payload.toFixed(0);\nmsg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["feeec0e6.cf091"]]},{"id":"b865fd7e.592d1","type":"delay","z":"8eae9d6d.ac7be","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":180,"wires":[[]]},{"id":"1e3ec352.e1a73d","type":"debug","z":"a85e45ca.f30f88","name":"Radio Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1089,"y":853,"wires":[]},{"id":"aed32d9b.a7e7a","type":"subflow:8eae9d6d.ac7be","z":"a85e45ca.f30f88","name":"Hoved motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"11","type":"str"}],"x":914,"y":295,"wires":[]},{"id":"140fe44.7eea81c","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"180","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":574,"y":375,"wires":[["aed32d9b.a7e7a","743868f0.be7228","d4482896.0b2848"]]},{"id":"3f895720.f61d08","type":"subflow:a5f17e66.0aed7","z":"a85e45ca.f30f88","name":"","env":[{"name":"type","value":"analogue","type":"str"},{"name":"pin","value":"A0","type":"str"}],"x":584,"y":555,"wires":[["ea9fb716.e6f508"]]},{"id":"219dd83f.873e88","type":"subflow:cc5ad43.4463a28","z":"a85e45ca.f30f88","name":"","env":[{"name":"maxturning","value":"60","type":"num"}],"x":954,"y":995,"wires":[]},{"id":"8749c133.33389","type":"inject","z":"a85e45ca.f30f88","name":"Fill battery","topic":"","payload":"{\"battery\" : \"full\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":634,"y":975,"wires":[["219dd83f.873e88"]]},{"id":"e6be8c80.eecef","type":"debug","z":"a85e45ca.f30f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1074,"y":515,"wires":[]},{"id":"ea9fb716.e6f508","type":"function","z":"a85e45ca.f30f88","name":"A0 to batterivoltage","func":"//Forventer spenningsdeler 1kOhm av 1+2.2 = 3.2 kOhm\nmsg.payload = (3.2*5/1023*msg.payload).toFixed(2);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload + \" V\"});\nif (msg.payload > 7.5){\n    return [null,msg];\n} else {\n    return [msg,msg];\n}","outputs":2,"noerr":0,"x":834,"y":555,"wires":[["e6be8c80.eecef"],["d3c1fb79.df4af8"]],"inputLabels":["A0 input"],"outputLabels":["batterispenning kritisk lav","batterispenning"],"icon":"font-awesome/fa-battery-3"},{"id":"743868f0.be7228","type":"subflow:8eae9d6d.ac7be","z":"a85e45ca.f30f88","name":"Babord motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"10","type":"str"}],"x":914,"y":355,"wires":[]},{"id":"d4482896.0b2848","type":"subflow:8eae9d6d.ac7be","z":"a85e45ca.f30f88","name":"Styrbord motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"9","type":"str"}],"x":924,"y":415,"wires":[]},{"id":"bb506236.85945","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":574,"y":315,"wires":[["d4482896.0b2848","743868f0.be7228","aed32d9b.a7e7a"]]},{"id":"d3c1fb79.df4af8","type":"debug","z":"a85e45ca.f30f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1074,"y":575,"wires":[]},{"id":"2f796a90.a21606","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":574,"y":255,"wires":[["aed32d9b.a7e7a","743868f0.be7228","d4482896.0b2848"]]},{"id":"5fa02b46.d1e994","type":"inject","z":"a85e45ca.f30f88","name":"Set position","topic":"posistion","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":444,"y":1035,"wires":[["e685932c.d34fa"]]},{"id":"e685932c.d34fa","type":"change","z":"a85e45ca.f30f88","name":"New position","rules":[{"t":"set","p":"lon","pt":"msg","to":"5.262922","tot":"num"},{"t":"set","p":"lat","pt":"msg","to":"60.394195","tot":"num"},{"t":"set","p":"heading","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"posistion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":624,"y":1035,"wires":[["219dd83f.873e88"]]},{"id":"ec9308ab.8145c8","type":"subflow:8eae9d6d.ac7be","z":"a85e45ca.f30f88","name":"Hovedror","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"6","type":"str"}],"x":904,"y":175,"wires":[]},{"id":"56d0d4ba.35c33c","type":"subflow:8eae9d6d.ac7be","z":"a85e45ca.f30f88","name":"Siderorene","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"5","type":"str"}],"x":914,"y":75,"wires":[]},{"id":"826e3470.d8fc68","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":574,"y":75,"wires":[["ec9308ab.8145c8","56d0d4ba.35c33c"]]},{"id":"a5e45ee3.0fc44","type":"inject","z":"a85e45ca.f30f88","name":"maks venstre","topic":"","payload":"130","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":594,"y":175,"wires":[["ec9308ab.8145c8"]]},{"id":"22a0cc0b.32ca14","type":"inject","z":"a85e45ca.f30f88","name":"maks høyre","topic":"","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":594,"y":135,"wires":[["ec9308ab.8145c8"]]},{"id":"187cebf2.3d9884","type":"debug","z":"a85e45ca.f30f88","name":"GLOBAL_POSITION_INT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1114,"y":755,"wires":[]},{"id":"500aaead.40ffa","type":"debug","z":"a85e45ca.f30f88","name":"VFR_HUD","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1074,"y":715,"wires":[]},{"id":"8e7ea78c.830f48","type":"debug","z":"a85e45ca.f30f88","name":"ATTITUDE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1073,"y":674,"wires":[]},{"id":"754e7f56.fee45","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"test","payload":"32.545","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":484,"y":775,"wires":[["85aa22fd.af652"]]},{"id":"85aa22fd.af652","type":"subflow:efd0fbcf.9fb978","z":"a85e45ca.f30f88","name":"","env":[],"x":764,"y":775,"wires":[["500aaead.40ffa"],["187cebf2.3d9884"],["1e3ec352.e1a73d"]]}]