2019-2023/Lib/Universal_Dualshock_subflow_v3.1.json
[{"id":"e33c822d.04fbc","type":"subflow","name":"Bluetooth I/O","info":"# Uses node-hid for interaction with Wireless Controller of type Dualshock PS4\n\n**Requires node-hid:**\nnpm install node-hid\nnpm install crc\n\n**Modify settings.js:**\nLinux:\nHID:require('/usr/lib/node_modules/node-hid/nodehid.js'),\ncrc:require('/home/pi/node_modules/crc')\nWindows:\nHID:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\node-hid\\\\nodehid.js'),\ncrc:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\crc')\n\n**Add permission to udev:**\nsudo leafpad /etc/udev/rules.d/90-hidraw-permissions.rules\nKERNEL==\"hidraw*\", SUBSYSTEM==\"hidraw\", MODE=\"0664\", GROUP=\"plugdev\"\nsudo udevadm control --reload-rules\n\n**Example input variables:**\nmsg.rumbleLeft\nmsg.rumbleRight\nmsg.r\nmsg.g\nmsg.b\n\n**Example output:**\n{\"leftAnalogX\":132,\"leftAnalogY\":128,\"rightAnalogX\":126,\"rightAnalogY\":124,\"l2Analog\":0,\"r2Analog\":0,\"dPadUp\":false,\"dPadRight\":false,\"dPadDown\":false,\"dPadLeft\":false,\"cross\":false,\"circle\":false,\"square\":false,\"triangle\":false,\"l1\":false,\"l2\":false,\"r1\":false,\"r2\":false,\"l3\":false,\"r3\":false,\"share\":false,\"options\":false,\"trackPadButton\":false,\"psButton\":false,\"motionY\":-4,\"motionX\":0,\"motionZ\":6,\"orientationRoll\":-28,\"orientationYaw\":7976,\"orientationPitch\":1676,\"trackPadTouch0Id\":1,\"trackPadTouch0Active\":false,\"trackPadTouch0X\":1352,\"trackPadTouch0Y\":876,\"trackPadTouch1Id\":0,\"trackPadTouch1Active\":false,\"trackPadTouch1X\":0,\"trackPadTouch1Y\":0,\"timestamp\":10,\"batteryLevel\":6}\n\n**Comment:**\nRumble is set to reset itself, but also the controller will reset it after some time.","category":"Dualshock","in":[{"x":160,"y":880,"wires":[{"id":"3dee72fd.7b3c6e"}]}],"out":[{"x":1240,"y":220,"wires":[{"id":"d922c97e.01d908","port":0}]},{"x":1240,"y":260,"wires":[{"id":"f32d0a01.6f5de8","port":0}]},{"x":1240,"y":300,"wires":[{"id":"7539a594.ccb89c","port":0}]},{"x":1240,"y":360,"wires":[{"id":"f74a25fe.9077c8","port":0}]},{"x":1240,"y":400,"wires":[{"id":"9f9078d2.db0e58","port":0}]},{"x":1240,"y":440,"wires":[{"id":"71e3776e.406ff8","port":0}]},{"x":1240,"y":480,"wires":[{"id":"ae1f118d.6e5e8","port":0}]},{"x":1240,"y":540,"wires":[{"id":"b0415300.240f3","port":0}]},{"x":1240,"y":580,"wires":[{"id":"94a5b598.7f8768","port":0}]},{"x":1240,"y":620,"wires":[{"id":"cf34eda5.1cd9b","port":0}]},{"x":1240,"y":660,"wires":[{"id":"14580a50.539a96","port":0}]},{"x":1240,"y":720,"wires":[{"id":"927344a8.fa6428","port":0}]},{"x":1240,"y":760,"wires":[{"id":"d3869b61.8c9378","port":0}]},{"x":1240,"y":820,"wires":[{"id":"b614b38c.d4d32","port":0}]},{"x":1240,"y":860,"wires":[{"id":"f48d9794.37aef8","port":0}]},{"x":1240,"y":900,"wires":[{"id":"6ea4ec2e.43d394","port":0}]},{"x":1240,"y":940,"wires":[{"id":"2dc7fe70.8c58f2","port":0}]},{"x":1240,"y":1000,"wires":[{"id":"34ebcef4.b8bef2","port":0}]},{"x":1240,"y":1040,"wires":[{"id":"6ebce06c.f9ce8","port":0}]},{"x":1240,"y":1100,"wires":[{"id":"86d01516.276328","port":0}]},{"x":1240,"y":1140,"wires":[{"id":"b5997d85.63589","port":0}]},{"x":1240,"y":1200,"wires":[{"id":"33ecf639.c17ada","port":0}]},{"x":1240,"y":1240,"wires":[{"id":"58fae79e.018288","port":0}]},{"x":1240,"y":1300,"wires":[{"id":"be01705d.09016","port":0}]},{"x":780,"y":340,"wires":[{"id":"4816eeb1.dcb04","port":0}]},{"x":640,"y":880,"wires":[{"id":"3dee72fd.7b3c6e","port":0}]}],"env":[],"color":"#C0DEED","inputLabels":["Input"],"outputLabels":["psButton","options","share","triangle","cross","square","circle","l1","l2","r1","r2","l3","r3","dPadUp","dPadDown","dPadLeft","dPadRight","leftAnalogX","leftAnalogY","rightAnalogX","rightAnalogY","l2Analog","r2Analog","batteryLevel","Raw data","Send-report"],"icon":"node-red/bluetooth.png","status":{"x":620,"y":360,"wires":[{"id":"11da7c21.695b54","port":0},{"id":"7701ed9f.0db794","port":0},{"id":"2c8a66ec.baebca","port":0}]}},{"id":"2a6b7545.b12c4a","type":"inject","z":"e33c822d.04fbc","name":"(Re)start receiving data","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["a9999159.89a39"]]},{"id":"1b43171f.05a459","type":"function","z":"e33c822d.04fbc","name":"List of devices","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\n//console.log('devices:', HID.devices());\nmsg.devices = HID.devices();\nflow.set(\"HIDdevices\",msg.devices);\n\n//var device = new HID.HID(0x54c,0x9cc,\"dc:0c:2d:f9:2c:a5\");\n//msg.report = device.getFeatureReport(0x04, 66);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["bc79276.d409dd8"]]},{"id":"bc79276.d409dd8","type":"debug","z":"e33c822d.04fbc","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","x":650,"y":120,"wires":[]},{"id":"4816eeb1.dcb04","type":"function","z":"e33c822d.04fbc","name":"Continuous data-stream","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\nvar product = \"Wireless Controller\";\n\n//var HIDdevices = flow.get(\"HIDdevices\");\n\nfunction findPathToProduct(product) {\n    var HIDdevices = flow.get(\"HIDdevices\")||[];\n    for (var i=0; i<HIDdevices.length; i++) {\n        //console.log(ports[i].manufacturer);\n        if (HIDdevices[i].product == product) {\n            flow.set(\"device\",HIDdevices[i]);\n            return HIDdevices[i].path;\n        }\n    }\n}\n\nvar devicepath = findPathToProduct(product);    //product description for DS4 as HID device\n\nif (devicepath === undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:'Device not found'});\n    return;\n} else {\n    node.status({fill:\"yellow\",shape:\"dot\",text:'Wireless Controller-device found at port '+devicepath});\n    console.log('Wireless Controller-device found at port '+devicepath);\n}\n\n//var device = new HID.HID(msg.payload[0].vendorId,msg.payload[0].productId,msg.payload[0].serialNumber);\nvar device = new HID.HID(devicepath);\n//msg.report = device.getFeatureReport(0x04, 66);\n\n// Buffer -> DS4State\nfunction parseDS4HIDData(buf) {\n  var dPad = buf[5] & 15;\n  return {\n    leftAnalogX: buf[1],\n    leftAnalogY: buf[2],\n    rightAnalogX: buf[3],\n    rightAnalogY: buf[4],\n    l2Analog: buf[8],\n    r2Analog: buf[9],\n\n    dPadUp:    dPad === 0 || dPad === 1 || dPad === 7,\n    dPadRight: dPad === 1 || dPad === 2 || dPad === 3,\n    dPadDown:  dPad === 3 || dPad === 4 || dPad === 5,\n    dPadLeft:  dPad === 5 || dPad === 6 || dPad === 7,\n\n    cross: (buf[5] & 32) !== 0,\n    circle: (buf[5] & 64) !== 0,\n    square: (buf[5] & 16) !== 0,\n    triangle: (buf[5] & 128) !== 0,\n\n    l1: (buf[6] & 0x01) !== 0,\n    l2: (buf[6] & 0x04) !== 0,\n    r1: (buf[6] & 0x02) !== 0,\n    r2: (buf[6] & 0x08) !== 0,\n    l3: (buf[6] & 0x40) !== 0,\n    r3: (buf[6] & 0x80) !== 0,\n\n    share: (buf[6] & 0x10) !== 0,\n    options: (buf[6] & 0x20) !== 0,\n    trackPadButton: (buf[7] & 2) !== 0,\n    psButton: (buf[7] & 1) !== 0,\n\n    // ACCEL/GYRO\n    motionY: buf.readInt16LE(13),\n    motionX: -buf.readInt16LE(15),\n    motionZ: -buf.readInt16LE(17),\n\n    orientationRoll: -buf.readInt16LE(19),\n    orientationYaw: buf.readInt16LE(21),\n    orientationPitch: buf.readInt16LE(23),\n\n    // TRACKPAD\n    trackPadTouch0Id: buf[35] & 0x7f,\n    trackPadTouch0Active: (buf[35] >> 7) === 0,\n    trackPadTouch0X: ((buf[37] & 0x0f) << 8) | buf[36],\n    trackPadTouch0Y: buf[38] << 4 | ((buf[37] & 0xf0) >> 4),\n\n    trackPadTouch1Id: buf[39] & 0x7f,\n    trackPadTouch1Active: (buf[39] >> 7) === 0,\n    trackPadTouch1X: ((buf[41] & 0x0f) << 8) | buf[40],\n    trackPadTouch1Y: buf[42] << 4 | ((buf[41] & 0xf0) >> 4),\n\n    timestamp: buf[7] >> 2,\n    //battery: buf[12],\n    //batteryShort1: buf[12] & 0x0f,\n    //batteryShort2: buf[12] & 0xf0,\n    batteryLevel: buf[12]\n  };\n}\n\ndevice.on('data', function(buf) {\n    //node.status({fill:\"green\",shape:\"dot\",text:'connected'});\n    //console.log(parseDS4HIDData(buf.slice(2)));\n    msg.payload = parseDS4HIDData(buf.slice(2));\n    node.send(msg);\n});\n\ndevice.on(\"error\", function(err) {\n    console.log(err);\n});\n","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["6e3f845c.6f733c","57cdcae4.719834","a1070f0d.943b","10ce6aed.1ac1d5","2abeffc7.79b22","4c34092c.02ec28","7d306488.fe78ec","1e76918.38f356f","58aa458e.618c5c","19726c61.5d2204","e3022ca8.fb138","6c634777.a93a58","62bbeac1.65dd64","f1c52a2b.6b8aa8","9a0f2fbd.0ca4f","a5bb6419.0c1758","9751fad4.88bdc8","e8eedda0.13dd4","89e751eb.ce288","fcdf0774.1c51b8","d26d4676.0210c8","f145e362.c63d4","a3d76302.843d4","888f253b.116fc8","8cf07be2.58fe68","74be0f2e.61159"]]},{"id":"6e3f845c.6f733c","type":"debug","z":"e33c822d.04fbc","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":80,"wires":[]},{"id":"57cdcae4.719834","type":"change","z":"e33c822d.04fbc","name":"batteryLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batteryLevel","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"batteryLevel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1300,"wires":[["be01705d.09016"]]},{"id":"be01705d.09016","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1300,"wires":[[]]},{"id":"3dee72fd.7b3c6e","type":"function","z":"e33c822d.04fbc","name":"Send data","func":"var HID = global.get(\"HID\");\nvar crc = global.get(\"crc\");\n\nvar HIDdevice = flow.get(\"device\");\n\nvar device = new HID.HID(HIDdevice.path);\nmsg.report = device.getFeatureReport(0x04, 66);\n\nvar data = {};\n\n//data.rumbleRight = 200;\n//data.rumbleLeft = 200;\nif (msg.rumbleRight === undefined) {\n    data.rumbleRight = flow.get(\"rumbleRight\");\n} else {\n    data.rumbleRight = msg.rumbleRight;\n}\nif (msg.rumbleLeft === undefined) {\n    data.rumbleLeft = flow.get(\"rumbleLeft\");\n} else {\n    data.rumbleLeft = msg.rumbleLeft;\n}\n\n\n//data.r = 120;\n//data.g = 120;\n//data.b = 120;\nif (msg.r === undefined) {\n    data.r = flow.get(\"r\");\n} else {\n    data.r = msg.r;\n}\nif (msg.g === undefined) {\n    data.g = flow.get(\"g\");\n} else {\n    data.g = msg.g;\n}\nif (msg.b === undefined) {\n    data.b = flow.get(\"b\");\n} else {\n    data.b = msg.b;\n}\n\n//Save back to flow-variables\nflow.set(\"rumbleRight\",data.rumbleRight);\nflow.set(\"rumbleLeft\",data.rumbleLeft);\nflow.set(\"r\",data.r);\nflow.set(\"g\",data.g);\nflow.set(\"b\",data.b);\n\n// Set rumble and LED\n// stolen from:\n// https://github.com/torvalds/linux/blob/master/drivers/hid/hid-sony.c#L2048\n// https://github.com/todbot/node-hid-ds4-test/blob/master/node-hid-ds4-test.js\nfunction setRumbleLed(rumbleL, rumbleR, ledR,ledG,ledB) {\n\n    var buf = Array(78-4).fill(0); // 4 bytes short for CRC32 calc below\n    buf[0]  = 0x11; // reportId\n    buf[1]  = 0x80;\n    buf[3]  = 0x0f;\n    buf[6]  = rumbleL;\n    buf[7]  = rumbleR;\n    buf[8]  = ledR;\n    buf[9]  = ledG;\n    buf[10] = ledB;\n    \n    // calculate crc32, add those 4 bytes to end of buf array\n    var tmpbuf = buf.slice(0); // clone\n    tmpbuf.unshift( 0xA2 ); // add bluetooth header byte for crc32\n    var crc32 = crc.crc32( tmpbuf );\n    buf[74] = (crc32 & 0x000000ff) >> 0;\n    buf[75] = (crc32 & 0x0000ff00) >> 8;\n    buf[76] = (crc32 & 0x00ff0000) >> 16;\n    buf[77] = (crc32 & 0xff000000) >> 24;\n    // end crc32 calc\n    \n    //console.log(\"outbuf:\",\"len:\",buf.length, \"vals:\",buf.join(','));\n    device.write(buf);\n    //node.status({fill:\"green\",shape:\"dot\",text:'Message sent'});\n\n}\n\nsetRumbleLed( data.rumbleLeft, data.rumbleRight, data.r, data.g, data.b);\n\nif (data.rumbleLeft > 0 || data.rumbleRight > 0) {\n    msg.rumbleReset = true;\n} else {\n    msg.rumbleReset = false;\n    msg.reset = true;\n}\n\nreturn [msg,data];","outputs":2,"noerr":0,"x":330,"y":880,"wires":[["b33e2606.941ab8"],[]]},{"id":"1a73cf34.1ea501","type":"delay","z":"e33c822d.04fbc","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":220,"wires":[["4816eeb1.dcb04"]]},{"id":"a1070f0d.943b","type":"trigger","z":"e33c822d.04fbc","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reconnect if needed","x":980,"y":140,"wires":[["ad7e7a2c.685088"]]},{"id":"ad7e7a2c.685088","type":"change","z":"e33c822d.04fbc","name":"Set BluetoothAlive-flag","rules":[{"t":"set","p":"BluetoothAlive","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":140,"wires":[[]]},{"id":"a87e7748.658a78","type":"inject","z":"e33c822d.04fbc","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":80,"wires":[["ad7e7a2c.685088"]]},{"id":"a9999159.89a39","type":"switch","z":"e33c822d.04fbc","name":"","property":"BluetoothAlive","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["1a73cf34.1ea501","1b43171f.05a459","7701ed9f.0db794"],["2c8a66ec.baebca"]]},{"id":"11da7c21.695b54","type":"status","z":"e33c822d.04fbc","name":"","scope":["4816eeb1.dcb04","3dee72fd.7b3c6e"],"x":420,"y":380,"wires":[[]]},{"id":"7701ed9f.0db794","type":"function","z":"e33c822d.04fbc","name":"Reconnect status","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"trying to reconnect\"};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[[]]},{"id":"10ce6aed.1ac1d5","type":"change","z":"e33c822d.04fbc","name":"psButton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.psButton","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"psButton","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["d922c97e.01d908"]]},{"id":"d922c97e.01d908","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":220,"wires":[[]]},{"id":"2abeffc7.79b22","type":"change","z":"e33c822d.04fbc","name":"options","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.options","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"options","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["f32d0a01.6f5de8"]]},{"id":"f32d0a01.6f5de8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":260,"wires":[[]]},{"id":"4c34092c.02ec28","type":"change","z":"e33c822d.04fbc","name":"share","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.share","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"share","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["7539a594.ccb89c"]]},{"id":"7539a594.ccb89c","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":300,"wires":[[]]},{"id":"7d306488.fe78ec","type":"change","z":"e33c822d.04fbc","name":"triangle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.triangle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"triangle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":360,"wires":[["f74a25fe.9077c8"]]},{"id":"f74a25fe.9077c8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":360,"wires":[[]]},{"id":"1e76918.38f356f","type":"change","z":"e33c822d.04fbc","name":"cross","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cross","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"cross","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["9f9078d2.db0e58"]]},{"id":"9f9078d2.db0e58","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":400,"wires":[[]]},{"id":"58aa458e.618c5c","type":"change","z":"e33c822d.04fbc","name":"square","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.square","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["71e3776e.406ff8"]]},{"id":"71e3776e.406ff8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":440,"wires":[[]]},{"id":"19726c61.5d2204","type":"change","z":"e33c822d.04fbc","name":"circle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.circle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"circle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["ae1f118d.6e5e8"]]},{"id":"ae1f118d.6e5e8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":480,"wires":[[]]},{"id":"e3022ca8.fb138","type":"change","z":"e33c822d.04fbc","name":"leftAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1000,"wires":[["34ebcef4.b8bef2"]]},{"id":"34ebcef4.b8bef2","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1000,"wires":[[]]},{"id":"6c634777.a93a58","type":"change","z":"e33c822d.04fbc","name":"leftAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1040,"wires":[["6ebce06c.f9ce8"]]},{"id":"6ebce06c.f9ce8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1040,"wires":[[]]},{"id":"62bbeac1.65dd64","type":"change","z":"e33c822d.04fbc","name":"rightAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1100,"wires":[["86d01516.276328"]]},{"id":"86d01516.276328","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1100,"wires":[[]]},{"id":"f1c52a2b.6b8aa8","type":"change","z":"e33c822d.04fbc","name":"rightAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1140,"wires":[["b5997d85.63589"]]},{"id":"b5997d85.63589","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1140,"wires":[[]]},{"id":"9a0f2fbd.0ca4f","type":"change","z":"e33c822d.04fbc","name":"l2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1200,"wires":[["33ecf639.c17ada"]]},{"id":"33ecf639.c17ada","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1200,"wires":[[]]},{"id":"a5bb6419.0c1758","type":"change","z":"e33c822d.04fbc","name":"r2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1240,"wires":[["58fae79e.018288"]]},{"id":"58fae79e.018288","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1240,"wires":[[]]},{"id":"9751fad4.88bdc8","type":"change","z":"e33c822d.04fbc","name":"l1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[["b0415300.240f3"]]},{"id":"b0415300.240f3","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":540,"wires":[[]]},{"id":"e8eedda0.13dd4","type":"change","z":"e33c822d.04fbc","name":"l2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[["94a5b598.7f8768"]]},{"id":"94a5b598.7f8768","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":580,"wires":[[]]},{"id":"89e751eb.ce288","type":"change","z":"e33c822d.04fbc","name":"r1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["cf34eda5.1cd9b"]]},{"id":"cf34eda5.1cd9b","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":620,"wires":[[]]},{"id":"fcdf0774.1c51b8","type":"change","z":"e33c822d.04fbc","name":"r2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["14580a50.539a96"]]},{"id":"14580a50.539a96","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":660,"wires":[[]]},{"id":"d26d4676.0210c8","type":"change","z":"e33c822d.04fbc","name":"l3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["927344a8.fa6428"]]},{"id":"927344a8.fa6428","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":720,"wires":[[]]},{"id":"f145e362.c63d4","type":"change","z":"e33c822d.04fbc","name":"r3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["d3869b61.8c9378"]]},{"id":"d3869b61.8c9378","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":760,"wires":[[]]},{"id":"a3d76302.843d4","type":"change","z":"e33c822d.04fbc","name":"dPadUp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadUp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadUp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[["b614b38c.d4d32"]]},{"id":"b614b38c.d4d32","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":820,"wires":[[]]},{"id":"888f253b.116fc8","type":"change","z":"e33c822d.04fbc","name":"dPadDown","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadDown","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadDown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[["f48d9794.37aef8"]]},{"id":"f48d9794.37aef8","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":860,"wires":[[]]},{"id":"8cf07be2.58fe68","type":"change","z":"e33c822d.04fbc","name":"dPadLeft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadLeft","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadLeft","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":900,"wires":[["6ea4ec2e.43d394"]]},{"id":"6ea4ec2e.43d394","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":900,"wires":[[]]},{"id":"74be0f2e.61159","type":"change","z":"e33c822d.04fbc","name":"dPadRight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadRight","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadRight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":940,"wires":[["2dc7fe70.8c58f2"]]},{"id":"2dc7fe70.8c58f2","type":"rbe","z":"e33c822d.04fbc","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":940,"wires":[[]]},{"id":"2c8a66ec.baebca","type":"function","z":"e33c822d.04fbc","name":"Connected status","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:'connected'};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[[]]},{"id":"fd9835f9.adc368","type":"change","z":"e33c822d.04fbc","name":"Default color","rules":[{"t":"set","p":"r","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"g","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"b","pt":"flow","to":"64","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":680,"wires":[[]]},{"id":"bd6a82d9.34087","type":"inject","z":"e33c822d.04fbc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":680,"wires":[["fd9835f9.adc368","69d14e52.dde0f"]]},{"id":"69d14e52.dde0f","type":"change","z":"e33c822d.04fbc","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[[]]},{"id":"d9cc9c1b.14a9","type":"change","z":"e33c822d.04fbc","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleRight","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["3dee72fd.7b3c6e"]]},{"id":"b33e2606.941ab8","type":"switch","z":"e33c822d.04fbc","name":"","property":"rumbleReset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":1020,"wires":[["c9b3a541.273e38"],["daf5cf60.338a8"]]},{"id":"daf5cf60.338a8","type":"trigger","z":"e33c822d.04fbc","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reset timer","x":450,"y":1020,"wires":[["d9cc9c1b.14a9"]]},{"id":"c9b3a541.273e38","type":"change","z":"e33c822d.04fbc","name":"Only One Reset","rules":[{"t":"delete","p":"rumbleReset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1000,"wires":[["daf5cf60.338a8"]]},{"id":"c59243ad.e2adf","type":"subflow:e33c822d.04fbc","z":"a85e45ca.f30f88","name":"","env":[],"x":589,"y":250,"wires":[["e6d8e227.bdd37"],["4ad85536.11e04c"],["45bba1d4.30c6"],["25f78a56.02fa96"],["d42ff968.f39588"],["e03d9623.eafde8"],["2f776637.9aaf2a"],["46e21b14.0a3734"],["511aada.04b4954"],["6a388654.2bf438"],["b8b17faf.7817d"],["ce72e83a.287e68"],["48adce5.8e5563"],["9e9daaa9.2d5868"],["188e1d06.19bea3"],["f5a742e7.73c54"],["24a43df.c48adc2"],["35dc1d85.2cf272"],["50d3eccf.3a7eb4"],["6e244616.e8e748"],["dcaf3fc4.d465b"],["ccf460fd.318c5"],["479518b0.5509f8"],["51536db5.134d14"],["8e2fd732.4522d8"],["9169aff5.79531"]]},{"id":"e6d8e227.bdd37","type":"debug","z":"a85e45ca.f30f88","name":"psButton","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1199,"y":70,"wires":[]},{"id":"4ad85536.11e04c","type":"debug","z":"a85e45ca.f30f88","name":"options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1199,"y":110,"wires":[]},{"id":"45bba1d4.30c6","type":"debug","z":"a85e45ca.f30f88","name":"share","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":150,"wires":[]},{"id":"25f78a56.02fa96","type":"debug","z":"a85e45ca.f30f88","name":"triangle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1199,"y":210,"wires":[]},{"id":"d42ff968.f39588","type":"debug","z":"a85e45ca.f30f88","name":"cross","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":250,"wires":[]},{"id":"e03d9623.eafde8","type":"debug","z":"a85e45ca.f30f88","name":"square","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":290,"wires":[]},{"id":"2f776637.9aaf2a","type":"debug","z":"a85e45ca.f30f88","name":"circle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":330,"wires":[]},{"id":"46e21b14.0a3734","type":"debug","z":"a85e45ca.f30f88","name":"l1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":390,"wires":[]},{"id":"511aada.04b4954","type":"debug","z":"a85e45ca.f30f88","name":"l2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":430,"wires":[]},{"id":"6a388654.2bf438","type":"debug","z":"a85e45ca.f30f88","name":"r1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":470,"wires":[]},{"id":"b8b17faf.7817d","type":"debug","z":"a85e45ca.f30f88","name":"r2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":510,"wires":[]},{"id":"ce72e83a.287e68","type":"debug","z":"a85e45ca.f30f88","name":"l3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":570,"wires":[]},{"id":"48adce5.8e5563","type":"debug","z":"a85e45ca.f30f88","name":"r3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1189,"y":610,"wires":[]},{"id":"9e9daaa9.2d5868","type":"debug","z":"a85e45ca.f30f88","name":"dPadUp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1199,"y":670,"wires":[]},{"id":"188e1d06.19bea3","type":"debug","z":"a85e45ca.f30f88","name":"dPadDown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1209,"y":710,"wires":[]},{"id":"f5a742e7.73c54","type":"debug","z":"a85e45ca.f30f88","name":"dPadLeft","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1199,"y":750,"wires":[]},{"id":"24a43df.c48adc2","type":"debug","z":"a85e45ca.f30f88","name":"dPadRight","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1209,"y":790,"wires":[]},{"id":"35dc1d85.2cf272","type":"debug","z":"a85e45ca.f30f88","name":"leftAnalogX","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":889,"y":650,"wires":[]},{"id":"50d3eccf.3a7eb4","type":"debug","z":"a85e45ca.f30f88","name":"leftAnalogY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":889,"y":690,"wires":[]},{"id":"6e244616.e8e748","type":"debug","z":"a85e45ca.f30f88","name":"rightAnalogX","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":889,"y":730,"wires":[]},{"id":"dcaf3fc4.d465b","type":"debug","z":"a85e45ca.f30f88","name":"rightAnalogY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":889,"y":770,"wires":[]},{"id":"ccf460fd.318c5","type":"debug","z":"a85e45ca.f30f88","name":"l2Analog","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879,"y":810,"wires":[]},{"id":"479518b0.5509f8","type":"debug","z":"a85e45ca.f30f88","name":"r2Analog","active":false,"tosidebar":true,"consol                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            e":false,"tostatus":false,"complete":"payload","targetType":"msg","x":879,"y":850,"wires":[]},{"id":"51536db5.134d14","type":"debug","z":"a85e45ca.f30f88","name":"batteryLevel","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":629,"y":790,"wires":[]},{"id":"8e2fd732.4522d8","type":"debug","z":"a85e45ca.f30f88","name":"Raw data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":619,"y":830,"wires":[]},{"id":"a70510f1.4c86c","type":"change","z":"a85e45ca.f30f88","name":"Default color","rules":[{"t":"set","p":"r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"64","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":170,"wires":[["c59243ad.e2adf"]]},{"id":"731742b5.080c4c","type":"change","z":"a85e45ca.f30f88","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":210,"wires":[["c59243ad.e2adf"]]},{"id":"ed7c1072.eed43","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":170,"wires":[["a70510f1.4c86c"]]},{"id":"8690d432.710318","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":210,"wires":[["731742b5.080c4c"]]},{"id":"9169aff5.79531","type":"debug","z":"a85e45ca.f30f88","name":"Send-report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":629,"y":890,"wires":[]},{"id":"a971557d.66d968","type":"change","z":"a85e45ca.f30f88","name":"Color OFF","rules":[{"t":"set","p":"r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":370,"wires":[["c59243ad.e2adf"]]},{"id":"7e14dc8c.9a5f64","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":370,"wires":[["a971557d.66d968"]]},{"id":"1f8ff192.b4979e","type":"change","z":"a85e45ca.f30f88","name":"Full Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":430,"wires":[["c59243ad.e2adf"]]},{"id":"90bcbfe2.be87a","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":430,"wires":[["1f8ff192.b4979e"]]},{"id":"ac39dc46.69713","type":"change","z":"a85e45ca.f30f88","name":"White color","rules":[{"t":"set","p":"r","pt":"msg","to":"254","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"254","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"254","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":330,"wires":[["c59243ad.e2adf"]]},{"id":"7dbb4282.fec34c","type":"inject","z":"a85e45ca.f30f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":330,"wires":[["ac39dc46.69713"]]}]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     