2019-2023/flow_simpleloop.json
[{"id":"f1e8d331.5ad51","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"da5b6422.37ccc8","type":"inject","z":"f1e8d331.5ad51","name":"","topic":"repeat","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["5745bc1f.5a9be4"]]},{"id":"5745bc1f.5a9be4","type":"function","z":"f1e8d331.5ad51","name":"update state","func":"msg.payload = msg.payload +1 ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["e460d02e.6029e","f992e786.f419d8"]]},{"id":"e460d02e.6029e","type":"debug","z":"f1e8d331.5ad51","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":60,"wires":[]},{"id":"f992e786.f419d8","type":"delay","z":"f1e8d331.5ad51","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":120,"wires":[["5745bc1f.5a9be4"]]}]