2019-2023/Flow-Vedlikehold.json
[{"id":"7b1fe549.1516fc","type":"tab","label":"Vedlikehold","disabled":false,"info":""},{"id":"6e1081b6.1f4be","type":"exec","z":"7b1fe549.1516fc","command":"sudo reboot","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart Styresystem","x":320,"y":60,"wires":[["7e3b1524.78da7c"],[],[]]},{"id":"a3c2452d.2a0d88","type":"inject","z":"7b1fe549.1516fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["6e1081b6.1f4be"]]},{"id":"7e3b1524.78da7c","type":"debug","z":"7b1fe549.1516fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":40,"wires":[]},{"id":"501a1f42.31544","type":"exec","z":"7b1fe549.1516fc","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown Styresystem","x":320,"y":200,"wires":[["2a26178b.2d9268"],[],[]]},{"id":"bf17a324.6b40c","type":"inject","z":"7b1fe549.1516fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":200,"wires":[["501a1f42.31544"]]},{"id":"2a26178b.2d9268","type":"debug","z":"7b1fe549.1516fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":180,"wires":[]}]