2019-2023/MotorTest_v1.json
[{"id":"8265b2b1.c8755","type":"subflow","name":"ESC Min/Max Calibration","info":"","category":"Arduino","in":[{"x":40,"y":80,"wires":[{"id":"16f2e3df.0c673c"}]}],"out":[{"x":740,"y":80,"wires":[{"id":"2082bfa2.0a225","port":0}]}],"env":[],"color":"#FFCC66","inputLabels":["Inject msg to start"],"outputLabels":["Connect to Arduino output node in PWM"],"icon":"node-red/alert.svg","status":{"x":740,"y":140,"wires":[{"id":"5d5307ee.d5c118","port":0}]}},{"id":"2082bfa2.0a225","type":"delay","z":"8265b2b1.c8755","name":"","pauseType":"delayv","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":80,"wires":[["669bedbc.802bc4","5d5307ee.d5c118"]]},{"id":"16f2e3df.0c673c","type":"function","z":"8265b2b1.c8755","name":"Calibration","func":"node.send({payload:180, delay:0 , status:{fill:\"red\",shape:\"dot\",text:\"Calibration procedure started. Turn on power on ESC now!\"}});\nnode.send({payload:180, delay:4500 , status:{fill:\"red\",shape:\"ring\",text:\"Please wait...\"}});\n//Keep 10 seconds at \"high\" throttle-position (allow for 2 seconds reaction time)\nnode.send({payload:0, delay:15000, status:{fill:\"yellow\",shape:\"ring\",text:\"Please wait...\"}});\n//Keep 3 seconds at \"low\" throttle-position (allow for 2 seconds reaction time)\nnode.send({payload:128, delay:20000,status:{fill:\"green\",shape:\"dot\",text:\"Calibration completed. Restart ESC before use.\"}});","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["2082bfa2.0a225"]]},{"id":"669bedbc.802bc4","type":"debug","z":"8265b2b1.c8755","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"status.text","targetType":"msg","x":610,"y":220,"wires":[]},{"id":"5d5307ee.d5c118","type":"change","z":"8265b2b1.c8755","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[[]]},{"id":"61630d4c.7a6534","type":"range","z":"89f73d52.8a572","minin":"0","maxin":"255","minout":"50","maxout":"130","action":"clamp","round":true,"property":"payload","name":"","x":960,"y":1180,"wires":[["a73dc858.a563d8"]]},{"id":"ea78d073.c1a19","type":"range","z":"89f73d52.8a572","minin":"0","maxin":"255","minout":"125","maxout":"55","action":"clamp","round":true,"property":"payload","name":"","x":960,"y":1360,"wires":[["7d47f260.88518c"]]},{"id":"a73dc858.a563d8","type":"arduino out","z":"89f73d52.8a572","name":"Hovedror","pin":"6","state":"SERVO","arduino":"2757bbfa.8ab3c4","x":1105,"y":1179,"wires":[]},{"id":"7d47f260.88518c","type":"arduino out","z":"89f73d52.8a572","name":"Sidedrorene","pin":"5","state":"SERVO","arduino":"2757bbfa.8ab3c4","x":1139,"y":1360,"wires":[]},{"id":"3a45a580.9e69ca","type":"arduino out","z":"89f73d52.8a572","name":"Hoved motor","pin":"11","state":"SERVO","arduino":"2757bbfa.8ab3c4","x":970,"y":720,"wires":[]},{"id":"d583b382.5e138","type":"arduino out","z":"89f73d52.8a572","name":"Styrbord motor","pin":"9","state":"SERVO","arduino":"2757bbfa.8ab3c4","x":980,"y":860,"wires":[]},{"id":"96259666.fdc468","type":"arduino out","z":"89f73d52.8a572","name":"Babord motor","pin":"10","state":"SERVO","arduino":"2757bbfa.8ab3c4","x":980,"y":960,"wires":[]},{"id":"269d0ccb.4f74a4","type":"function","z":"89f73d52.8a572","name":"","func":"msg.payload = (3.2*5/1023*msg.payload).toFixed(2);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload + \" V\"});\nif (msg.payload > 7.5){\n    return [];\n} else {\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":1460,"wires":[["c7372051.4fbfe"]],"icon":"font-awesome/fa-battery-3"},{"id":"c92120f3.6aa2f","type":"rbe","z":"89f73d52.8a572","name":"","func":"deadbandEq","gap":"1%","start":"","inout":"out","property":"payload","x":294,"y":1459,"wires":[["269d0ccb.4f74a4"]]},{"id":"c7372051.4fbfe","type":"debug","z":"89f73d52.8a572","name":"Batteri-spenning for lav","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":745,"y":1460,"wires":[]},{"id":"1d075c27.05b014","type":"arduino in","z":"89f73d52.8a572","name":"","pin":"0","state":"ANALOG","arduino":"2757bbfa.8ab3c4","x":116,"y":1460,"wires":[["c92120f3.6aa2f"]]},{"id":"68f03e35.99c43","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":680,"wires":[["3a45a580.9e69ca"]]},{"id":"4f05df10.3cf39","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":720,"wires":[["3a45a580.9e69ca"]]},{"id":"70a41c9b.92cbf4","type":"subflow:8265b2b1.c8755","z":"89f73d52.8a572","name":"","env":[],"x":350,"y":660,"wires":[["3a45a580.9e69ca"]]},{"id":"4f6f8db8.3752c4","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":660,"wires":[["70a41c9b.92cbf4"]]},{"id":"b0e02f23.5e6","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":840,"wires":[["d583b382.5e138"]]},{"id":"cd531f51.84191","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":880,"wires":[["d583b382.5e138"]]},{"id":"30418a54.43c7a6","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":760,"wires":[["3a45a580.9e69ca"]]},{"id":"15470b94.a41914","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":920,"wires":[["d583b382.5e138"]]},{"id":"9d0d4c46.79241","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1000,"wires":[["96259666.fdc468"]]},{"id":"de3891d1.0b552","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1040,"wires":[["96259666.fdc468"]]},{"id":"7ed3e8a.a998218","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"80","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1080,"wires":[["96259666.fdc468"]]},{"id":"11ffaf05.9daa11","type":"subflow:8265b2b1.c8755","z":"89f73d52.8a572","name":"","env":[],"x":350,"y":840,"wires":[["d583b382.5e138"]]},{"id":"e1a75ec8.59d7b","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":840,"wires":[["11ffaf05.9daa11"]]},{"id":"536eff47.197e3","type":"subflow:8265b2b1.c8755","z":"89f73d52.8a572","name":"","env":[],"x":350,"y":980,"wires":[["96259666.fdc468"]]},{"id":"7faad19b.46a7f","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["536eff47.197e3"]]},{"id":"b37c953f.bdde98","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"158","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1140,"wires":[["61630d4c.7a6534"]]},{"id":"dc7b8c21.7ee1f","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"128","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1180,"wires":[["61630d4c.7a6534"]]},{"id":"2b2f6dc.68fde92","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"98","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1220,"wires":[["61630d4c.7a6534"]]},{"id":"74c0d426.ae3dcc","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"178","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1320,"wires":[["ea78d073.c1a19"]]},{"id":"28c4f1b8.e6f55e","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"128","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1360,"wires":[["ea78d073.c1a19"]]},{"id":"709b1259.cd987c","type":"inject","z":"89f73d52.8a572","name":"","topic":"","payload":"78","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":1400,"wires":[["ea78d073.c1a19"]]},{"id":"2757bbfa.8ab3c4","type":"arduino-board","z":"","device":"/dev/ttyACM0"}]