2019-2023/selection_functionminne_eksempel.json
[{"id":"112b7b1e.a3dc95","type":"function","z":"682f21f6.ec85e","name":"+1 (med minne)","func":"var nyvar = flow.get(\"minne\")||0;   //Henter lagret verdi\nnyvar = nyvar + 1;                  //Oeker med en\nflow.set(\"minne\",nyvar);            //Lagrer verdien til minnen\nmsg.minne = nyvar;                  //Forbereder verdi for sending\nnode.status({text:\"Ny verdi er \"+nyvar});   //Oppdaterer status\nreturn msg;                         //Sender msg videre","outputs":1,"noerr":0,"x":320,"y":760,"wires":[["208be483.7cad4c"]]},{"id":"a7da5326.e5ac9","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"running","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":760,"wires":[["112b7b1e.a3dc95"]]},{"id":"208be483.7cad4c","type":"debug","z":"682f21f6.ec85e","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"minne","targetType":"msg","x":510,"y":760,"wires":[]}]