2019-2023/selection_switchWithUI_eksempel.json
[{"id":"9dd3d0d1.3d6e9","type":"ui_switch","z":"bc56eb0a.b70c18","name":"","label":"On/Off-bryter","tooltip":"","group":"c067f594.5a89f8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":580,"wires":[["da942f5.491c2d"]]},{"id":"58365a30.2355a4","type":"switch","z":"bc56eb0a.b70c18","name":"blokk if off","property":"on","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":640,"wires":[["5fc25e81.dc9a1"]]},{"id":"da942f5.491c2d","type":"change","z":"bc56eb0a.b70c18","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":580,"wires":[[]]},{"id":"5fc25e81.dc9a1","type":"debug","z":"bc56eb0a.b70c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":640,"wires":[]},{"id":"2e077378.893edc","type":"inject","z":"bc56eb0a.b70c18","name":"","topic":"","payload":"running","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":640,"wires":[["58365a30.2355a4"]]},{"id":"c067f594.5a89f8","type":"ui_group","z":"","name":"Test-UI","tab":"2f82698f.33baf6","disp":true,"width":"4","collapse":false},{"id":"2f82698f.33baf6","type":"ui_tab","z":"","name":"Undervisning","icon":"dashboard","disabled":false,"hidden":false}]