2019-2023/selection_range_eksempel.json
[{"id":"db8131.5f662ed","type":"range","z":"bc56eb0a.b70c18","minin":"0","maxin":"255","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":260,"y":220,"wires":[["e85be882.2f1d58"]]},{"id":"6cfe6517.2e77bc","type":"inject","z":"bc56eb0a.b70c18","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["db8131.5f662ed"]]},{"id":"e85be882.2f1d58","type":"debug","z":"bc56eb0a.b70c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":220,"wires":[]},{"id":"c32b2f28.3ff11","type":"inject","z":"bc56eb0a.b70c18","name":"","topic":"","payload":"26","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["db8131.5f662ed"]]},{"id":"d339455e.f33368","type":"inject","z":"bc56eb0a.b70c18","name":"","topic":"","payload":"127.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["db8131.5f662ed"]]},{"id":"56d8817e.d3c8b","type":"inject","z":"bc56eb0a.b70c18","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["db8131.5f662ed"]]}]