2019-2023/selection_rangeWithUI_eksempel.json
[{"id":"a870d682.3610b8","type":"ui_slider","z":"bc56eb0a.b70c18","name":"","label":"Motor pådrag","tooltip":"","group":"c067f594.5a89f8","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"255","step":1,"x":160,"y":720,"wires":[["518bd11.702fb3"]]},{"id":"518bd11.702fb3","type":"range","z":"bc56eb0a.b70c18","minin":"0","maxin":"255","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":320,"y":720,"wires":[["acecf421.b26288"]]},{"id":"acecf421.b26288","type":"debug","z":"bc56eb0a.b70c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":720,"wires":[]},{"id":"c067f594.5a89f8","type":"ui_group","z":"","name":"Test-UI","tab":"2f82698f.33baf6","disp":true,"width":"8","collapse":false},{"id":"2f82698f.33baf6","type":"ui_tab","z":"","name":"Undervisning","icon":"dashboard","disabled":false,"hidden":false}]