2019-2023/selection_minne_eksempel.json
[{"id":"f8388c8a.e1a65","type":"inject","z":"87a59279.7f09c","name":"Repeat","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["605dc32.9cf433c"]]},{"id":"f3691ff3.c6842","type":"debug","z":"87a59279.7f09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":320,"wires":[]},{"id":"605dc32.9cf433c","type":"change","z":"87a59279.7f09c","name":"+1 (med minne)","rules":[{"t":"set","p":"payload","pt":"msg","to":"verdi","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"payload + 1","tot":"jsonata"},{"t":"set","p":"verdi","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":320,"wires":[["f3691ff3.c6842"]]},{"id":"8be8ede7.03c27","type":"inject","z":"87a59279.7f09c","name":"Once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["1ad784c5.b13fbb"]]},{"id":"1ad784c5.b13fbb","type":"change","z":"87a59279.7f09c","name":"lag flow-variabel","rules":[{"t":"set","p":"verdi","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[[]]}]