2019-2023/selection_udpcommunication_eksempel.json
[{"id":"b871bbb6.7c72d8","type":"udp in","z":"e59ab4fa.cbf978","name":"Mottaker-node","iface":"","port":"15000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":90,"y":140,"wires":[["8a1a8389.2ffa4"]]},{"id":"696156e0.cb27f8","type":"udp out","z":"e59ab4fa.cbf978","name":"Send-node","addr":"192.168.1.165","iface":"","port":"15000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":390,"y":80,"wires":[]},{"id":"dbec503b.40ae2","type":"inject","z":"e59ab4fa.cbf978","name":"","topic":"","payload":"{\"state\" : \"on\", \"speed\" : 100, \"batteriokay\" : true}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["8a8a8a55.a1b028"]]},{"id":"17154db0.bc9db2","type":"debug","z":"e59ab4fa.cbf978","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":140,"wires":[]},{"id":"8a8a8a55.a1b028","type":"function","z":"e59ab4fa.cbf978","name":"stringify","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["696156e0.cb27f8"]]},{"id":"8a1a8389.2ffa4","type":"function","z":"e59ab4fa.cbf978","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["17154db0.bc9db2"]]}]