2019-2023/selection_functionmultimessage_eksempel.json
[{"id":"ceddf5ea.008a68","type":"delay","z":"bc56eb0a.b70c18","name":"Rate Limit 5/second","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":100,"wires":[["45c156e3.8d7fc8"]]},{"id":"8c1c39fd.a22098","type":"function","z":"bc56eb0a.b70c18","name":"0-30 i 10er steg","func":"msg.payload = 0;\nnode.send(msg);\nmsg.payload = 10;\nnode.send(msg);\nmsg.payload = 20;\nnode.send(msg);\nmsg.payload = 30;\nnode.send(msg);","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["ceddf5ea.008a68"]]},{"id":"b8b4d5f5.31bc68","type":"inject","z":"bc56eb0a.b70c18","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["8c1c39fd.a22098"]]},{"id":"45c156e3.8d7fc8","type":"debug","z":"bc56eb0a.b70c18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":100,"wires":[]}]