2019-2023/selection_switch_eksempel.json
[{"id":"39a96402.78666c","type":"switch","z":"682f21f6.ec85e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"mulighet1","vt":"str"},{"t":"eq","v":"mulighet2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":400,"wires":[["1160270b.bf7479"],["f4ff95d8.6a4ef8"],["327bcfb0.95a39"]]},{"id":"60f792bb.a4dacc","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"mulighet1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":360,"wires":[["39a96402.78666c"]]},{"id":"f4ff95d8.6a4ef8","type":"debug","z":"682f21f6.ec85e","name":"= 'mulighet2'","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":450,"y":400,"wires":[]},{"id":"1160270b.bf7479","type":"debug","z":"682f21f6.ec85e","name":"= 'mulighet1'","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":450,"y":340,"wires":[]},{"id":"327bcfb0.95a39","type":"debug","z":"682f21f6.ec85e","name":"otherwise","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":440,"y":460,"wires":[]},{"id":"5096977.90cd568","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"mulighet2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["39a96402.78666c"]]},{"id":"17406c58.406504","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"noeannet","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["39a96402.78666c"]]}]