2019-2023/selection_worldmap_FenceToMove.json
[{"id":"5ef033e3.bbf3cc","type":"worldmap in","z":"4bf1080e.71c7b8","name":"","path":"/worldmap","events":"all","x":520,"y":520,"wires":[["993fa3b8.52a88"]]},{"id":"993fa3b8.52a88","type":"switch","z":"4bf1080e.71c7b8","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Fence","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":520,"wires":[["1c3a4537.0798bb"]]},{"id":"b3475370.0c8f","type":"inject","z":"4bf1080e.71c7b8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"2","x":550,"y":600,"wires":[["1c3a4537.0798bb"]]},{"id":"1c3a4537.0798bb","type":"function","z":"4bf1080e.71c7b8","name":"(re)set fence center on map","func":"if (msg.payload.action == \"move\" || msg.payload === true){\n    var lat = msg.payload.lat;\n    var lon = msg.payload.lon;\n    \n    msg.payload = {};\n    //Delete old position\n    msg.payload.layer = \"Archimedes\";\n    msg.payload.name = \"Fence\";\n    \n    //Place at new position\n    if (typeof lat == \"number\" && typeof lon == \"number\") {\n        msg.payload.lat = lat;//command.fence.latitude;\n        msg.payload.lon = lon;//command.fence.longitude;\n    } else {\n        msg.payload.lat = 60.394195;//command.fence.latitude;\n        msg.payload.lon = 5.262922;//command.fence.longitude;\n    }\n    \n    msg.payload.radius = 50;\n    msg.payload.fillOpacity = 0.1;\n    msg.payload.draggable = true;\n    //msg.payload.layer = \"Sverm\";\n    //msg.payload.name = \"Boat \" + BoatOdometry.header.id;\n    msg.payload.ttl = 10;   //Remove again after 10 seconds without update\n    msg.payload.time = flow.get(\"time\")||Date.now();\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":900,"y":600,"wires":[["46d0ccb4.c6bce4"]]},{"id":"46d0ccb4.c6bce4","type":"worldmap","z":"4bf1080e.71c7b8","name":"","lat":"60.394195","lon":"5.262922","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1170,"y":400,"wires":[]}]