2019-2023/selection_bluetoothIOnode_empty.json
[{"id":"8dc3f3be.5ef78","type":"subflow","name":"Bluetooth I/O","info":"# Uses node-hid for interaction with Wireless Controller of type Dualshock PS4\n\n**Requires node-hid:**\nnpm install node-hid\nnpm install crc\n\n**Modify settings.js:**\nLinux:\nHID:require('/usr/lib/node_modules/node-hid/nodehid.js'),\ncrc:require('/home/pi/node_modules/crc')\nWindows:\nHID:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\node-hid\\\\nodehid.js'),\ncrc:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\crc')\n\n**Add permission to udev:**\nsudo leafpad /etc/udev/rules.d/90-hidraw-permissions.rules\nKERNEL==\"hidraw*\", SUBSYSTEM==\"hidraw\", MODE=\"0664\", GROUP=\"plugdev\"\nsudo udevadm control --reload-rules\n\n**Example input variables:**\nmsg.rumbleLeft\nmsg.rumbleRight\nmsg.r\nmsg.g\nmsg.b\n\n**Example output:**\n{\"leftAnalogX\":132,\"leftAnalogY\":128,\"rightAnalogX\":126,\"rightAnalogY\":124,\"l2Analog\":0,\"r2Analog\":0,\"dPadUp\":false,\"dPadRight\":false,\"dPadDown\":false,\"dPadLeft\":false,\"cross\":false,\"circle\":false,\"square\":false,\"triangle\":false,\"l1\":false,\"l2\":false,\"r1\":false,\"r2\":false,\"l3\":false,\"r3\":false,\"share\":false,\"options\":false,\"trackPadButton\":false,\"psButton\":false,\"motionY\":-4,\"motionX\":0,\"motionZ\":6,\"orientationRoll\":-28,\"orientationYaw\":7976,\"orientationPitch\":1676,\"trackPadTouch0Id\":1,\"trackPadTouch0Active\":false,\"trackPadTouch0X\":1352,\"trackPadTouch0Y\":876,\"trackPadTouch1Id\":0,\"trackPadTouch1Active\":false,\"trackPadTouch1X\":0,\"trackPadTouch1Y\":0,\"timestamp\":10,\"batteryLevel\":6}\n\n**Comment:**\nRumble is set to reset itself, but also the controller will reset it after some time.","category":"Dualshock","in":[{"x":160,"y":880,"wires":[{"id":"b540db64.d6c0d8"}]}],"out":[{"x":1240,"y":220,"wires":[{"id":"c50ce026.c9048","port":0}]},{"x":1240,"y":260,"wires":[{"id":"75984446.7f103c","port":0}]},{"x":1240,"y":300,"wires":[{"id":"f6b1d7ae.78aed8","port":0}]},{"x":1240,"y":360,"wires":[{"id":"1f262818.e7d6f8","port":0}]},{"x":1240,"y":400,"wires":[{"id":"902df9ab.a08678","port":0}]},{"x":1240,"y":440,"wires":[{"id":"9b0cd189.ba82c","port":0}]},{"x":1240,"y":480,"wires":[{"id":"77daf96d.b76998","port":0}]},{"x":1240,"y":540,"wires":[{"id":"72b808aa.913a78","port":0}]},{"x":1240,"y":580,"wires":[{"id":"39de1702.818038","port":0}]},{"x":1240,"y":620,"wires":[{"id":"ee040756.f4c4f8","port":0}]},{"x":1240,"y":660,"wires":[{"id":"192bcac0.7949b5","port":0}]},{"x":1240,"y":720,"wires":[{"id":"d94b5320.29068","port":0}]},{"x":1240,"y":760,"wires":[{"id":"8f6bfe8f.2429","port":0}]},{"x":1240,"y":820,"wires":[{"id":"a0f260f0.81b0b","port":0}]},{"x":1240,"y":860,"wires":[{"id":"7b50a7a2.aae668","port":0}]},{"x":1240,"y":900,"wires":[{"id":"4102123.1d01dec","port":0}]},{"x":1240,"y":940,"wires":[{"id":"fb6840ad.a087a","port":0}]},{"x":1240,"y":1000,"wires":[{"id":"47634d31.6bd274","port":0}]},{"x":1240,"y":1040,"wires":[{"id":"a9cefc8c.aa92d","port":0}]},{"x":1240,"y":1100,"wires":[{"id":"95c541c4.2ed46","port":0}]},{"x":1240,"y":1140,"wires":[{"id":"1fa98c7b.2760c4","port":0}]},{"x":1240,"y":1200,"wires":[{"id":"af2846de.1580e8","port":0}]},{"x":1240,"y":1240,"wires":[{"id":"85540ee7.a8aa2","port":0}]},{"x":1240,"y":1300,"wires":[{"id":"1be3aca1.054173","port":0}]},{"x":780,"y":340,"wires":[{"id":"6aa7b1c.6b8f05","port":0}]},{"x":640,"y":880,"wires":[{"id":"b540db64.d6c0d8","port":0}]}],"env":[],"color":"#C0DEED","inputLabels":["Input"],"outputLabels":["psButton","options","share","triangle","cross","square","circle","l1","l2","r1","r2","l3","r3","dPadUp","dPadDown","dPadLeft","dPadRight","leftAnalogX","leftAnalogY","rightAnalogX","rightAnalogY","l2Analog","r2Analog","batteryLevel","Raw data","Send-report"],"icon":"node-red/bluetooth.png","status":{"x":620,"y":360,"wires":[{"id":"3dafdd89.4fc362","port":0},{"id":"5b3a9a48.270c44","port":0},{"id":"8f46d9bb.a79aa8","port":0}]}},{"id":"e4596301.e5b6e","type":"inject","z":"8dc3f3be.5ef78","name":"(Re)start receiving data","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["455458cb.f585e8"]]},{"id":"713430b7.b151c","type":"function","z":"8dc3f3be.5ef78","name":"List of devices","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\n//console.log('devices:', HID.devices());\nmsg.devices = HID.devices();\nflow.set(\"HIDdevices\",msg.devices);\n\n//var device = new HID.HID(0x54c,0x9cc,\"dc:0c:2d:f9:2c:a5\");\n//msg.report = device.getFeatureReport(0x04, 66);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["fa2712de.99f07"]]},{"id":"fa2712de.99f07","type":"debug","z":"8dc3f3be.5ef78","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","x":650,"y":120,"wires":[]},{"id":"6aa7b1c.6b8f05","type":"function","z":"8dc3f3be.5ef78","name":"Continuous data-stream","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\nvar product = \"Wireless Controller\";\n\n//var HIDdevices = flow.get(\"HIDdevices\");\n\nfunction findPathToProduct(product) {\n    var HIDdevices = flow.get(\"HIDdevices\")||[];\n    for (var i=0; i<HIDdevices.length; i++) {\n        //console.log(ports[i].manufacturer);\n        if (HIDdevices[i].product == product) {\n            flow.set(\"device\",HIDdevices[i]);\n            return HIDdevices[i].path;\n        }\n    }\n}\n\nvar devicepath = findPathToProduct(product);    //product description for DS4 as HID device\n\nif (devicepath === undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:'Device not found'});\n    return;\n} else {\n    node.status({fill:\"yellow\",shape:\"dot\",text:'Wireless Controller-device found at port '+devicepath});\n    console.log('Wireless Controller-device found at port '+devicepath);\n}\n\n//var device = new HID.HID(msg.payload[0].vendorId,msg.payload[0].productId,msg.payload[0].serialNumber);\ntry {\n    var device = new HID.HID(devicepath);\n}\ncatch (err) {\n    console.log(err);\n}\n//msg.report = device.getFeatureReport(0x04, 66);\n\n// Buffer -> DS4State\nfunction parseDS4HIDData(buf) {\n  var dPad = buf[5] & 15;\n  return {\n    leftAnalogX: buf[1],\n    leftAnalogY: buf[2],\n    rightAnalogX: buf[3],\n    rightAnalogY: buf[4],\n    l2Analog: buf[8],\n    r2Analog: buf[9],\n\n    dPadUp:    dPad === 0 || dPad === 1 || dPad === 7,\n    dPadRight: dPad === 1 || dPad === 2 || dPad === 3,\n    dPadDown:  dPad === 3 || dPad === 4 || dPad === 5,\n    dPadLeft:  dPad === 5 || dPad === 6 || dPad === 7,\n\n    cross: (buf[5] & 32) !== 0,\n    circle: (buf[5] & 64) !== 0,\n    square: (buf[5] & 16) !== 0,\n    triangle: (buf[5] & 128) !== 0,\n\n    l1: (buf[6] & 0x01) !== 0,\n    l2: (buf[6] & 0x04) !== 0,\n    r1: (buf[6] & 0x02) !== 0,\n    r2: (buf[6] & 0x08) !== 0,\n    l3: (buf[6] & 0x40) !== 0,\n    r3: (buf[6] & 0x80) !== 0,\n\n    share: (buf[6] & 0x10) !== 0,\n    options: (buf[6] & 0x20) !== 0,\n    trackPadButton: (buf[7] & 2) !== 0,\n    psButton: (buf[7] & 1) !== 0,\n\n    // ACCEL/GYRO\n    motionY: buf.readInt16LE(13),\n    motionX: -buf.readInt16LE(15),\n    motionZ: -buf.readInt16LE(17),\n\n    orientationRoll: -buf.readInt16LE(19),\n    orientationYaw: buf.readInt16LE(21),\n    orientationPitch: buf.readInt16LE(23),\n\n    // TRACKPAD\n    trackPadTouch0Id: buf[35] & 0x7f,\n    trackPadTouch0Active: (buf[35] >> 7) === 0,\n    trackPadTouch0X: ((buf[37] & 0x0f) << 8) | buf[36],\n    trackPadTouch0Y: buf[38] << 4 | ((buf[37] & 0xf0) >> 4),\n\n    trackPadTouch1Id: buf[39] & 0x7f,\n    trackPadTouch1Active: (buf[39] >> 7) === 0,\n    trackPadTouch1X: ((buf[41] & 0x0f) << 8) | buf[40],\n    trackPadTouch1Y: buf[42] << 4 | ((buf[41] & 0xf0) >> 4),\n\n    timestamp: buf[7] >> 2,\n    //battery: buf[12],\n    //batteryShort1: buf[12] & 0x0f,\n    //batteryShort2: buf[12] & 0xf0,\n    batteryLevel: buf[12]\n  };\n}\n\ndevice.on('data', function(buf) {\n    //node.status({fill:\"green\",shape:\"dot\",text:'connected'});\n    //console.log(parseDS4HIDData(buf.slice(2)));\n    msg.payload = parseDS4HIDData(buf.slice(2));\n    node.send(msg);\n});\n\ndevice.on(\"error\", function(err) {\n    console.log(err);\n});\n","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["57166f57.dfdb3","1ce5749b.95aabb","21faaff3.f2c3b","8d7119d8.3b6968","926edbb4.939db8","541e3368.7da0ac","e594888e.90e5c8","5a93a940.e85568","cf8bc00a.9c5f7","5a41ea1e.336204","a8e0410b.4da91","a887f68e.6092c8","dde9cbb9.639898","b74f59ff.10a008","de63feed.2c9a3","59eacc51.e8af04","a2edecfd.03927","cbbbec38.1104b","6116cd27.858784","a8e6d477.78cdf8","506195c4.09463c","11790331.9589dd","5788a393.dc995c","ab189fc.8bb086","ee50453f.7456c8","a9b5c088.41edb"]]},{"id":"57166f57.dfdb3","type":"debug","z":"8dc3f3be.5ef78","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":80,"wires":[]},{"id":"1ce5749b.95aabb","type":"change","z":"8dc3f3be.5ef78","name":"batteryLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batteryLevel","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"batteryLevel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1300,"wires":[["1be3aca1.054173"]]},{"id":"1be3aca1.054173","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1300,"wires":[[]]},{"id":"b540db64.d6c0d8","type":"function","z":"8dc3f3be.5ef78","name":"Send data","func":"var HID = global.get(\"HID\");\nvar crc = global.get(\"crc\");\n\nvar HIDdevice = flow.get(\"device\");\n\nvar device = new HID.HID(HIDdevice.path);\nmsg.report = device.getFeatureReport(0x04, 66);\n\nvar data = {};\n\n//data.rumbleRight = 200;\n//data.rumbleLeft = 200;\nif (msg.rumbleRight === undefined) {\n    data.rumbleRight = flow.get(\"rumbleRight\");\n} else {\n    data.rumbleRight = msg.rumbleRight;\n}\nif (msg.rumbleLeft === undefined) {\n    data.rumbleLeft = flow.get(\"rumbleLeft\");\n} else {\n    data.rumbleLeft = msg.rumbleLeft;\n}\n\n\n//data.r = 120;\n//data.g = 120;\n//data.b = 120;\nif (msg.r === undefined) {\n    data.r = flow.get(\"r\");\n} else {\n    data.r = msg.r;\n}\nif (msg.g === undefined) {\n    data.g = flow.get(\"g\");\n} else {\n    data.g = msg.g;\n}\nif (msg.b === undefined) {\n    data.b = flow.get(\"b\");\n} else {\n    data.b = msg.b;\n}\n\n//Save back to flow-variables\nflow.set(\"rumbleRight\",data.rumbleRight);\nflow.set(\"rumbleLeft\",data.rumbleLeft);\nflow.set(\"r\",data.r);\nflow.set(\"g\",data.g);\nflow.set(\"b\",data.b);\n\n// Set rumble and LED\n// stolen from:\n// https://github.com/torvalds/linux/blob/master/drivers/hid/hid-sony.c#L2048\n// https://github.com/todbot/node-hid-ds4-test/blob/master/node-hid-ds4-test.js\nfunction setRumbleLed(rumbleL, rumbleR, ledR,ledG,ledB) {\n\n    var buf = Array(78-4).fill(0); // 4 bytes short for CRC32 calc below\n    buf[0]  = 0x11; // reportId\n    buf[1]  = 0x80;\n    buf[3]  = 0x0f;\n    buf[6]  = rumbleL;\n    buf[7]  = rumbleR;\n    buf[8]  = ledR;\n    buf[9]  = ledG;\n    buf[10] = ledB;\n    \n    // calculate crc32, add those 4 bytes to end of buf array\n    var tmpbuf = buf.slice(0); // clone\n    tmpbuf.unshift( 0xA2 ); // add bluetooth header byte for crc32\n    var crc32 = crc.crc32( tmpbuf );\n    buf[74] = (crc32 & 0x000000ff) >> 0;\n    buf[75] = (crc32 & 0x0000ff00) >> 8;\n    buf[76] = (crc32 & 0x00ff0000) >> 16;\n    buf[77] = (crc32 & 0xff000000) >> 24;\n    // end crc32 calc\n    \n    //console.log(\"outbuf:\",\"len:\",buf.length, \"vals:\",buf.join(','));\n    device.write(buf);\n    //node.status({fill:\"green\",shape:\"dot\",text:'Message sent'});\n\n}\n\nsetRumbleLed( data.rumbleLeft, data.rumbleRight, data.r, data.g, data.b);\n\nif (data.rumbleLeft > 0 || data.rumbleRight > 0) {\n    msg.rumbleReset = true;\n} else {\n    msg.rumbleReset = false;\n    msg.reset = true;\n}\n\nreturn [msg,data];","outputs":2,"noerr":0,"x":330,"y":880,"wires":[["ce1671ff.d07f9"],[]]},{"id":"6d304787.b99e28","type":"delay","z":"8dc3f3be.5ef78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":220,"wires":[["6aa7b1c.6b8f05"]]},{"id":"21faaff3.f2c3b","type":"trigger","z":"8dc3f3be.5ef78","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reconnect if needed","x":980,"y":140,"wires":[["9c7465a1.e0e308"]]},{"id":"9c7465a1.e0e308","type":"change","z":"8dc3f3be.5ef78","name":"Set BluetoothAlive-flag","rules":[{"t":"set","p":"BluetoothAlive","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":140,"wires":[[]]},{"id":"bcbd4002.aaec2","type":"inject","z":"8dc3f3be.5ef78","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":80,"wires":[["9c7465a1.e0e308"]]},{"id":"455458cb.f585e8","type":"switch","z":"8dc3f3be.5ef78","name":"","property":"BluetoothAlive","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["6d304787.b99e28","713430b7.b151c","5b3a9a48.270c44"],["8f46d9bb.a79aa8"]]},{"id":"3dafdd89.4fc362","type":"status","z":"8dc3f3be.5ef78","name":"","scope":["6aa7b1c.6b8f05","b540db64.d6c0d8"],"x":420,"y":380,"wires":[[]]},{"id":"5b3a9a48.270c44","type":"function","z":"8dc3f3be.5ef78","name":"Reconnect status","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"trying to reconnect\"};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[[]]},{"id":"8d7119d8.3b6968","type":"change","z":"8dc3f3be.5ef78","name":"psButton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.psButton","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"psButton","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["c50ce026.c9048"]]},{"id":"c50ce026.c9048","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":220,"wires":[[]]},{"id":"926edbb4.939db8","type":"change","z":"8dc3f3be.5ef78","name":"options","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.options","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"options","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["75984446.7f103c"]]},{"id":"75984446.7f103c","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":260,"wires":[[]]},{"id":"541e3368.7da0ac","type":"change","z":"8dc3f3be.5ef78","name":"share","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.share","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"share","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["f6b1d7ae.78aed8"]]},{"id":"f6b1d7ae.78aed8","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":300,"wires":[[]]},{"id":"e594888e.90e5c8","type":"change","z":"8dc3f3be.5ef78","name":"triangle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.triangle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"triangle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":360,"wires":[["1f262818.e7d6f8"]]},{"id":"1f262818.e7d6f8","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":360,"wires":[[]]},{"id":"5a93a940.e85568","type":"change","z":"8dc3f3be.5ef78","name":"cross","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cross","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"cross","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["902df9ab.a08678"]]},{"id":"902df9ab.a08678","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":400,"wires":[[]]},{"id":"cf8bc00a.9c5f7","type":"change","z":"8dc3f3be.5ef78","name":"square","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.square","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["9b0cd189.ba82c"]]},{"id":"9b0cd189.ba82c","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":440,"wires":[[]]},{"id":"5a41ea1e.336204","type":"change","z":"8dc3f3be.5ef78","name":"circle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.circle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"circle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["77daf96d.b76998"]]},{"id":"77daf96d.b76998","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":480,"wires":[[]]},{"id":"a8e0410b.4da91","type":"change","z":"8dc3f3be.5ef78","name":"leftAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1000,"wires":[["47634d31.6bd274"]]},{"id":"47634d31.6bd274","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1000,"wires":[[]]},{"id":"a887f68e.6092c8","type":"change","z":"8dc3f3be.5ef78","name":"leftAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1040,"wires":[["a9cefc8c.aa92d"]]},{"id":"a9cefc8c.aa92d","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1040,"wires":[[]]},{"id":"dde9cbb9.639898","type":"change","z":"8dc3f3be.5ef78","name":"rightAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1100,"wires":[["95c541c4.2ed46"]]},{"id":"95c541c4.2ed46","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1100,"wires":[[]]},{"id":"b74f59ff.10a008","type":"change","z":"8dc3f3be.5ef78","name":"rightAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1140,"wires":[["1fa98c7b.2760c4"]]},{"id":"1fa98c7b.2760c4","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1140,"wires":[[]]},{"id":"de63feed.2c9a3","type":"change","z":"8dc3f3be.5ef78","name":"l2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1200,"wires":[["af2846de.1580e8"]]},{"id":"af2846de.1580e8","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1200,"wires":[[]]},{"id":"59eacc51.e8af04","type":"change","z":"8dc3f3be.5ef78","name":"r2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1240,"wires":[["85540ee7.a8aa2"]]},{"id":"85540ee7.a8aa2","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1240,"wires":[[]]},{"id":"a2edecfd.03927","type":"change","z":"8dc3f3be.5ef78","name":"l1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[["72b808aa.913a78"]]},{"id":"72b808aa.913a78","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":540,"wires":[[]]},{"id":"cbbbec38.1104b","type":"change","z":"8dc3f3be.5ef78","name":"l2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[["39de1702.818038"]]},{"id":"39de1702.818038","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":580,"wires":[[]]},{"id":"6116cd27.858784","type":"change","z":"8dc3f3be.5ef78","name":"r1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["ee040756.f4c4f8"]]},{"id":"ee040756.f4c4f8","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":620,"wires":[[]]},{"id":"a8e6d477.78cdf8","type":"change","z":"8dc3f3be.5ef78","name":"r2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["192bcac0.7949b5"]]},{"id":"192bcac0.7949b5","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":660,"wires":[[]]},{"id":"506195c4.09463c","type":"change","z":"8dc3f3be.5ef78","name":"l3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["d94b5320.29068"]]},{"id":"d94b5320.29068","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":720,"wires":[[]]},{"id":"11790331.9589dd","type":"change","z":"8dc3f3be.5ef78","name":"r3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["8f6bfe8f.2429"]]},{"id":"8f6bfe8f.2429","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":760,"wires":[[]]},{"id":"5788a393.dc995c","type":"change","z":"8dc3f3be.5ef78","name":"dPadUp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadUp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadUp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[["a0f260f0.81b0b"]]},{"id":"a0f260f0.81b0b","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":820,"wires":[[]]},{"id":"ab189fc.8bb086","type":"change","z":"8dc3f3be.5ef78","name":"dPadDown","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadDown","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadDown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[["7b50a7a2.aae668"]]},{"id":"7b50a7a2.aae668","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":860,"wires":[[]]},{"id":"ee50453f.7456c8","type":"change","z":"8dc3f3be.5ef78","name":"dPadLeft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadLeft","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadLeft","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":900,"wires":[["4102123.1d01dec"]]},{"id":"4102123.1d01dec","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":900,"wires":[[]]},{"id":"a9b5c088.41edb","type":"change","z":"8dc3f3be.5ef78","name":"dPadRight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadRight","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadRight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":940,"wires":[["fb6840ad.a087a"]]},{"id":"fb6840ad.a087a","type":"rbe","z":"8dc3f3be.5ef78","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":940,"wires":[[]]},{"id":"8f46d9bb.a79aa8","type":"function","z":"8dc3f3be.5ef78","name":"Connected status","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:'connected'};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[[]]},{"id":"a3f9b7b0.0a2f58","type":"change","z":"8dc3f3be.5ef78","name":"Default color","rules":[{"t":"set","p":"r","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"g","pt":"flow","to":"55","tot":"num"},{"t":"set","p":"b","pt":"flow","to":"145","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":680,"wires":[[]]},{"id":"3a9ff22d.06749e","type":"inject","z":"8dc3f3be.5ef78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":680,"wires":[["a3f9b7b0.0a2f58","8c03a62b.3f5a78"]]},{"id":"8c03a62b.3f5a78","type":"change","z":"8dc3f3be.5ef78","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[[]]},{"id":"bdda8416.cf3c68","type":"change","z":"8dc3f3be.5ef78","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleRight","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["b540db64.d6c0d8"]]},{"id":"ce1671ff.d07f9","type":"switch","z":"8dc3f3be.5ef78","name":"","property":"rumbleReset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":1020,"wires":[["8be31b2e.b77068"],["d2d4cd42.5d2e2"]]},{"id":"d2d4cd42.5d2e2","type":"trigger","z":"8dc3f3be.5ef78","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reset timer","x":450,"y":1020,"wires":[["bdda8416.cf3c68"]]},{"id":"8be31b2e.b77068","type":"change","z":"8dc3f3be.5ef78","name":"Only One Reset","rules":[{"t":"delete","p":"rumbleReset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1000,"wires":[["d2d4cd42.5d2e2"]]},{"id":"d9858926.c6f6d8","type":"subflow:8dc3f3be.5ef78","z":"eada937a.51f24","name":"","x":370,"y":240,"wires":[[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]]}]