2019-2023/selection_dashboard+wordmaps_eksempel_v0.json
[{"id":"bdde69ad.b7a868","type":"change","z":"2aad9787.375d58","name":"Select Yaw","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.yaw","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["2ba28375.965e2c"]]},{"id":"1c544899.40db77","type":"change","z":"2aad9787.375d58","name":"Select Pitch","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pitch","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["b9726c0d.5400c"]]},{"id":"f586c408.f74ea8","type":"ui_gauge","z":"2aad9787.375d58","name":"","group":"4b7c4286.114d7c","order":2,"width":"0","height":"0","gtype":"compass","title":"Pitch","label":"units","format":"{{value}}","min":"-3.14","max":"3.14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":160,"wires":[]},{"id":"b0e9ccb2.c5801","type":"change","z":"2aad9787.375d58","name":"Select Roll","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.roll","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["28b1a7e9.b4cbf8"]]},{"id":"9c5285b2.df0c98","type":"ui_gauge","z":"2aad9787.375d58","name":"","group":"4b7c4286.114d7c","order":3,"width":"0","height":"0","gtype":"compass","title":"Roll","label":"units","format":"{{value}}","min":"-3.14","max":"3.14","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":120,"wires":[]},{"id":"2ec8ca05.b86226","type":"change","z":"2aad9787.375d58","name":"Select Altitude","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.alt","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":340,"wires":[["2700496c.7ade96"]]},{"id":"18eec955.d0d077","type":"ui_gauge","z":"2aad9787.375d58","name":"","group":"decd04e6.5c92d8","order":2,"width":"0","height":"0","gtype":"gage","title":"Altitude","label":"m","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":340,"wires":[]},{"id":"4b9a5afc.2ceb14","type":"change","z":"2aad9787.375d58","name":"Select Heading","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.heading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":300,"wires":[["97452d88.cbe9e","153dbd1f.8cdd23"]]},{"id":"97452d88.cbe9e","type":"ui_gauge","z":"2aad9787.375d58","name":"","group":"4b7c4286.114d7c","order":1,"width":"0","height":"0","gtype":"compass","title":"Heading","label":"degrees","format":"{{value}}","min":"0","max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":300,"wires":[]},{"id":"28b1a7e9.b4cbf8","type":"function","z":"2aad9787.375d58","name":"round","func":"msg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":120,"wires":[["9c5285b2.df0c98"]]},{"id":"b9726c0d.5400c","type":"function","z":"2aad9787.375d58","name":"round","func":"msg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["f586c408.f74ea8"]]},{"id":"2ba28375.965e2c","type":"function","z":"2aad9787.375d58","name":"round","func":"msg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":200,"wires":[[]]},{"id":"2700496c.7ade96","type":"function","z":"2aad9787.375d58","name":"round","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":340,"wires":[["18eec955.d0d077"]]},{"id":"222f276c.1a4f68","type":"link in","z":"2aad9787.375d58","name":"ATTITUDE in","links":["3f1560ef.99209","a7489a40.dbd418"],"x":340,"y":160,"wires":[["b0e9ccb2.c5801","1c544899.40db77","bdde69ad.b7a868"]]},{"id":"256ba6a.f428a5a","type":"link in","z":"2aad9787.375d58","name":"VFR_HUD in","links":["3771dc30.8fba94","3e1fc07e.cfc18"],"x":335,"y":300,"wires":[["4b9a5afc.2ceb14","2ec8ca05.b86226","9f2fc9a4.d95ca8"]]},{"id":"d5aa47e3.4c49c8","type":"link in","z":"2aad9787.375d58","name":"GLOBAL_POSITION_INT in","links":["644cca9a.102414","fcd7f6cb.04e8a8"],"x":340,"y":440,"wires":[["9167d9e5.b44578","a8b1463a.f34898"]]},{"id":"9f3d7e89.38ab5","type":"inject","z":"2aad9787.375d58","name":"Show Map in Dashboard","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":190,"y":800,"wires":[["b00b5ef0.d5731"]]},{"id":"5774fb72.d3d894","type":"ui_template","z":"2aad9787.375d58","group":"2d868c52.47ad04","name":"Show Map","order":1,"width":"16","height":"12","format":"<div style=\"text-align: center;padding: 0px;\"><iframe id=\"map\" src=\"\" style=\"display: block; width: 100%; height: 100vh; border: none;\" scrolling=\"no\" frameborder=\"0\"></iframe></div>\n<script>\n(function(scope) {\n    // watch msg object from Node-RED\n    scope.$watch('msg', function(msg) {\n        // new message received\n        var x = document.getElementById('map');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":870,"y":800,"wires":[[]]},{"id":"b00b5ef0.d5731","type":"ip","z":"2aad9787.375d58","name":"Get IP","https":false,"timeout":"5000","internalIPv4":true,"internalIPv6":false,"publicIPv4":false,"publicIPv6":false,"x":390,"y":800,"wires":[["d3ce6069.8f9e9"]]},{"id":"d3ce6069.8f9e9","type":"function","z":"2aad9787.375d58","name":"Create LiveFeed-address","func":"msg.payload = \"http://\"+msg.payload.internalIPv4+\":1880/worldmap\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":800,"wires":[["5774fb72.d3d894"]]},{"id":"9167d9e5.b44578","type":"function","z":"2aad9787.375d58","name":"reformat (delete and replace)","func":"var gpsdata = msg.payload;\nvar id = 1;\n\ndelete msg.payload;\nmsg.payload = {};\n\n//Delete old position\nmsg.payload.layer = \"Archimedes\";\nmsg.payload.name = \"Boat \" + id;\nmsg.payload.deleted = true;\nnode.send(msg);\nmsg.payload.deleted = undefined;\n\n//Place at new position\nmsg.payload.lat = gpsdata.lat*1E-7;\nmsg.payload.lon = gpsdata.lon*1E-7;\n//msg.payload.layer = \"Sverm\";\n//msg.payload.name = \"Boat \" + BoatOdometry.header.id;\nmsg.payload.id = id;\nmsg.payload.icon = \"ship\";\nmsg.payload.iconColor = \"grey\";\nmsg.payload.ttl = 5;    //Båten forsvinner etter 5 sec uten ny oppdatering\nmsg.payload.bearing = flow.get(\"heading\")||0;\nmsg.payload.speed = flow.get(\"groundspeed\")||0;\nmsg.payload.time = flow.get(\"time\")||Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":440,"wires":[["5db4fc3e.dd1484"]]},{"id":"5db4fc3e.dd1484","type":"worldmap","z":"2aad9787.375d58","name":"","lat":"60.394195","lon":"5.262922","zoom":"17","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1110,"y":440,"wires":[]},{"id":"5fb70727.68d1f8","type":"function","z":"2aad9787.375d58","name":"Zoom to Sjøkrigsskolen","func":"//Sjøkrigskolen:\n//60.394195, 5.262922\nmsg.payload = { command:{layer:\"OSM\",lat:60.394195,lon:5.262922,zoom:17} };\n//return msg;\n//Tennebekktjørna:\n//60.365013, 5.263031\n//msg.payload = { command:{layer:\"OSM\",lat:60.365013,lon:5.263031,zoom:17} };\nreturn msg;","outputs":1,"noerr":0,"x":484,"y":851,"wires":[["d394713a.f940d"]]},{"id":"8bb7b913.dcce78","type":"comment","z":"2aad9787.375d58","name":"User Interface - Map control:","info":"","x":186,"y":743,"wires":[]},{"id":"65206162.dc4a8","type":"comment","z":"2aad9787.375d58","name":"Receive messages:","info":"","x":150,"y":80,"wires":[]},{"id":"2bd25d8b.6012f2","type":"link in","z":"2aad9787.375d58","name":"","links":["d394713a.f940d"],"x":935,"y":560,"wires":[["5db4fc3e.dd1484"]]},{"id":"d394713a.f940d","type":"link out","z":"2aad9787.375d58","name":"To worldmap","links":["2bd25d8b.6012f2"],"x":679,"y":891,"wires":[]},{"id":"4d012f6b.41fe6","type":"ui_dropdown","z":"2aad9787.375d58","d":true,"name":"","label":"Quick Zoom to","tooltip":"","place":"Select option","group":"1b571869.5718d8","order":3,"width":"4","height":"2","passthru":true,"options":[{"label":"SKSK","value":0,"type":"num"},{"label":"Nipedalen","value":1,"type":"num"}],"payload":"","topic":"","x":142,"y":852,"wires":[["a5eed306.c62b1"]]},{"id":"6bd9e3eb.2e0bdc","type":"function","z":"2aad9787.375d58","name":"Zoom to Tennebekktjørna","func":"//Sjøkrigskolen:\n//60.394195, 5.262922\n//msg.payload = { command:{layer:\"OSM\",lat:60.394195,lon:5.262922,zoom:17} };\n//return msg;\n//Tennebekktjørna:\n//60.365013, 5.263031\nmsg.payload = { command:{layer:\"OSM\",lat:60.365013,lon:5.263031,zoom:17} };\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":891,"wires":[["d394713a.f940d"]]},{"id":"a5eed306.c62b1","type":"switch","z":"2aad9787.375d58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":289,"y":851,"wires":[["5fb70727.68d1f8"],["6bd9e3eb.2e0bdc"]]},{"id":"399245f1.333c1a","type":"inject","z":"2aad9787.375d58","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"2","x":490,"y":640,"wires":[["d9c7f022.d570b"]]},{"id":"d9c7f022.d570b","type":"function","z":"2aad9787.375d58","name":"(re)set fence center on map","func":"if (msg.payload.action == \"move\" || msg.payload === true){\n    var lat = msg.payload.lat;\n    var lon = msg.payload.lon;\n    \n    msg.payload = {};\n    //Delete old position\n    msg.payload.layer = \"Archimedes\";\n    msg.payload.name = \"Fence\";\n    \n    //Place at new position\n    if (typeof lat == \"number\" && typeof lon == \"number\") {\n        msg.payload.lat = lat;//command.fence.latitude;\n        msg.payload.lon = lon;//command.fence.longitude;\n    } else {\n        msg.payload.lat = 60.394195;//command.fence.latitude;\n        msg.payload.lon = 5.262922;//command.fence.longitude;\n    }\n    \n    msg.payload.radius = 50;\n    msg.payload.fillOpacity = 0.1;\n    msg.payload.draggable = true;\n    //msg.payload.layer = \"Sverm\";\n    //msg.payload.name = \"Boat \" + BoatOdometry.header.id;\n    msg.payload.ttl = 10;\n    msg.payload.time = flow.get(\"time\")||Date.now();\n    \n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":640,"wires":[["5db4fc3e.dd1484"]]},{"id":"f58c125e.6a928","type":"worldmap in","z":"2aad9787.375d58","name":"","path":"/worldmap","events":"all","x":480,"y":560,"wires":[["8d5cac4d.4db03"]]},{"id":"8d5cac4d.4db03","type":"switch","z":"2aad9787.375d58","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Fence","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":560,"wires":[["d9c7f022.d570b"]]},{"id":"a8b1463a.f34898","type":"function","z":"2aad9787.375d58","name":"reformat for boat trace (delete and replace)","func":"var gpsdata = msg.payload;\nvar id = 1;\n\ndelete msg.payload;\nmsg.payload = {};\n\n//Delete old position\nmsg.payload.layer = \"Sverm\";\nmsg.payload.name = \"Boat \" + id + \"-trace\";\nmsg.payload.deleted = true;\nnode.send(msg);\nmsg.payload.deleted = undefined;\n\nvar trace = context.get(\"trace\"+id)||[];\nvar tlength = trace.length;\nif (tlength > 50) {\n    trace.splice(0,1);\n}\ntrace.push([gpsdata.lat*1E-7, gpsdata.lon*1E-7]);\n//Save trace for next run\ncontext.set(\"trace\"+id,trace);\n\n//Plot trace\nmsg.payload.line = trace;\nmsg.payload.time = flow.get(\"time\")||Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":480,"wires":[["5db4fc3e.dd1484"]]},{"id":"9f2fc9a4.d95ca8","type":"change","z":"2aad9787.375d58","name":"Select Heading","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.groundspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":260,"wires":[["8bb5c3dd.35b75"]]},{"id":"dfb21e24.bbd41","type":"ui_gauge","z":"2aad9787.375d58","name":"","group":"decd04e6.5c92d8","order":1,"width":"0","height":"0","gtype":"gage","title":"Groundspeed","label":"degrees","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5","seg2":"7.5","x":1000,"y":260,"wires":[]},{"id":"8bb5c3dd.35b75","type":"function","z":"2aad9787.375d58","name":"round","func":"msg.payload = msg.payload.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["dfb21e24.bbd41","bb590bac.c057f8"]]},{"id":"bb590bac.c057f8","type":"change","z":"2aad9787.375d58","name":"","rules":[{"t":"set","p":"groundspeed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":260,"wires":[[]]},{"id":"153dbd1f.8cdd23","type":"change","z":"2aad9787.375d58","name":"","rules":[{"t":"set","p":"heading","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":300,"wires":[[]]},{"id":"4b7c4286.114d7c","type":"ui_group","z":"","name":"Stability and direction","tab":"9e54c418.2d3c68","order":3,"disp":true,"width":"5","collapse":false},{"id":"decd04e6.5c92d8","type":"ui_group","z":"","name":"Speed and altitude","tab":"9e54c418.2d3c68","order":4,"disp":true,"width":"4","collapse":false},{"id":"2d868c52.47ad04","type":"ui_group","z":"","name":"Worldmap","tab":"9e54c418.2d3c68","order":1,"disp":true,"width":"16","collapse":false},{"id":"1b571869.5718d8","type":"ui_group","z":"","name":"Control","tab":"9e54c418.2d3c68","order":2,"disp":true,"width":"5","collapse":false},{"id":"9e54c418.2d3c68","type":"ui_tab","z":"","name":"Pixhawk","icon":"dashboard","disabled":false,"hidden":false}]