2019-2023/selection_switchchange_eksempel.json
[{"id":"670a015a.cc05d","type":"switch","z":"682f21f6.ec85e","name":"blokk if off","property":"on","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":680,"wires":[["88ee1c90.048bc"]]},{"id":"4519ad1a.4c0424","type":"change","z":"682f21f6.ec85e","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":600,"wires":[[]]},{"id":"eb9a9dc3.c72a","type":"inject","z":"682f21f6.ec85e","name":"Turn on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":580,"wires":[["4519ad1a.4c0424"]]},{"id":"dd2816c2.0575a8","type":"inject","z":"682f21f6.ec85e","name":"Turn off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["4519ad1a.4c0424"]]},{"id":"88ee1c90.048bc","type":"debug","z":"682f21f6.ec85e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":680,"wires":[]},{"id":"3907619f.8d5fde","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"running","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":680,"wires":[["670a015a.cc05d"]]}]