2019-2023/selection_switchasfunction_eksempel.json
[{"id":"e5dd4b78.dec4d8","type":"function","z":"682f21f6.ec85e","name":"Switch as function","func":"var status = flow.get(\"on\")||false;\nif (status){\n\treturn msg;\n} else {\n\treturn;\n}\n","outputs":1,"noerr":0,"x":330,"y":920,"wires":[["aa0b3839.a80ea8"]]},{"id":"a81dbcf7.94e49","type":"inject","z":"682f21f6.ec85e","name":"","topic":"","payload":"running","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["e5dd4b78.dec4d8"]]},{"id":"aa0b3839.a80ea8","type":"debug","z":"682f21f6.ec85e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":920,"wires":[]},{"id":"52145c59.71e934","type":"change","z":"682f21f6.ec85e","name":"","rules":[{"t":"set","p":"on","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":860,"wires":[[]]},{"id":"af466558.39a168","type":"inject","z":"682f21f6.ec85e","name":"Turn on","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["52145c59.71e934"]]},{"id":"47476574.e2fe8c","type":"inject","z":"682f21f6.ec85e","name":"Turn off","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["52145c59.71e934"]]}]