2019-2023/selection_gjentakelse_async_eksempel.json
[{"id":"87b7e6bc.c61768","type":"function","z":"87a59279.7f09c","name":"Asynkrone repetisjoner","func":"var timer;\nmsg.payload = 0;\nnode.send(msg);       //Send foerste msg\n\n//Funksjonen som gjentas\nfunction countAndRepeat() {\n    msg.payload = msg.payload + 1;\n    node.send(msg);    //Send oppdatert msg \n    timer = setTimeout(function(){countAndRepeat();}, 1000); //Gjenta om 1s\n}\n\n//Foelgende skjer bare ved ny 'deploy'\nnode.on('close',function(){\n\t\tclearTimeout(timer);\n\t\tnode.warn('timer stopped');\n});\n\n//Starter funksjonen som gjentar seg om 1000ms\ntimer = setTimeout(function(){countAndRepeat();}, 1000);\n","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["8c67c536.3bf608"]]},{"id":"cfd866e3.96ea18","type":"inject","z":"87a59279.7f09c","name":"Once","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":420,"wires":[["87b7e6bc.c61768"]]},{"id":"8c67c536.3bf608","type":"debug","z":"87a59279.7f09c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":420,"wires":[]}]