2019-2023/selection_simulationNodes.json
[{"id":"aef6bcd1.53f2","type":"subflow","name":"Boat simulator (arduino and telemetry)","info":"This is the simulator. Use it if you use Arduino (sim) nodes (possibly with telemetry (sim) nodes).\n\nManual overwrite allows for setting battery to 'full' (msg.battery = 'full'), and for setting GPS start-point (msg.topic = 'posistion' with msg.lat, msg.lon and msg.heading in same input-msg).","category":"Arduino","in":[{"x":150,"y":500,"wires":[{"id":"7a3a98ea.242778"},{"id":"8415cd0a.14c1d"}]}],"out":[],"env":[{"name":"maxspeed","type":"num","value":"5.14","ui":{"icon":"font-awesome/fa-sliders","label":{"en-US":"Max speed [m/s]"},"type":"input","opts":{"types":["num"]}}},{"name":"maxturning","type":"num","value":"10","ui":{"icon":"font-awesome/fa-sliders","label":{"en-US":"Max rate of turn [degrees/s]"},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"debugmode","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-exclamation-circle","label":{"en-US":"Enable debug mode?"},"type":"checkbox","opts":{}}}],"color":"#C0C0C0","icon":"node-red/arduino.png"},{"id":"fa42c2f.48c804","type":"udp in","z":"aef6bcd1.53f2","name":"","iface":"","port":"6583","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":180,"wires":[["9faf8ffa.e4f7e","dfe3c614.42a4c8"]]},{"id":"f42c94af.672d98","type":"debug","z":"aef6bcd1.53f2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":140,"wires":[]},{"id":"45a6c135.dcdc2","type":"debug","z":"aef6bcd1.53f2","name":"Client IP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"fromip","targetType":"msg","x":780,"y":40,"wires":[]},{"id":"dfe3c614.42a4c8","type":"function","z":"aef6bcd1.53f2","name":"Remove Port","func":"msg.fromip = msg.fromip.substring(0, msg.fromip.search(\":\"));\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["ac9545d4.d75e08","c81225ea.c74598"]]},{"id":"627de2c0.ee9dec","type":"switch","z":"aef6bcd1.53f2","name":"pin empty?","property":"pin","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":140,"wires":[["1ecf5a9.446f9a5"]]},{"id":"9faf8ffa.e4f7e","type":"function","z":"aef6bcd1.53f2","name":"string to object and selection","func":"msg = JSON.parse(msg.payload);\nif (typeof(msg) == \"object\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":440,"y":180,"wires":[["c1a1e308.e0caf","48604204.ce509c"]]},{"id":"1ecf5a9.446f9a5","type":"switch","z":"aef6bcd1.53f2","name":"type empty?","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":140,"wires":[["f42c94af.672d98"]]},{"id":"c1a1e308.e0caf","type":"switch","z":"aef6bcd1.53f2","name":"servo type?","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"servo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":280,"wires":[["98251b45.9cb0e8"]]},{"id":"8a5c7e67.832f7","type":"switch","z":"aef6bcd1.53f2","name":"Which motor?","property":"pin","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"str"},{"t":"eq","v":"10","vt":"str"},{"t":"eq","v":"11","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":940,"y":280,"wires":[["30744c20.197f64"],["466e1af5.900164"],["be79d7f3.2aaf38"],["e89558af.36c088"],["db12351c.220fd8"]]},{"id":"22691371.f5eeac","type":"change","z":"aef6bcd1.53f2","name":"Left motor","rules":[{"t":"set","p":"leftmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":240,"wires":[[]]},{"id":"14d123d3.bca85c","type":"change","z":"aef6bcd1.53f2","name":"Right motor","rules":[{"t":"set","p":"rightmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":200,"wires":[[]]},{"id":"75c82548.a67eac","type":"change","z":"aef6bcd1.53f2","name":"Main motor","rules":[{"t":"set","p":"mainmotor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":280,"wires":[[]]},{"id":"ac9545d4.d75e08","type":"change","z":"aef6bcd1.53f2","name":"Client IP","rules":[{"t":"set","p":"clientip","pt":"flow","to":"fromip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[[]]},{"id":"20684d4b.bc0a12","type":"udp out","z":"aef6bcd1.53f2","name":"Send to simulation","addr":"","iface":"","port":"8365","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1270,"y":1380,"wires":[]},{"id":"bdbf04ec.7f23a8","type":"change","z":"aef6bcd1.53f2","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1380,"wires":[["20684d4b.bc0a12"]]},{"id":"3af332c9.d680ae","type":"inject","z":"aef6bcd1.53f2","name":"Update battery","topic":"","payload":"8.4","payloadType":"num","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1300,"wires":[["7e1e69f9.b56818"]]},{"id":"69eb0eb5.af1ef","type":"change","z":"aef6bcd1.53f2","name":"Battery Type & Pin","rules":[{"t":"set","p":"pin","pt":"msg","to":"A0","tot":"str"},{"t":"set","p":"type","pt":"msg","to":"analogue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1380,"wires":[["77e4c446.2701fc"]]},{"id":"77e4c446.2701fc","type":"function","z":"aef6bcd1.53f2","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1380,"wires":[["bdbf04ec.7f23a8"]]},{"id":"b2ba88ad.0de8b8","type":"function","z":"aef6bcd1.53f2","name":"Scale with voltage devider to 5V output","func":"//Forventer spenningsdeler 1kOhm av 1+2.2 = 3.2 kOhm\nmsg.payload = msg.payload/(3.2*5)*1023;\nmsg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1380,"wires":[["69eb0eb5.af1ef"]]},{"id":"7a3a98ea.242778","type":"switch","z":"aef6bcd1.53f2","name":"Manual battery input?","property":"payload.battery","propertyType":"msg","rules":[{"t":"eq","v":"full","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":460,"wires":[["27e73369.54a72c"]]},{"id":"27e73369.54a72c","type":"change","z":"aef6bcd1.53f2","name":"battery to max Wh","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"38","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[[]]},{"id":"f9d503f.9bc53","type":"comment","z":"aef6bcd1.53f2","name":"Maintain ClientIP","info":"","x":120,"y":40,"wires":[]},{"id":"e1e509a4.7bae98","type":"comment","z":"aef6bcd1.53f2","name":"Get motor readings","info":"","x":130,"y":140,"wires":[]},{"id":"1d752e2c.d99932","type":"comment","z":"aef6bcd1.53f2","name":"Get manual override (battery & placement)","info":"","x":200,"y":420,"wires":[]},{"id":"8415cd0a.14c1d","type":"switch","z":"aef6bcd1.53f2","name":"Manual position input?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"posistion","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":540,"wires":[["20f22a2c.992376"]]},{"id":"4d7bd36a.af679c","type":"comment","z":"aef6bcd1.53f2","name":"Estimate current power consumption and calculate remaining power","info":"","x":300,"y":1040,"wires":[]},{"id":"72a3b547.1aaa6c","type":"inject","z":"aef6bcd1.53f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":1100,"wires":[["264e9e6a.36b162"]]},{"id":"264e9e6a.36b162","type":"change","z":"aef6bcd1.53f2","name":"Get current motor state","rules":[{"t":"set","p":"leftmotor","pt":"msg","to":"leftmotor","tot":"flow"},{"t":"set","p":"rightmotor","pt":"msg","to":"rightmotor","tot":"flow"},{"t":"set","p":"mainmotor","pt":"msg","to":"mainmotor","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1100,"wires":[["321c51d6.e443de"]]},{"id":"321c51d6.e443de","type":"function","z":"aef6bcd1.53f2","name":"Sum up to total power use","func":"var minuse = 0.68; //W\nvar leftuse = (Math.abs(msg.leftmotor - 90)/90.0)*100; //% usage\nleftuse = 0.11*leftuse; //W\nvar rightuse = (Math.abs(msg.rightmotor - 90)/90.0)*100; //% usage\nrightuse = 0.11*rightuse; //W\nvar mainuse = (Math.abs(msg.mainmotor - 90)/90.0)*100; //% usage\nmainuse = 0.11*mainuse; //W\nmsg.totaluse = minuse + leftuse + rightuse + mainuse;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1100,"wires":[["ad35c78f.8ee908"]]},{"id":"ad35c78f.8ee908","type":"change","z":"aef6bcd1.53f2","name":"Update current power usage","rules":[{"t":"set","p":"totalPowerUsage","pt":"flow","to":"totaluse","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1100,"wires":[["67c2e1e4.d8394"]]},{"id":"f88905e1.829408","type":"comment","z":"aef6bcd1.53f2","name":"Battery feedback over pin A0","info":"","x":200,"y":1260,"wires":[]},{"id":"ec1aa779.880b98","type":"function","z":"aef6bcd1.53f2","name":"Calculate new remaining battery capacity","func":"var lasttime = context.get('lasttime')||Date.now();\nvar timenow = Date.now();\ncontext.set('lasttime',timenow);\nmsg.timeperiodeInHours = (timenow-lasttime)/(1000*60*60);\nif (typeof(msg.batteryCapacity) != 'number' || isNaN(msg.batteryCapacity)) {\n    msg.batteryCapacity = 38;   //full at default\n}\nmsg.batteryCapacity = Math.max(0.0, (msg.batteryCapacity - msg.totaluse*msg.timeperiodeInHours));\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1180,"wires":[["3889f16.537280e"]]},{"id":"67c2e1e4.d8394","type":"change","z":"aef6bcd1.53f2","name":"Get current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"msg","to":"batteryCapacity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1180,"wires":[["ec1aa779.880b98"]]},{"id":"3889f16.537280e","type":"change","z":"aef6bcd1.53f2","name":"Save current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"batteryCapacity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1180,"wires":[[]]},{"id":"24d7bb3b.78ca54","type":"inject","z":"aef6bcd1.53f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":700,"wires":[["7664fa33.261064","d07b7920.813668","a5889745.d02f78","5855dc59.6ff3a4","8453d71d.2607a8","f1c32987.f48688","57a22e51.de26b","a9723336.9bc49"]]},{"id":"48f5580a.bdca48","type":"comment","z":"aef6bcd1.53f2","name":"Set default values if not set","info":"","x":170,"y":640,"wires":[]},{"id":"7664fa33.261064","type":"switch","z":"aef6bcd1.53f2","name":"Left motor","property":"leftmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":640,"wires":[["8d53428d.a547f"]]},{"id":"d07b7920.813668","type":"switch","z":"aef6bcd1.53f2","name":"Right motor","property":"rightmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":680,"wires":[["2655a9e6.8eae46"]]},{"id":"5855dc59.6ff3a4","type":"switch","z":"aef6bcd1.53f2","name":"Remaining Battery Capacity","property":"batteryCapacity","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":880,"wires":[["a70bb352.6f6e2"]]},{"id":"a5889745.d02f78","type":"switch","z":"aef6bcd1.53f2","name":"Main motor","property":"mainmotor","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":720,"wires":[["3cc17f30.52c21"]]},{"id":"8d53428d.a547f","type":"change","z":"aef6bcd1.53f2","name":"Left motor","rules":[{"t":"set","p":"leftmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":640,"wires":[[]]},{"id":"2655a9e6.8eae46","type":"change","z":"aef6bcd1.53f2","name":"Right motor","rules":[{"t":"set","p":"rightmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":680,"wires":[[]]},{"id":"3cc17f30.52c21","type":"change","z":"aef6bcd1.53f2","name":"Main motor","rules":[{"t":"set","p":"mainmotor","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":720,"wires":[[]]},{"id":"a70bb352.6f6e2","type":"change","z":"aef6bcd1.53f2","name":"Rem. Battery Capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"flow","to":"38","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":880,"wires":[[]]},{"id":"c476ca03.958d38","type":"function","z":"aef6bcd1.53f2","name":"Battery model - voltage vs remaining capacity","func":"var level = msg.batteryCapacity/38.0;\n///////////////////////////////////\n/////Model constants /////////////\n///////////////////////////////////\n//Linear drop from 8.3 to 8.5 over 65% of capacity\nvar alin = 0.2/0.65;\n//Logarithmic drop for less then 20%\nvar alog = alin*Math.log(10)*0.2; \n// Exponential curve for more then 85%, between 8.5 and 9V\nvar c = 24.58403; //Linear solution for alin*e^0.15*c - alin = deltay*c with deltay = 0.5\nvar b = 8.5-alin/c;\nvar aexp = alin/(c*Math.exp(0.85*c));\n//////////////////////////////////\n\nif (level === 0) {\n    //Empty\n    msg.payload = 0;\n} else if (level < 0.20) {\n    //Log-phase\n    msg.payload = Math.log((level/0.2))*alog/Math.LN10+8.3;\n} else if (level < 0.85) {\n    //Linear phase\n    msg.payload = alin*(level-0.2)+8.3;\n} else if (level <= 1) {\n    //Exponential phase\n    msg.payload = aexp*Math.exp(c*level)+b;\n}\n\n///////////////////////////////////\n///// Temporary drop due to power consumption\n///////////////////////////////////\nvar aPowerDrop = -0.0475; // Volt per Watt\nmsg.payload = msg.payload + aPowerDrop*msg.totalPowerUsage;\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1300,"wires":[["b2ba88ad.0de8b8"]]},{"id":"7e1e69f9.b56818","type":"change","z":"aef6bcd1.53f2","name":"Get current remaining capacity","rules":[{"t":"set","p":"batteryCapacity","pt":"msg","to":"batteryCapacity","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1300,"wires":[["ba0bebd4.a38028"]]},{"id":"ba0bebd4.a38028","type":"change","z":"aef6bcd1.53f2","name":"Get current power usage","rules":[{"t":"set","p":"totalPowerUsage","pt":"msg","to":"totalPowerUsage","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1300,"wires":[["c476ca03.958d38"]]},{"id":"8453d71d.2607a8","type":"change","z":"aef6bcd1.53f2","name":"Max speed","rules":[{"t":"set","p":"maxspeed","pt":"flow","to":"maxspeed","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[[]]},{"id":"35b0f274.7ccffe","type":"change","z":"aef6bcd1.53f2","name":"position to manual position","rules":[{"t":"set","p":"lon","pt":"flow","to":"lon","tot":"msg"},{"t":"set","p":"lat","pt":"flow","to":"lat","tot":"msg"},{"t":"set","p":"heading","pt":"flow","to":"heading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":540,"wires":[[]]},{"id":"20f22a2c.992376","type":"switch","z":"aef6bcd1.53f2","name":"msg.lon set?","property":"lon","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":540,"wires":[["c33b3e66.6b083"]]},{"id":"c33b3e66.6b083","type":"switch","z":"aef6bcd1.53f2","name":"msg.lat set?","property":"lat","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":540,"wires":[["fe04a544.e71cd8"]]},{"id":"fe04a544.e71cd8","type":"switch","z":"aef6bcd1.53f2","name":"msg.heading set?","property":"heading","propertyType":"msg","rules":[{"t":"istype","v":"number","vt":"number"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":540,"wires":[["35b0f274.7ccffe"]]},{"id":"ea4835bf.1ef5a8","type":"function","z":"aef6bcd1.53f2","name":"Update Lat/Lon via speed & bearing","func":"//Update flow-variables heading, lon, lat and time\n//Depends on vales for\n// Selv maintained:\n// - heading\n// - lat\n// - lon\n// Have to be set via other nodes/functions:\n// - rateOfTurn\n// - speed\n//\nNumber.prototype.toRadians = function() { return this * Math.PI / 180; };\nNumber.prototype.toDegrees = function() { return this * 180 / Math.PI; };\n\nvar φ1 = flow.get(\"lat\")||60.394195;\nvar λ1 = flow.get(\"lon\")||5.262922;\nvar T1 = context.get(\"lastupdatespeed\")||Date.now();\nvar T2 = Date.now();\ncontext.set(\"lastupdatespeed\", T2);\n\n//var brng = 180;\n//var speed = 4;                         //meter/seconds\nvar elapsedtime = (T2-T1)/(1000.0);     //seconds\n\nvar brngchange = flow.get(\"rateOfTurn\")||0;  //degrees/second\n//var brngchange = flow.get(\"bearingchange\")||0;  //degrees/second\n\nvar brng = flow.get(\"heading\")||0;\n//var brng = flow.get(\"bearing\")||0;\nbrng += brngchange*elapsedtime;\nif (brng < 0) {\n    brng = 360 + brng;\n}\nif (brng > 360) {\n    brng = brng - 360;\n}\nflow.set(\"heading\",brng);\n//flow.set(\"bearing\",brng);\n\nvar speed = flow.get(\"speed\")||0;\n\nvar d = speed * elapsedtime;            //meters\n//node.status({text: \"distance: \"+d+\", time: \"+elapsedtime})\n\nvar R = 6371e3; // metres\nφ1 = φ1.toRadians();\nλ1 = λ1.toRadians();\nbrng = brng.toRadians();\n\nvar φ2 = Math.asin( Math.sin(φ1)*Math.cos(d/R) +\n                    Math.cos(φ1)*Math.sin(d/R)*Math.cos(brng) );\nvar λ2 = λ1 + Math.atan2(Math.sin(brng)*Math.sin(d/R)*Math.cos(φ1),\n                         Math.cos(d/R)-Math.sin(φ1)*Math.sin(φ2));\n\nφ2 = φ2.toDegrees();\nλ2 = λ2.toDegrees();\n\nflow.set(\"lat\",φ2);\nflow.set(\"lon\",λ2);\nflow.set(\"time\",T2);\n","outputs":1,"noerr":0,"x":520,"y":1860,"wires":[[]]},{"id":"bed29fbb.6cf6c","type":"inject","z":"aef6bcd1.53f2","name":"Update GPS & heading","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":1860,"wires":[["ea4835bf.1ef5a8"]]},{"id":"c81225ea.c74598","type":"switch","z":"aef6bcd1.53f2","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":40,"wires":[["45a6c135.dcdc2"]]},{"id":"48604204.ce509c","type":"switch","z":"aef6bcd1.53f2","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":140,"wires":[["627de2c0.ee9dec"]]},{"id":"88abd2f6.f4962","type":"change","z":"aef6bcd1.53f2","name":"Side rudders","rules":[{"t":"set","p":"siderudders","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":340,"wires":[[]]},{"id":"bbefe799.ceea88","type":"change","z":"aef6bcd1.53f2","name":"Main rudder","rules":[{"t":"set","p":"mainrudder","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":380,"wires":[[]]},{"id":"f1c32987.f48688","type":"switch","z":"aef6bcd1.53f2","name":"Side rudders","property":"siderudders","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":780,"wires":[["6d336ca3.6fc594"]]},{"id":"6d336ca3.6fc594","type":"change","z":"aef6bcd1.53f2","name":"Side rudders","rules":[{"t":"set","p":"siderudders","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":780,"wires":[[]]},{"id":"57a22e51.de26b","type":"switch","z":"aef6bcd1.53f2","name":"Main rudder","property":"mainrudder","propertyType":"flow","rules":[{"t":"istype","v":"undefined","vt":"undefined"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":820,"wires":[["757007fc.73ccb8"]]},{"id":"757007fc.73ccb8","type":"change","z":"aef6bcd1.53f2","name":"Main rudder","rules":[{"t":"set","p":"mainrudder","pt":"flow","to":"90","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":820,"wires":[[]]},{"id":"a9723336.9bc49","type":"change","z":"aef6bcd1.53f2","name":"Max turn rate","rules":[{"t":"set","p":"maxturning","pt":"flow","to":"maxturning","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[[]]},{"id":"feb30f65.8c0e1","type":"comment","z":"aef6bcd1.53f2","name":"Calculate current speed and turning rate","info":"","x":230,"y":1520,"wires":[]},{"id":"9854918b.59716","type":"comment","z":"aef6bcd1.53f2","name":"Update GPS-position and heading","info":"","x":220,"y":1800,"wires":[]},{"id":"cf82c296.9929f","type":"function","z":"aef6bcd1.53f2","name":"Calculate effective forward speed (with delay)","func":"var lastspeed = flow.get(\"speed\")||0.0;\nif (typeof(lastspeed) != \"number\") {\n    lastspeed = 0.0;\n}\n//\nmsg.leftmotorspeed = flow.get(\"leftmotor\");\nmsg.rightmotorspeed = flow.get(\"rightmotor\");\nmsg.mainmotorspeed = flow.get(\"mainmotor\");\n// \nmsg.maxspeed = env.get(\"maxspeed\")||5.14;\nmsg.maxturning = env.get(\"maxturning\")||10.0;\n//\n//Calculate delta-speed of side-motors:\n//negativ value is turning left, positiv value is turning right\n//Valuerange is -180 to +180 (0 for same direction)\nmsg.deltaSpeed = msg.leftmotorspeed - msg.rightmotorspeed;\n//Speed is sum of all motors:\nmsg.speed = msg.leftmotorspeed + msg.rightmotorspeed + msg.mainmotorspeed - 3.0*90.0;\n//Scale speed:\nmsg.speed = (msg.speed/(3*90.0))*msg.maxspeed;\n//Delay slowdown: 3:1 priority on new speed\nmsg.speed = ((lastspeed + 3*msg.speed)/4.0);//.toFixed(8);\nmsg.speed = Math.round(msg.speed*1E8)*1E-8;\nflow.set(\"speed\",msg.speed);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1580,"wires":[["62929999.4f2148"]]},{"id":"62929999.4f2148","type":"range","z":"aef6bcd1.53f2","minin":"-180","maxin":"180","minout":"-1","maxout":"1","action":"scale","round":false,"property":"deltaSpeed","name":"Scale deltaSpeed","x":870,"y":1580,"wires":[["aa58f7b.4010408"]]},{"id":"2a183165.4bf8de","type":"inject","z":"aef6bcd1.53f2","name":"Update speed and turning-rate","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1580,"wires":[["cf82c296.9929f"]]},{"id":"98251b45.9cb0e8","type":"function","z":"aef6bcd1.53f2","name":"string to number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":280,"wires":[["8a5c7e67.832f7"]]},{"id":"cbc4685b.8c0e78","type":"debug","z":"aef6bcd1.53f2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"speed","targetType":"msg","x":1310,"y":1640,"wires":[]},{"id":"e9e0beeb.21024","type":"debug","z":"aef6bcd1.53f2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"deltaSpeed","targetType":"msg","x":1320,"y":1680,"wires":[]},{"id":"6e0ec935.33d258","type":"switch","z":"aef6bcd1.53f2","name":"debugmode","property":"debugmode","propertyType":"env","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1110,"y":1720,"wires":[["cbc4685b.8c0e78","e9e0beeb.21024","1976d6e1.9f8429","23100af2.bc4116"]]},{"id":"30744c20.197f64","type":"range","z":"aef6bcd1.53f2","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":200,"wires":[["14d123d3.bca85c"]]},{"id":"466e1af5.900164","type":"range","z":"aef6bcd1.53f2","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":240,"wires":[["22691371.f5eeac"]]},{"id":"be79d7f3.2aaf38","type":"range","z":"aef6bcd1.53f2","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":280,"wires":[["75c82548.a67eac"]]},{"id":"e89558af.36c088","type":"range","z":"aef6bcd1.53f2","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":340,"wires":[["88abd2f6.f4962"]]},{"id":"db12351c.220fd8","type":"range","z":"aef6bcd1.53f2","minin":"0","maxin":"180","minout":"0","maxout":"180","action":"clamp","round":true,"property":"payload","name":"","x":1160,"y":380,"wires":[["bbefe799.ceea88"]]},{"id":"4be339f6.10eb98","type":"comment","z":"aef6bcd1.53f2","name":"Setting speed:","info":"","x":650,"y":1540,"wires":[]},{"id":"c3ff2290.538ff","type":"comment","z":"aef6bcd1.53f2","name":"Setting rateOfTurn:","info":"","x":890,"y":1680,"wires":[]},{"id":"e2ab9941.dde538","type":"function","z":"aef6bcd1.53f2","name":"Calculate effective Rate of Turn","func":"// expecting msg.rudder\n// also expecting to have msg.speed and msg.deltaSpeed available (both normalized)\n// also msg.maxturning and msg.maxspeed is expected (from env.get in first function of thread)\n//\n//Normalize rudder to (-1..+1) :\n//      msg.rudder = (msg.rudder-90.0)/90.0;\n//Turn-rate due to rudder:\n//mainrudder > 90 -> turn to left, mainrudder < 90 -> turn to right\n//In reverse, the heading is turning the other way, but this should be included due to speed-inclusion\nif (msg.speed < 0) {\n    //Reverse: turning is less efficient\n    msg.rateOfTurnRudder = -0.5*(msg.speed/msg.maxspeed)*msg.rudder*0.5*msg.maxturning;\n} else {\n    //Forward:\n    msg.rateOfTurnRudder = -1.0*(msg.speed/msg.maxspeed)*msg.rudder*0.5*msg.maxturning;\n}\n//Turn-rate due to deltaSpeed of side-motors:\nmsg.rateOfTurnDeltaSpeed = 1.0*msg.deltaSpeed*0.5*msg.maxturning;\n\nmsg.rateOfTurn = msg.rateOfTurnRudder + msg.rateOfTurnDeltaSpeed;\n\nflow.set(\"rateOfTurn\",msg.rateOfTurn);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1720,"wires":[["6e0ec935.33d258"]]},{"id":"1976d6e1.9f8429","type":"debug","z":"aef6bcd1.53f2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"rateOfTurn","targetType":"msg","x":1320,"y":1720,"wires":[]},{"id":"856090d.c985b7","type":"range","z":"aef6bcd1.53f2","minin":"50","maxin":"130","minout":"-1","maxout":"1","action":"clamp","round":false,"property":"rudder","name":"","x":590,"y":1720,"wires":[["e2ab9941.dde538"]]},{"id":"aa58f7b.4010408","type":"change","z":"aef6bcd1.53f2","name":"","rules":[{"t":"set","p":"rudder","pt":"msg","to":"mainrudder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1720,"wires":[["856090d.c985b7"]]},{"id":"23100af2.bc4116","type":"debug","z":"aef6bcd1.53f2","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":1760,"wires":[]},{"id":"cce21d77.deb94","type":"function","z":"aef6bcd1.53f2","name":"Calculate effective forward speed (no delay)","func":"msg.leftmotorspeed = flow.get(\"leftmotor\");\nmsg.rightmotorspeed = flow.get(\"rightmotor\");\nmsg.mainmotorspeed = flow.get(\"mainmotor\");\n// \nmsg.maxspeed = env.get(\"maxspeed\")||5.14;\nmsg.maxturning = env.get(\"maxturning\")||10.0;\n//\n//Calculate delta-speed of side-motors:\n//negativ value is turning left, positiv value is turning right\n//Valuerange is -180 to +180 (0 for same direction)\nmsg.deltaSpeed = msg.leftmotorspeed - msg.rightmotorspeed;\n//Speed is sum of all motors:\nmsg.speed = msg.leftmotorspeed + msg.rightmotorspeed + msg.mainmotorspeed - 3.0*90.0;\n//Scale speed:\nmsg.speed = (msg.speed/(3*90.0))*msg.maxspeed;\nflow.set(\"speed\",msg.speed);\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1620,"wires":[[]]},{"id":"74c975e5.14458c","type":"comment","z":"aef6bcd1.53f2","name":"Telemetry interaction","info":"","x":150,"y":2020,"wires":[]},{"id":"9b6a6408.502e38","type":"udp out","z":"aef6bcd1.53f2","name":"Send to Pixhawk-simulation","addr":"","iface":"","port":"8088","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1240,"y":2180,"wires":[]},{"id":"72e4f0c.aacbe1","type":"udp in","z":"aef6bcd1.53f2","name":"","iface":"","port":"8880","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":200,"y":2320,"wires":[["a16fe1e8.7f46e"]]},{"id":"a16fe1e8.7f46e","type":"change","z":"aef6bcd1.53f2","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":2180,"wires":[["9b6a6408.502e38"]]},{"id":"139d8dc7.8f4b92","type":"function","z":"aef6bcd1.53f2","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":2180,"wires":[["a16fe1e8.7f46e"]]},{"id":"69a69d21.02b404","type":"comment","z":"aef6bcd1.53f2","name":"Loop input messages","info":"","x":220,"y":2280,"wires":[]},{"id":"4ce8ad71.c77044","type":"comment","z":"aef6bcd1.53f2","name":"Prepare and send updated sensor-data","info":"","x":270,"y":2080,"wires":[]},{"id":"aaa64669.db25a8","type":"function","z":"aef6bcd1.53f2","name":"GLOBAL_POSITION_INT","func":"var firsttime = context.get(\"firsttime\")||0;\nif (firsttime === 0) {\n    firsttime = Date.now();\n    context.set(\"firsttime\",firsttime);\n}\n//\nmsg = {};\nmsg.payload = {};\nmsg.topic = \"GLOBAL_POSITION_INT\";\nmsg.payload.time_boot_ms = Date.now() - firsttime;\nmsg.payload.lat = flow.get(\"lat\")||0; msg.payload.lat = Math.round(msg.payload.lat*1E7);\nmsg.payload.lon = flow.get(\"lon\")||0; msg.payload.lon = Math.round(msg.payload.lon*1E7);\nmsg.payload.alt = flow.get(\"alt\")||0.00003;\nmsg.payload.relative_alt = flow.get(\"relative_alt\")||0.00002935;\nmsg.payload.vx = flow.get(\"vx\")||0;\nmsg.payload.vy = flow.get(\"vy\")||0;\nmsg.payload.vz = flow.get(\"vz\")||0;\nmsg.payload.hdg = flow.get(\"heading\")||0; msg.payload.hdg = Math.round(msg.payload.hdg*1E2)*1E-2;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2180,"wires":[["139d8dc7.8f4b92"]]},{"id":"2367e82e.d44268","type":"function","z":"aef6bcd1.53f2","name":"VFR_HUD","func":"msg = {};\nmsg.payload = {};\nmsg.topic = \"VFR_HUD\";\nmsg.payload.airspeed = flow.get(\"speed\")||0;\nmsg.payload.groundspeed = flow.get(\"speed\")||0;\nmsg.payload.heading = flow.get(\"heading\")||0; msg.payload.heading = Math.round(msg.payload.heading*1E2)*1E-2;\nmsg.payload.throttle = flow.get(\"throttle\")||0;\nmsg.payload.alt = flow.get(\"alt\")||0;\nmsg.payload.climb = flow.get(\"climb\")||0;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2120,"wires":[["139d8dc7.8f4b92"]]},{"id":"282ea47a.16b9dc","type":"inject","z":"aef6bcd1.53f2","name":"Send Telemetry data","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":2140,"wires":[["2367e82e.d44268","aaa64669.db25a8"]]},{"id":"4c5cf294.2bebfc","type":"subflow","name":"Telemetry and RC (min, sim)","info":"# Connect via USB-Telemetry Radio to Pixhawk 4 with Telemetry Radio\n\nMAVlink telemetry information is received automatically\n\nAdditional control messages (RC) can be transmitted via message input\n\n**This is a simulation node, working together with a Boat simulator (arduino and telemetry)-node under Arduino-nodes.**","category":"Pixhawk","in":[{"x":120,"y":440,"wires":[{"id":"5386c7e8.d26ed8"}]}],"out":[{"x":940,"y":140,"wires":[{"id":"c53c4e8.b2d93b","port":1}]},{"x":940,"y":240,"wires":[{"id":"c53c4e8.b2d93b","port":2}]},{"x":940,"y":340,"wires":[{"id":"c53c4e8.b2d93b","port":3}]}],"env":[],"color":"#C0DEED","inputLabels":["Send msg/RC-msg"],"outputLabels":["VFR_HUD","GLOBAL_POSITION_INT","CONTROL"],"icon":"node-red/bridge.svg","status":{"x":800,"y":520,"wires":[{"id":"7bd4214f.8953f","port":0}]}},{"id":"66a3d341.81838c","type":"udp in","z":"4c5cf294.2bebfc","name":"","iface":"","port":"8088","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":120,"wires":[["ed3df166.88749","f1a022d2.8a581"]]},{"id":"e5393cd1.c9428","type":"udp out","z":"4c5cf294.2bebfc","name":"","addr":"","iface":"","port":"8880","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":620,"y":440,"wires":[]},{"id":"ed3df166.88749","type":"function","z":"4c5cf294.2bebfc","name":"Remove Port","func":"msg.fromip = msg.fromip.substring(0, msg.fromip.search(\":\"));\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["790be8e3.4d5c08"]]},{"id":"790be8e3.4d5c08","type":"change","z":"4c5cf294.2bebfc","name":"Client IP","rules":[{"t":"set","p":"clientip","pt":"flow","to":"fromip","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[[]]},{"id":"1de8de72.a9bf92","type":"change","z":"4c5cf294.2bebfc","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"clientip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":440,"wires":[["e5393cd1.c9428"]]},{"id":"5386c7e8.d26ed8","type":"function","z":"4c5cf294.2bebfc","name":"msg to string","func":"msg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":440,"wires":[["1de8de72.a9bf92"]]},{"id":"f1a022d2.8a581","type":"function","z":"4c5cf294.2bebfc","name":"string to object and selection","func":"msg = JSON.parse(msg.payload);\nif (typeof(msg) == \"object\") {\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["c53c4e8.b2d93b"]]},{"id":"c29f9f55.50552","type":"inject","z":"4c5cf294.2bebfc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":520,"wires":[["1ec9443a.c1648c"]]},{"id":"1ec9443a.c1648c","type":"function","z":"4c5cf294.2bebfc","name":"Simulate status","func":"msg.payload = {fill:\"yellow\",shape:\"ring\",text:\"Search for serial devices and starting MAVlink...\"};\nmsg.delay = 0;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"ring\",text:'Pixhawk/telemetry-device found (simulation)'};\nmsg.delay = 500;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'Serial Port is ready'};\nmsg.delay = 1000;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'Serial Port is open'};\nmsg.delay = 1500;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"ring\",text:'Mavlink is ready'};\nmsg.delay = 1800;\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:'connected'};\nmsg.delay = 2500;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["7bd4214f.8953f"]]},{"id":"7bd4214f.8953f","type":"delay","z":"4c5cf294.2bebfc","name":"delay messages","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":520,"wires":[[]]},{"id":"c53c4e8.b2d93b","type":"switch","z":"4c5cf294.2bebfc","name":"Sort after msg-type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ATTITUDE","vt":"str"},{"t":"eq","v":"VFR_HUD","vt":"str"},{"t":"eq","v":"GLOBAL_POSITION_INT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":120,"wires":[[],[],[],[]],"outputLabels":["ATTITUDE","VFR_HUD","GLOBAL_POSITION_INT","NAMED_VALUE_FLOAT"]},{"id":"81f2f712.bc63e8","type":"change","z":"4c5cf294.2bebfc","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[[]]},{"id":"bca30fb1.bb76f","type":"debug","z":"4c5cf294.2bebfc","name":"ATTITUDE","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":80,"wires":[]},{"id":"67ac3db6.f2b944","type":"debug","z":"4c5cf294.2bebfc","name":"VFR_HUD","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":160,"wires":[]},{"id":"8dfd2dd7.09c7e","type":"debug","z":"4c5cf294.2bebfc","name":"NAMED_VALUE_FLOAT","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":360,"wires":[]},{"id":"55aaf707.2ef138","type":"debug","z":"4c5cf294.2bebfc","name":"GLOBAL_POSITION_INT","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1130,"y":260,"wires":[]},{"id":"a2853435.f7c1b8","type":"subflow","name":"arduino in (sim)","info":"Arduino input node (simulated). This node is simulating an Arduino input node (as used with Firmata), possibly simulated on an other device in the network. Enter the IP-address of the simulating device if used.","category":"Arduino","in":[],"out":[{"x":860,"y":100,"wires":[{"id":"ceb6fc95.00161","port":0}]}],"env":[{"name":"ip","type":"str","value":"127.0.0.1","ui":{"icon":"font-awesome/fa-tasks","label":{"en-US":"Arduino"},"type":"input","opts":{"types":["str"]}}},{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-wrench","label":{"en-US":"Type"},"type":"select","opts":{"opts":[{"l":{"en-US":"Digital (0/1)"},"v":"digital"},{"l":{"en-US":"Analogue (0-255)"},"v":"analogue"},{"l":{"en-US":"Servo (0-180)"},"v":"servo"},{"l":{"en-US":"String"},"v":"string"}]}}},{"name":"pin","type":"str","value":"","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"Pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/arduino.png","status":{"x":780,"y":260,"wires":[{"id":"39888fa7.126c6","port":0}]}},{"id":"e36c752.4c65788","type":"udp in","z":"a2853435.f7c1b8","name":"Receive simulating data","iface":"","port":"8365","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":160,"y":100,"wires":[["241bfc29.39ce04"]]},{"id":"2c91014f.020eae","type":"udp out","z":"a2853435.f7c1b8","name":"Send to simulator","addr":"","iface":"","port":"6583","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":710,"y":180,"wires":[]},{"id":"19923f36.443b11","type":"inject","z":"a2853435.f7c1b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":260,"wires":[["90ff354c.672428"]]},{"id":"90ff354c.672428","type":"function","z":"a2853435.f7c1b8","name":"Simulate status","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"connecting...\"};\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:\"connected\"};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["39888fa7.126c6"]]},{"id":"a0ca2453.ae0b48","type":"change","z":"a2853435.f7c1b8","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":180,"wires":[["2c91014f.020eae"]]},{"id":"241bfc29.39ce04","type":"change","z":"a2853435.f7c1b8","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["ceb6fc95.00161"]]},{"id":"ceb6fc95.00161","type":"function","z":"a2853435.f7c1b8","name":"string to msg and selection","func":"msg.payload = JSON.parse(msg.payload);\nif (msg.payload.pin == msg.pin && msg.payload.type == msg.type) {\n    msg.payload = msg.payload.payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":100,"wires":[[]]},{"id":"39888fa7.126c6","type":"delay","z":"a2853435.f7c1b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":630,"y":260,"wires":[[]]},{"id":"3675bc08.a14394","type":"inject","z":"a2853435.f7c1b8","name":"Inform simulator about the IP of this device","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":180,"wires":[["a0ca2453.ae0b48"]]},{"id":"d0af469c.6fa198","type":"subflow","name":"arduino out (sim)","info":"Arduino output node (simulated). This node is simulating an Arduino output node (as used with Firmata), possibly simulated on an other device in the network. Enter the IP-address of the simulating device if used.","category":"Arduino","in":[{"x":60,"y":100,"wires":[{"id":"d11ca6b9.32d008"}]}],"out":[],"env":[{"name":"ip","type":"str","value":"127.0.0.1","ui":{"icon":"font-awesome/fa-tasks","label":{"en-US":"Arduino"},"type":"input","opts":{"types":["str"]}}},{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-wrench","label":{"en-US":"Type"},"type":"select","opts":{"opts":[{"l":{"en-US":"Digital (0/1)"},"v":"digital"},{"l":{"en-US":"Analogue (0-255)"},"v":"analogue"},{"l":{"en-US":"Servo (0-180)"},"v":"servo"},{"l":{"en-US":"String"},"v":"string"}]}}},{"name":"pin","type":"str","value":"","ui":{"icon":"font-awesome/fa-circle","label":{"en-US":"Pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#3FADB5","icon":"node-red/arduino.png","status":{"x":720,"y":180,"wires":[{"id":"39e82ec2.f5d172","port":0}]}},{"id":"208a5df3.c2d8d2","type":"udp out","z":"d0af469c.6fa198","name":"Send to simulator","addr":"","iface":"","port":"6583","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":870,"y":100,"wires":[]},{"id":"c15c1fe3.560f5","type":"inject","z":"d0af469c.6fa198","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":180,"wires":[["7bbb2b80.b42004"]]},{"id":"7bbb2b80.b42004","type":"function","z":"d0af469c.6fa198","name":"Simulate status","func":"msg.payload = {fill:\"grey\",shape:\"ring\",text:\"connecting...\"};\nnode.send(msg);\nmsg.payload = {fill:\"green\",shape:\"dot\",text:\"connected\"};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["39e82ec2.f5d172"]]},{"id":"fa7cbae2.612fc8","type":"change","z":"d0af469c.6fa198","name":"Get target IP","rules":[{"t":"set","p":"ip","pt":"msg","to":"ip","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":100,"wires":[["208a5df3.c2d8d2"]]},{"id":"d11ca6b9.32d008","type":"change","z":"d0af469c.6fa198","name":"Get env-variables","rules":[{"t":"set","p":"pin","pt":"msg","to":"pin","tot":"env"},{"t":"set","p":"type","pt":"msg","to":"type","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["79d9a519.8ab17c"]]},{"id":"79d9a519.8ab17c","type":"function","z":"d0af469c.6fa198","name":"msg to string","func":"msg.payload = msg.payload.toFixed(0);\nmsg.payload = JSON.stringify(msg);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["fa7cbae2.612fc8"]]},{"id":"39e82ec2.f5d172","type":"delay","z":"d0af469c.6fa198","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":180,"wires":[[]]},{"id":"3e024ec8.11cd52","type":"subflow:d0af469c.6fa198","z":"59bf9b4e.9d2cf4","name":"Siderorene","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"5","type":"str"}],"x":890,"y":60,"wires":[]},{"id":"4a7be88b.fa88b8","type":"subflow:d0af469c.6fa198","z":"59bf9b4e.9d2cf4","name":"Hovedror","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"6","type":"str"}],"x":880,"y":160,"wires":[]},{"id":"6bb6b711.341d18","type":"subflow:d0af469c.6fa198","z":"59bf9b4e.9d2cf4","name":"Hoved motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"11","type":"str"}],"x":890,"y":280,"wires":[]},{"id":"bcecda22.28a418","type":"subflow:d0af469c.6fa198","z":"59bf9b4e.9d2cf4","name":"Babord motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"10","type":"str"}],"x":890,"y":340,"wires":[]},{"id":"a9781181.bd4ec","type":"subflow:d0af469c.6fa198","z":"59bf9b4e.9d2cf4","name":"Styrbord motor","env":[{"name":"type","value":"servo","type":"str"},{"name":"pin","value":"9","type":"str"}],"x":900,"y":400,"wires":[]},{"id":"7e952ba4.ce8834","type":"subflow:a2853435.f7c1b8","z":"59bf9b4e.9d2cf4","name":"","env":[{"name":"type","value":"analogue","type":"str"},{"name":"pin","value":"A0","type":"str"}],"x":560,"y":540,"wires":[["e96948a5.6b94a8"]]},{"id":"e96948a5.6b94a8","type":"function","z":"59bf9b4e.9d2cf4","name":"A0 to batterivoltage","func":"//Forventer spenningsdeler 1kOhm av 1+2.2 = 3.2 kOhm\nmsg.payload = (3.2*5/1023*msg.payload).toFixed(2);\nnode.status({fill:\"green\",shape:\"dot\",text:msg.payload + \" V\"});\nif (msg.payload > 7.5){\n    return [null,msg];\n} else {\n    return [msg,msg];\n}","outputs":2,"noerr":0,"x":810,"y":540,"wires":[["fddfe04b.79326"],["4b05c2ad.380e2c","35b7eece.ac1d62"]],"inputLabels":["A0 input"],"outputLabels":["batterispenning kritisk lav","batterispenning"],"icon":"font-awesome/fa-battery-3"},{"id":"fddfe04b.79326","type":"debug","z":"59bf9b4e.9d2cf4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":500,"wires":[]},{"id":"418ba8d6.2870d8","type":"subflow:4c5cf294.2bebfc","z":"59bf9b4e.9d2cf4","name":"","env":[],"x":740,"y":760,"wires":[["c15b3255.0fdc","9eaaed78.08c4e"],["34d389b7.399606","aa9a9618.72a9d8"],["dfe055e9.a878e8"]]},{"id":"edafe21a.4eab8","type":"inject","z":"59bf9b4e.9d2cf4","name":"","topic":"test","payload":"32.545","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":460,"y":760,"wires":[["418ba8d6.2870d8"]]},{"id":"c15b3255.0fdc","type":"debug","z":"59bf9b4e.9d2cf4","name":"VFR_HUD","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":700,"wires":[]},{"id":"34d389b7.399606","type":"debug","z":"59bf9b4e.9d2cf4","name":"GLOBAL_POSITION_INT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":740,"wires":[]},{"id":"dfe055e9.a878e8","type":"debug","z":"59bf9b4e.9d2cf4","name":"Radio Control","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":880,"wires":[]},{"id":"51af6010.dd47b","type":"subflow:aef6bcd1.53f2","z":"59bf9b4e.9d2cf4","name":"","env":[{"name":"maxturning","value":"60","type":"num"}],"x":930,"y":980,"wires":[]},{"id":"3fbee9d5.680f96","type":"inject","z":"59bf9b4e.9d2cf4","name":"Fill battery","topic":"","payload":"{\"battery\" : \"full\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":960,"wires":[["51af6010.dd47b"]]},{"id":"a3b37969.53acb8","type":"inject","z":"59bf9b4e.9d2cf4","name":"Set position","topic":"posistion","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":1020,"wires":[["539e9653.fc9f08"]]},{"id":"539e9653.fc9f08","type":"change","z":"59bf9b4e.9d2cf4","name":"New position","rules":[{"t":"set","p":"lon","pt":"msg","to":"5.262922","tot":"num"},{"t":"set","p":"lat","pt":"msg","to":"60.394195","tot":"num"},{"t":"set","p":"heading","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"topic","pt":"msg","to":"posistion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1020,"wires":[["51af6010.dd47b"]]}]