2019-2023/Universal_Dualshock_subflow_v3.1.json
[{"id":"cf7c4432.a5acf8","type":"subflow","name":"Bluetooth I/O","info":"# Uses node-hid for interaction with Wireless Controller of type Dualshock PS4\n\n**Requires node-hid:**\nnpm install node-hid\nnpm install crc\n\n**Modify settings.js:**\nLinux:\nHID:require('/usr/lib/node_modules/node-hid/nodehid.js'),\ncrc:require('/home/pi/node_modules/crc')\nWindows:\nHID:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\node-hid\\\\nodehid.js'),\ncrc:require('C:\\\\Users\\\\<user>\\\\node_modules\\\\crc')\n\n**Add permission to udev:**\nsudo leafpad /etc/udev/rules.d/90-hidraw-permissions.rules\nKERNEL==\"hidraw*\", SUBSYSTEM==\"hidraw\", MODE=\"0664\", GROUP=\"plugdev\"\nsudo udevadm control --reload-rules\n\n**Example input variables:**\nmsg.rumbleLeft\nmsg.rumbleRight\nmsg.r\nmsg.g\nmsg.b\n\n**Example output:**\n{\"leftAnalogX\":132,\"leftAnalogY\":128,\"rightAnalogX\":126,\"rightAnalogY\":124,\"l2Analog\":0,\"r2Analog\":0,\"dPadUp\":false,\"dPadRight\":false,\"dPadDown\":false,\"dPadLeft\":false,\"cross\":false,\"circle\":false,\"square\":false,\"triangle\":false,\"l1\":false,\"l2\":false,\"r1\":false,\"r2\":false,\"l3\":false,\"r3\":false,\"share\":false,\"options\":false,\"trackPadButton\":false,\"psButton\":false,\"motionY\":-4,\"motionX\":0,\"motionZ\":6,\"orientationRoll\":-28,\"orientationYaw\":7976,\"orientationPitch\":1676,\"trackPadTouch0Id\":1,\"trackPadTouch0Active\":false,\"trackPadTouch0X\":1352,\"trackPadTouch0Y\":876,\"trackPadTouch1Id\":0,\"trackPadTouch1Active\":false,\"trackPadTouch1X\":0,\"trackPadTouch1Y\":0,\"timestamp\":10,\"batteryLevel\":6}\n\n**Comment:**\nRumble is set to reset itself, but also the controller will reset it after some time.","category":"Dualshock","in":[{"x":160,"y":880,"wires":[{"id":"323e2f3b.0a715"}]}],"out":[{"x":1240,"y":220,"wires":[{"id":"1e59b2b7.39643d","port":0}]},{"x":1240,"y":260,"wires":[{"id":"278108a6.e4f988","port":0}]},{"x":1240,"y":300,"wires":[{"id":"446e72c8.0d63bc","port":0}]},{"x":1240,"y":360,"wires":[{"id":"e6a0b36d.bb15b","port":0}]},{"x":1240,"y":400,"wires":[{"id":"45b27b6c.dfe5b4","port":0}]},{"x":1240,"y":440,"wires":[{"id":"89a67109.2697","port":0}]},{"x":1240,"y":480,"wires":[{"id":"2d27feef.4fc5f2","port":0}]},{"x":1240,"y":540,"wires":[{"id":"fd8937b.78cb0c8","port":0}]},{"x":1240,"y":580,"wires":[{"id":"4d29dc23.3d2d44","port":0}]},{"x":1240,"y":620,"wires":[{"id":"a7185cb8.3482d","port":0}]},{"x":1240,"y":660,"wires":[{"id":"41ac732f.111b9c","port":0}]},{"x":1240,"y":720,"wires":[{"id":"49d3fb93.d0da84","port":0}]},{"x":1240,"y":760,"wires":[{"id":"fa2a72a3.9d0de","port":0}]},{"x":1240,"y":820,"wires":[{"id":"ba5d2762.5bbdd8","port":0}]},{"x":1240,"y":860,"wires":[{"id":"964cea87.189588","port":0}]},{"x":1240,"y":900,"wires":[{"id":"a8382578.5fbe38","port":0}]},{"x":1240,"y":940,"wires":[{"id":"2b724dca.15dbd2","port":0}]},{"x":1240,"y":1000,"wires":[{"id":"ab8dc0fe.16eb6","port":0}]},{"x":1240,"y":1040,"wires":[{"id":"896c18a4.229898","port":0}]},{"x":1240,"y":1100,"wires":[{"id":"f4db2baf.2a9d28","port":0}]},{"x":1240,"y":1140,"wires":[{"id":"cbde625c.38eca","port":0}]},{"x":1240,"y":1200,"wires":[{"id":"dd2a8e70.da605","port":0}]},{"x":1240,"y":1240,"wires":[{"id":"98628ebe.0f31f","port":0}]},{"x":1240,"y":1300,"wires":[{"id":"adaa9e8e.e131f","port":0}]},{"x":780,"y":340,"wires":[{"id":"e8f63e8.55a69c","port":0}]},{"x":640,"y":880,"wires":[{"id":"323e2f3b.0a715","port":0}]}],"env":[],"color":"#C0DEED","inputLabels":["Input"],"outputLabels":["psButton","options","share","triangle","cross","square","circle","l1","l2","r1","r2","l3","r3","dPadUp","dPadDown","dPadLeft","dPadRight","leftAnalogX","leftAnalogY","rightAnalogX","rightAnalogY","l2Analog","r2Analog","batteryLevel","Raw data","Send-report"],"icon":"node-red/bluetooth.png","status":{"x":620,"y":360,"wires":[{"id":"ce0a8e4b.d074e","port":0},{"id":"b2a47bdb.5dc558","port":0},{"id":"88dcc031.f247c","port":0}]}},{"id":"4dd4280e.8ed768","type":"inject","z":"cf7c4432.a5acf8","name":"(Re)start receiving data","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["9126eede.2b86"]]},{"id":"273fe72e.4a8a78","type":"function","z":"cf7c4432.a5acf8","name":"List of devices","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\n//console.log('devices:', HID.devices());\nmsg.devices = HID.devices();\nflow.set(\"HIDdevices\",msg.devices);\n\n//var device = new HID.HID(0x54c,0x9cc,\"dc:0c:2d:f9:2c:a5\");\n//msg.report = device.getFeatureReport(0x04, 66);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["da02e161.f8339"]]},{"id":"da02e161.f8339","type":"debug","z":"cf7c4432.a5acf8","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"devices","targetType":"msg","x":650,"y":120,"wires":[]},{"id":"e8f63e8.55a69c","type":"function","z":"cf7c4432.a5acf8","name":"Continuous data-stream","func":"var HID = global.get(\"HID\");\n//HID.setDriverType('libusb');\n//HID.setDriverType('hidraw');\n\nvar product = \"Wireless Controller\";\n\n//var HIDdevices = flow.get(\"HIDdevices\");\n\nfunction findPathToProduct(product) {\n    var HIDdevices = flow.get(\"HIDdevices\")||[];\n    for (var i=0; i<HIDdevices.length; i++) {\n        //console.log(ports[i].manufacturer);\n        if (HIDdevices[i].product == product) {\n            flow.set(\"device\",HIDdevices[i]);\n            return HIDdevices[i].path;\n        }\n    }\n}\n\nvar devicepath = findPathToProduct(product);    //product description for DS4 as HID device\n\nif (devicepath === undefined) {\n    node.status({fill:\"red\",shape:\"ring\",text:'Device not found'});\n    return;\n} else {\n    node.status({fill:\"yellow\",shape:\"dot\",text:'Wireless Controller-device found at port '+devicepath});\n    console.log('Wireless Controller-device found at port '+devicepath);\n}\n\n//var device = new HID.HID(msg.payload[0].vendorId,msg.payload[0].productId,msg.payload[0].serialNumber);\nvar device = new HID.HID(devicepath);\n//msg.report = device.getFeatureReport(0x04, 66);\n\n// Buffer -> DS4State\nfunction parseDS4HIDData(buf) {\n  var dPad = buf[5] & 15;\n  return {\n    leftAnalogX: buf[1],\n    leftAnalogY: buf[2],\n    rightAnalogX: buf[3],\n    rightAnalogY: buf[4],\n    l2Analog: buf[8],\n    r2Analog: buf[9],\n\n    dPadUp:    dPad === 0 || dPad === 1 || dPad === 7,\n    dPadRight: dPad === 1 || dPad === 2 || dPad === 3,\n    dPadDown:  dPad === 3 || dPad === 4 || dPad === 5,\n    dPadLeft:  dPad === 5 || dPad === 6 || dPad === 7,\n\n    cross: (buf[5] & 32) !== 0,\n    circle: (buf[5] & 64) !== 0,\n    square: (buf[5] & 16) !== 0,\n    triangle: (buf[5] & 128) !== 0,\n\n    l1: (buf[6] & 0x01) !== 0,\n    l2: (buf[6] & 0x04) !== 0,\n    r1: (buf[6] & 0x02) !== 0,\n    r2: (buf[6] & 0x08) !== 0,\n    l3: (buf[6] & 0x40) !== 0,\n    r3: (buf[6] & 0x80) !== 0,\n\n    share: (buf[6] & 0x10) !== 0,\n    options: (buf[6] & 0x20) !== 0,\n    trackPadButton: (buf[7] & 2) !== 0,\n    psButton: (buf[7] & 1) !== 0,\n\n    // ACCEL/GYRO\n    motionY: buf.readInt16LE(13),\n    motionX: -buf.readInt16LE(15),\n    motionZ: -buf.readInt16LE(17),\n\n    orientationRoll: -buf.readInt16LE(19),\n    orientationYaw: buf.readInt16LE(21),\n    orientationPitch: buf.readInt16LE(23),\n\n    // TRACKPAD\n    trackPadTouch0Id: buf[35] & 0x7f,\n    trackPadTouch0Active: (buf[35] >> 7) === 0,\n    trackPadTouch0X: ((buf[37] & 0x0f) << 8) | buf[36],\n    trackPadTouch0Y: buf[38] << 4 | ((buf[37] & 0xf0) >> 4),\n\n    trackPadTouch1Id: buf[39] & 0x7f,\n    trackPadTouch1Active: (buf[39] >> 7) === 0,\n    trackPadTouch1X: ((buf[41] & 0x0f) << 8) | buf[40],\n    trackPadTouch1Y: buf[42] << 4 | ((buf[41] & 0xf0) >> 4),\n\n    timestamp: buf[7] >> 2,\n    //battery: buf[12],\n    //batteryShort1: buf[12] & 0x0f,\n    //batteryShort2: buf[12] & 0xf0,\n    batteryLevel: buf[12]\n  };\n}\n\ndevice.on('data', function(buf) {\n    //node.status({fill:\"green\",shape:\"dot\",text:'connected'});\n    //console.log(parseDS4HIDData(buf.slice(2)));\n    msg.payload = parseDS4HIDData(buf.slice(2));\n    node.send(msg);\n});\n\ndevice.on(\"error\", function(err) {\n    console.log(err);\n});\n","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["e8673479.ed5238","28ab1c9.c29f7e4","88ddc8c2.35bcb8","f7d63516.fa27b8","6adebd07.37be04","47809b.2fdfaf64","141e32a1.5ba7bd","15007dd0.680a42","484c1232.b42d9c","d3bfd424.d7efb8","f84b680d.ae2f98","7337b642.6f3738","aa389ea1.1c61f","11075ea0.b88251","2eaf5be9.bd6584","1b9ba9d1.206fc6","2afe1552.e3e9aa","53b44aed.d20854","b1dc335e.d1796","719d20cf.40ebb","c1f29fe3.c5b57","e23240d4.448f","f17c5dd2.d74ac","6f46d649.5fcba8","82773ef7.7885f","bb135780.96ad08"]]},{"id":"e8673479.ed5238","type":"debug","z":"cf7c4432.a5acf8","name":"","active":false,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":950,"y":80,"wires":[]},{"id":"28ab1c9.c29f7e4","type":"change","z":"cf7c4432.a5acf8","name":"batteryLevel","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.batteryLevel","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"batteryLevel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1300,"wires":[["adaa9e8e.e131f"]]},{"id":"adaa9e8e.e131f","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1300,"wires":[[]]},{"id":"323e2f3b.0a715","type":"function","z":"cf7c4432.a5acf8","name":"Send data","func":"var HID = global.get(\"HID\");\nvar crc = global.get(\"crc\");\n\nvar HIDdevice = flow.get(\"device\");\n\nvar device = new HID.HID(HIDdevice.path);\nmsg.report = device.getFeatureReport(0x04, 66);\n\nvar data = {};\n\n//data.rumbleRight = 200;\n//data.rumbleLeft = 200;\nif (msg.rumbleRight === undefined) {\n    data.rumbleRight = flow.get(\"rumbleRight\");\n} else {\n    data.rumbleRight = msg.rumbleRight;\n}\nif (msg.rumbleLeft === undefined) {\n    data.rumbleLeft = flow.get(\"rumbleLeft\");\n} else {\n    data.rumbleLeft = msg.rumbleLeft;\n}\n\n\n//data.r = 120;\n//data.g = 120;\n//data.b = 120;\nif (msg.r === undefined) {\n    data.r = flow.get(\"r\");\n} else {\n    data.r = msg.r;\n}\nif (msg.g === undefined) {\n    data.g = flow.get(\"g\");\n} else {\n    data.g = msg.g;\n}\nif (msg.b === undefined) {\n    data.b = flow.get(\"b\");\n} else {\n    data.b = msg.b;\n}\n\n//Save back to flow-variables\nflow.set(\"rumbleRight\",data.rumbleRight);\nflow.set(\"rumbleLeft\",data.rumbleLeft);\nflow.set(\"r\",data.r);\nflow.set(\"g\",data.g);\nflow.set(\"b\",data.b);\n\n// Set rumble and LED\n// stolen from:\n// https://github.com/torvalds/linux/blob/master/drivers/hid/hid-sony.c#L2048\n// https://github.com/todbot/node-hid-ds4-test/blob/master/node-hid-ds4-test.js\nfunction setRumbleLed(rumbleL, rumbleR, ledR,ledG,ledB) {\n\n    var buf = Array(78-4).fill(0); // 4 bytes short for CRC32 calc below\n    buf[0]  = 0x11; // reportId\n    buf[1]  = 0x80;\n    buf[3]  = 0x0f;\n    buf[6]  = rumbleL;\n    buf[7]  = rumbleR;\n    buf[8]  = ledR;\n    buf[9]  = ledG;\n    buf[10] = ledB;\n    \n    // calculate crc32, add those 4 bytes to end of buf array\n    var tmpbuf = buf.slice(0); // clone\n    tmpbuf.unshift( 0xA2 ); // add bluetooth header byte for crc32\n    var crc32 = crc.crc32( tmpbuf );\n    buf[74] = (crc32 & 0x000000ff) >> 0;\n    buf[75] = (crc32 & 0x0000ff00) >> 8;\n    buf[76] = (crc32 & 0x00ff0000) >> 16;\n    buf[77] = (crc32 & 0xff000000) >> 24;\n    // end crc32 calc\n    \n    //console.log(\"outbuf:\",\"len:\",buf.length, \"vals:\",buf.join(','));\n    device.write(buf);\n    //node.status({fill:\"green\",shape:\"dot\",text:'Message sent'});\n\n}\n\nsetRumbleLed( data.rumbleLeft, data.rumbleRight, data.r, data.g, data.b);\n\nif (data.rumbleLeft > 0 || data.rumbleRight > 0) {\n    msg.rumbleReset = true;\n} else {\n    msg.rumbleReset = false;\n    msg.reset = true;\n}\n\nreturn [msg,data];","outputs":2,"noerr":0,"x":330,"y":880,"wires":[["6bf75efd.a1335"],[]]},{"id":"da3cde8b.76051","type":"delay","z":"cf7c4432.a5acf8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":220,"wires":[["e8f63e8.55a69c"]]},{"id":"88ddc8c2.35bcb8","type":"trigger","z":"cf7c4432.a5acf8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reconnect if needed","x":980,"y":140,"wires":[["851bedb0.70897"]]},{"id":"851bedb0.70897","type":"change","z":"cf7c4432.a5acf8","name":"Set BluetoothAlive-flag","rules":[{"t":"set","p":"BluetoothAlive","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":140,"wires":[[]]},{"id":"7ae32aee.cf2f54","type":"inject","z":"cf7c4432.a5acf8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1190,"y":80,"wires":[["851bedb0.70897"]]},{"id":"9126eede.2b86","type":"switch","z":"cf7c4432.a5acf8","name":"","property":"BluetoothAlive","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":220,"wires":[["da3cde8b.76051","273fe72e.4a8a78","b2a47bdb.5dc558"],["88dcc031.f247c"]]},{"id":"ce0a8e4b.d074e","type":"status","z":"cf7c4432.a5acf8","name":"","scope":["e8f63e8.55a69c","323e2f3b.0a715"],"x":420,"y":380,"wires":[[]]},{"id":"b2a47bdb.5dc558","type":"function","z":"cf7c4432.a5acf8","name":"Reconnect status","func":"msg.payload = {fill:\"red\",shape:\"ring\",text:\"trying to reconnect\"};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[[]]},{"id":"f7d63516.fa27b8","type":"change","z":"cf7c4432.a5acf8","name":"psButton","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.psButton","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"psButton","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":220,"wires":[["1e59b2b7.39643d"]]},{"id":"1e59b2b7.39643d","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":220,"wires":[[]]},{"id":"6adebd07.37be04","type":"change","z":"cf7c4432.a5acf8","name":"options","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.options","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"options","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":260,"wires":[["278108a6.e4f988"]]},{"id":"278108a6.e4f988","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":260,"wires":[[]]},{"id":"47809b.2fdfaf64","type":"change","z":"cf7c4432.a5acf8","name":"share","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.share","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"share","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[["446e72c8.0d63bc"]]},{"id":"446e72c8.0d63bc","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":300,"wires":[[]]},{"id":"141e32a1.5ba7bd","type":"change","z":"cf7c4432.a5acf8","name":"triangle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.triangle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"triangle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":360,"wires":[["e6a0b36d.bb15b"]]},{"id":"e6a0b36d.bb15b","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":360,"wires":[[]]},{"id":"15007dd0.680a42","type":"change","z":"cf7c4432.a5acf8","name":"cross","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cross","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"cross","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":400,"wires":[["45b27b6c.dfe5b4"]]},{"id":"45b27b6c.dfe5b4","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":400,"wires":[[]]},{"id":"484c1232.b42d9c","type":"change","z":"cf7c4432.a5acf8","name":"square","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.square","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"square","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":440,"wires":[["89a67109.2697"]]},{"id":"89a67109.2697","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":440,"wires":[[]]},{"id":"d3bfd424.d7efb8","type":"change","z":"cf7c4432.a5acf8","name":"circle","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.circle","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"circle","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["2d27feef.4fc5f2"]]},{"id":"2d27feef.4fc5f2","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":480,"wires":[[]]},{"id":"f84b680d.ae2f98","type":"change","z":"cf7c4432.a5acf8","name":"leftAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1000,"wires":[["ab8dc0fe.16eb6"]]},{"id":"ab8dc0fe.16eb6","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1000,"wires":[[]]},{"id":"7337b642.6f3738","type":"change","z":"cf7c4432.a5acf8","name":"leftAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.leftAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"leftAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1040,"wires":[["896c18a4.229898"]]},{"id":"896c18a4.229898","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1040,"wires":[[]]},{"id":"aa389ea1.1c61f","type":"change","z":"cf7c4432.a5acf8","name":"rightAnalogX","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogX","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1100,"wires":[["f4db2baf.2a9d28"]]},{"id":"f4db2baf.2a9d28","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1100,"wires":[[]]},{"id":"11075ea0.b88251","type":"change","z":"cf7c4432.a5acf8","name":"rightAnalogY","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.rightAnalogY","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"rightAnalogY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1140,"wires":[["cbde625c.38eca"]]},{"id":"cbde625c.38eca","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1140,"wires":[[]]},{"id":"2eaf5be9.bd6584","type":"change","z":"cf7c4432.a5acf8","name":"l2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1200,"wires":[["dd2a8e70.da605"]]},{"id":"dd2a8e70.da605","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1200,"wires":[[]]},{"id":"1b9ba9d1.206fc6","type":"change","z":"cf7c4432.a5acf8","name":"r2Analog","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2Analog","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2Analog","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1240,"wires":[["98628ebe.0f31f"]]},{"id":"98628ebe.0f31f","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":1240,"wires":[[]]},{"id":"2afe1552.e3e9aa","type":"change","z":"cf7c4432.a5acf8","name":"l1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":540,"wires":[["fd8937b.78cb0c8"]]},{"id":"fd8937b.78cb0c8","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":540,"wires":[[]]},{"id":"53b44aed.d20854","type":"change","z":"cf7c4432.a5acf8","name":"l2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":580,"wires":[["4d29dc23.3d2d44"]]},{"id":"4d29dc23.3d2d44","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":580,"wires":[[]]},{"id":"b1dc335e.d1796","type":"change","z":"cf7c4432.a5acf8","name":"r1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r1","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["a7185cb8.3482d"]]},{"id":"a7185cb8.3482d","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":620,"wires":[[]]},{"id":"719d20cf.40ebb","type":"change","z":"cf7c4432.a5acf8","name":"r2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r2","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":660,"wires":[["41ac732f.111b9c"]]},{"id":"41ac732f.111b9c","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":660,"wires":[[]]},{"id":"c1f29fe3.c5b57","type":"change","z":"cf7c4432.a5acf8","name":"l3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.l3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"l3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":720,"wires":[["49d3fb93.d0da84"]]},{"id":"49d3fb93.d0da84","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":720,"wires":[[]]},{"id":"e23240d4.448f","type":"change","z":"cf7c4432.a5acf8","name":"r3","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.r3","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"r3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["fa2a72a3.9d0de"]]},{"id":"fa2a72a3.9d0de","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":760,"wires":[[]]},{"id":"f17c5dd2.d74ac","type":"change","z":"cf7c4432.a5acf8","name":"dPadUp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadUp","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadUp","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[["ba5d2762.5bbdd8"]]},{"id":"ba5d2762.5bbdd8","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":820,"wires":[[]]},{"id":"6f46d649.5fcba8","type":"change","z":"cf7c4432.a5acf8","name":"dPadDown","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadDown","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadDown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":860,"wires":[["964cea87.189588"]]},{"id":"964cea87.189588","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":860,"wires":[[]]},{"id":"82773ef7.7885f","type":"change","z":"cf7c4432.a5acf8","name":"dPadLeft","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadLeft","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadLeft","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":900,"wires":[["a8382578.5fbe38"]]},{"id":"a8382578.5fbe38","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":900,"wires":[[]]},{"id":"bb135780.96ad08","type":"change","z":"cf7c4432.a5acf8","name":"dPadRight","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.dPadRight","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"dPadRight","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":940,"wires":[["2b724dca.15dbd2"]]},{"id":"2b724dca.15dbd2","type":"rbe","z":"cf7c4432.a5acf8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1110,"y":940,"wires":[[]]},{"id":"88dcc031.f247c","type":"function","z":"cf7c4432.a5acf8","name":"Connected status","func":"msg.payload = {fill:\"green\",shape:\"dot\",text:'connected'};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":320,"wires":[[]]},{"id":"a3813200.bc5ae","type":"change","z":"cf7c4432.a5acf8","name":"Default color","rules":[{"t":"set","p":"r","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"g","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"b","pt":"flow","to":"64","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":680,"wires":[[]]},{"id":"11bf1076.b4307","type":"inject","z":"cf7c4432.a5acf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":680,"wires":[["a3813200.bc5ae","3ce91b1e.71d7c4"]]},{"id":"3ce91b1e.71d7c4","type":"change","z":"cf7c4432.a5acf8","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":720,"wires":[[]]},{"id":"2998da0a.73f6a6","type":"change","z":"cf7c4432.a5acf8","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"rumbleRight","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1020,"wires":[["323e2f3b.0a715"]]},{"id":"6bf75efd.a1335","type":"switch","z":"cf7c4432.a5acf8","name":"","property":"rumbleReset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":1020,"wires":[["72b79842.65d338"],["39acaaf8.4c71a6"]]},{"id":"39acaaf8.4c71a6","type":"trigger","z":"cf7c4432.a5acf8","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"1","extend":true,"units":"s","reset":"","bytopic":"all","name":"Reset timer","x":450,"y":1020,"wires":[["2998da0a.73f6a6"]]},{"id":"72b79842.65d338","type":"change","z":"cf7c4432.a5acf8","name":"Only One Reset","rules":[{"t":"delete","p":"rumbleReset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1000,"wires":[["39acaaf8.4c71a6"]]},{"id":"90d127b8.038ff8","type":"subflow:cf7c4432.a5acf8","z":"c227254.484e9d8","name":"","env":[],"x":610,"y":280,"wires":[["367767a8.ecdb28"],["b434f625.7195c8"],["8a01e210.fa634"],["d7d5e3d3.e9fbd"],["5dd2ce00.afef6"],["97e0907.e94577"],["59c7f81b.7c6298"],["e980c772.88bb78"],["e74da8ae.2e5208"],["5869acad.f11ea4"],["a3a74439.629828"],["a023b0b8.3a282"],["646a00c.7e643"],["cd3584d6.d45928"],["cf923609.f35c78"],["55b06aae.da01b4"],["b78b1a5b.9a8cd8"],["7224c120.cd5d"],["86424688.55bc18"],["eb927f6.b0fb58"],["41372794.56ce08"],["ae85f7c2.691ae8"],["5bdb2369.772e6c"],["faac1a1f.eabbf8"],["df3926fc.bd64e8"],["7099b28f.4c054c"]]},{"id":"367767a8.ecdb28","type":"debug","z":"c227254.484e9d8","name":"psButton","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":100,"wires":[]},{"id":"b434f625.7195c8","type":"debug","z":"c227254.484e9d8","name":"options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":140,"wires":[]},{"id":"8a01e210.fa634","type":"debug","z":"c227254.484e9d8","name":"share","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":180,"wires":[]},{"id":"d7d5e3d3.e9fbd","type":"debug","z":"c227254.484e9d8","name":"triangle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":240,"wires":[]},{"id":"5dd2ce00.afef6","type":"debug","z":"c227254.484e9d8","name":"cross","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":280,"wires":[]},{"id":"97e0907.e94577","type":"debug","z":"c227254.484e9d8","name":"square","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":320,"wires":[]},{"id":"59c7f81b.7c6298","type":"debug","z":"c227254.484e9d8","name":"circle","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":360,"wires":[]},{"id":"e980c772.88bb78","type":"debug","z":"c227254.484e9d8","name":"l1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":420,"wires":[]},{"id":"e74da8ae.2e5208","type":"debug","z":"c227254.484e9d8","name":"l2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":460,"wires":[]},{"id":"5869acad.f11ea4","type":"debug","z":"c227254.484e9d8","name":"r1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":500,"wires":[]},{"id":"a3a74439.629828","type":"debug","z":"c227254.484e9d8","name":"r2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":540,"wires":[]},{"id":"a023b0b8.3a282","type":"debug","z":"c227254.484e9d8","name":"l3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":600,"wires":[]},{"id":"646a00c.7e643","type":"debug","z":"c227254.484e9d8","name":"r3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":640,"wires":[]},{"id":"cd3584d6.d45928","type":"debug","z":"c227254.484e9d8","name":"dPadUp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":700,"wires":[]},{"id":"cf923609.f35c78","type":"debug","z":"c227254.484e9d8","name":"dPadDown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":740,"wires":[]},{"id":"55b06aae.da01b4","type":"debug","z":"c227254.484e9d8","name":"dPadLeft","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1220,"y":780,"wires":[]},{"id":"b78b1a5b.9a8cd8","type":"debug","z":"c227254.484e9d8","name":"dPadRight","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":820,"wires":[]},{"id":"7224c120.cd5d","type":"debug","z":"c227254.484e9d8","name":"leftAnalogX","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":680,"wires":[]},{"id":"86424688.55bc18","type":"debug","z":"c227254.484e9d8","name":"leftAnalogY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":720,"wires":[]},{"id":"eb927f6.b0fb58","type":"debug","z":"c227254.484e9d8","name":"rightAnalogX","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":760,"wires":[]},{"id":"41372794.56ce08","type":"debug","z":"c227254.484e9d8","name":"rightAnalogY","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":800,"wires":[]},{"id":"ae85f7c2.691ae8","type":"debug","z":"c227254.484e9d8","name":"l2Analog","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":840,"wires":[]},{"id":"5bdb2369.772e6c","type":"debug","z":"c227254.484e9d8","name":"r2Analog","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":880,"wires":[]},{"id":"faac1a1f.eabbf8","type":"debug","z":"c227254.484e9d8","name":"batteryLevel","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":820,"wires":[]},{"id":"df3926fc.bd64e8","type":"debug","z":"c227254.484e9d8","name":"Raw data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":860,"wires":[]},{"id":"40364c.a9f069b4","type":"change","z":"c227254.484e9d8","name":"Default color","rules":[{"t":"set","p":"r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"64","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":200,"wires":[["90d127b8.038ff8"]]},{"id":"e0b46c7f.b9727","type":"change","z":"c227254.484e9d8","name":"No Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["90d127b8.038ff8"]]},{"id":"4dcbb15b.316aa","type":"inject","z":"c227254.484e9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":200,"wires":[["40364c.a9f069b4"]]},{"id":"7a0c57af.6dabe8","type":"inject","z":"c227254.484e9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["e0b46c7f.b9727"]]},{"id":"7099b28f.4c054c","type":"debug","z":"c227254.484e9d8","name":"Send-report","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":920,"wires":[]},{"id":"18e09825.d21008","type":"change","z":"c227254.484e9d8","name":"Color OFF","rules":[{"t":"set","p":"r","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":400,"wires":[["90d127b8.038ff8"]]},{"id":"54f81e79.ad09b","type":"inject","z":"c227254.484e9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":400,"wires":[["18e09825.d21008"]]},{"id":"44d30a12.528194","type":"change","z":"c227254.484e9d8","name":"Full Rumble","rules":[{"t":"set","p":"rumbleRight","pt":"msg","to":"255","tot":"num"},{"t":"set","p":"rumbleLeft","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":460,"wires":[["90d127b8.038ff8"]]},{"id":"5ca8cc99.aaf914","type":"inject","z":"c227254.484e9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":460,"wires":[["44d30a12.528194"]]},{"id":"9b2a4107.07ed","type":"change","z":"c227254.484e9d8","name":"White color","rules":[{"t":"set","p":"r","pt":"msg","to":"254","tot":"num"},{"t":"set","p":"g","pt":"msg","to":"254","tot":"num"},{"t":"set","p":"b","pt":"msg","to":"254","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":360,"wires":[["90d127b8.038ff8"]]},{"id":"402d6310.1eed7c","type":"inject","z":"c227254.484e9d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["9b2a4107.07ed"]]}]